.sheet-grid
    .sheet-grid__cell.sheet-grid__cell--7-12
        include levels

    .sheet-grid__cell.sheet-grid__cell--5-12
        include resources

.sheet-card
    .sheet-row
        .sheet-row__cell
            .sheet-hdg Class Features
            textarea(name="attr_class_features")

        .sheet-row__cell
            .sheet-hdg Other Class Abilities, Notes and Feats
            textarea(name="attr_class_abilities_and_feats")

.sheet-card
    h1.sheet-hdg Class Actions/Macros

    p.sheet-note Use this section to quickly create useful class macros for often used features or abilities.  For example, channel divinity options, bardic performance options, Ki point using abilities, etc...  You can also use this section for any custom macro you want that the sheet doesnt currently include.

    .sheet-row.sheet-row--hd
        .sheet-row__cell.sheet-row__cell--4 Name
        .sheet-row__cell.sheet-row__cell--7 Description
        .sheet-row__cell.sheet-row__cell--sm Macro

    fieldset.repeating_classactions

        .sheet-row
            .sheet-row__cell.sheet-row__cell--4
                input.sheet-field(type="text" name="attr_classactionname")
            .sheet-row__cell.sheet-row__cell--7
                textarea.sheet-field(name="attr_classactiondescription")
            .sheet-row__cell.sheet-row__cell--sm
                +roll(
                    name='roll_ClassAction'
                    value="/em uses @{classactionname} \n\n@{classactiondescription}"
                )
