.sheet-grid.sheet-grid--pad.sheet-grid--col
    .sheet-grid__cell
        h1.hdg Class Levels, Features, Notes and Feats
            i.sheet-pictos Y

    .sheet-grid__cell
        .sheet-grid.sheet-grid--pad
            .sheet-grid__cell.sheet-grid__cell--7-12
                include pc-class-levels

            .sheet-grid__cell.sheet-grid__cell--5-12.sheet-grid__cell--align-top
                include pc-class-resources

    .sheet-grid__cell
        .sheet-grid.sheet-grid--pad
            .sheet-grid__cell.sheet-grid__cell--1-2

                .sheet-grid
                    .sheet-grid__cell.sheet-grid__cell--1.sheet-grid--sub Class Features
                textarea(name="attr_class_features")



            .sheet-grid__cell.sheet-grid__cell--1-2
                .sheet-grid
                    .sheet-grid__cell.sheet-grid__cell--1.sheet-grid--sub Other Class Abilities, Notes and Feats    
                textarea(name="attr_class_abilities_and_feats")

    .sheet-grid__cell
        h1.hdg Class Actions/Macros     
            i.sheet-pictos l        
        p.sheet-note Use this section to quickly create useful class macros for often used features or abilities.  For example, channel divinity options, bardic performance options, Ki point using abilities, etc...  You can also use this section for any custom macro you want that the sheet doesnt currently include.</p>

        .sheet-grid.sheet-grid--sub
            .sheet-grid__cell.sheet-grid__cell--4-12 Name
            .sheet-grid__cell.sheet-grid__cell--7-12 Description
            .sheet-grid__cell.sheet-grid__cell--1-12 Macro

        fieldset.repeating_classactions

            .sheet-grid.sheet-grid--split
                .sheet-grid__cell.sheet-grid__cell--4-12
                    input(type="text" name="attr_classactionname")
                .sheet-grid__cell.sheet-grid__cell--7-12
                    textarea(name="attr_classactiondescription")
                .sheet-grid__cell.sheet-grid__cell--1-12 
                    +roll(
                        name='roll_ClassAction' 
                        value="/em uses @{classactionname} \n\n@{classactiondescription}"
                    )
