<h1 class="hdg">Class Levels, Features, Notes and Feats<i class="sheet-pictos">Y</i></h1>

<div class="grid">


    <div class="grid__cell grid__cell--7-12">

        <div class="grid grid--sub">
            <div class="grid__cell grid__cell--1 sheet-center label">Class Levels</div>
        </div>

        <div class="grid">
            <div class="grid__cell grid__cell--1-8 sheet-center sheet-margin-top">Barbarian</div>
            <div class="grid__cell grid__cell--1-8 sheet-center"><input type="number" id="attr_barbarian_level" name="attr_barbarian_level" value="0" min="0" step="1"></div>

            <div class="grid__cell grid__cell--1-8 sheet-center sheet-margin-top">Bard</div>
            <div class="grid__cell grid__cell--1-8 sheet-center"><input type="number" id="attr_bard_level" name="attr_bard_level" value="0" min="0" step="1"></div>

            <div class="grid__cell grid__cell--1-8 sheet-center sheet-margin-top">Cleric</div>
            <div class="grid__cell grid__cell--1-8 sheet-center"><input type="number" id="attr_cleric_level" name="attr_cleric_level" value="0" min="0" step="1"></div>

            <div class="grid__cell grid__cell--1-8 sheet-center sheet-margin-top">Druid</div>
            <div class="grid__cell grid__cell--1-8 sheet-center"><input type="number" id="attr_druid_level" name="attr_druid_level" value="0" min="0" step="1"></div>
        </div>

        <div class="grid">
            <div class="grid__cell grid__cell--1-8 sheet-center sheet-margin-top">Fighter</div>
            <div class="grid__cell grid__cell--1-8 sheet-center"><input type="number" id="attr_fighter_level" name="attr_fighter_level" value="0" min="0" step="1"></div>

            <div class="grid__cell grid__cell--1-8 sheet-center sheet-margin-top">Monk</div>
            <div class="grid__cell grid__cell--1-8 sheet-center"><input type="number" id="attr_monk_level" name="attr_monk_level" value="0" min="0" step="1"></div>

            <div class="grid__cell grid__cell--1-8 sheet-center sheet-margin-top">Paladin</div>
            <div class="grid__cell grid__cell--1-8 sheet-center"><input type="number" id="attr_paladin_level" name="attr_paladin_level" value="0" min="0" step="1"></div>

            <div class="grid__cell grid__cell--1-8 sheet-center sheet-margin-top">Ranger</div>
            <div class="grid__cell grid__cell--1-8 sheet-center"><input type="number" id="attr_ranger_level" name="attr_ranger_level" value="0" min="0" step="1"></div>
        </div>

        <div class="grid">
            <div class="grid__cell grid__cell--1-8 sheet-center sheet-margin-top">Rogue</div>
            <div class="grid__cell grid__cell--1-8 sheet-center"><input type="number" id="attr_rogue_level" name="attr_rogue_level" value="0" min="0" step="1"></div>

            <div class="grid__cell grid__cell--1-8 sheet-center sheet-margin-top">Sorcerer</div>
            <div class="grid__cell grid__cell--1-8 sheet-center"><input type="number" id="attr_sorcerer_level" name="attr_sorcerer_level" value="0" min="0" step="1"></div>

            <div class="grid__cell grid__cell--1-8 sheet-center sheet-margin-top">Warlock</div>
            <div class="grid__cell grid__cell--1-8 sheet-center"><input type="number" id="attr_warlock_level" name="attr_warlock_level" value="0" min="0" step="1"></div>

            <div class="grid__cell grid__cell--1-8 sheet-center sheet-margin-top">Wizard</div>
            <div class="grid__cell grid__cell--1-8 sheet-center"><input type="number" id="attr_wizard_level" name="attr_wizard_level" value="0" min="0" step="1"></div>
        </div>

    </div>


    <div class="grid__cell grid__cell--5-12">

        <div class="grid grid--sub">
            <div class="grid__cell grid__cell--1 sheet-center label">Class Resources</div>

        </div>

        <div class="grid">
            <div class="grid__cell grid__cell--5-12 sheet-center label">Name</div>
            <div class="grid__cell grid__cell--1-4 sheet-center label">Recharge</div>
            <div class="grid__cell grid__cell--1-6 sheet-center label">Current</div>
            <div class="grid__cell grid__cell--1-6 sheet-center label">Max</div>
        </div>

        <fieldset class="repeating_classresources">

            <div class="grid">
                <div class="grid__cell grid__cell--5-12"><input type="text" id="attr_ClassResourceName" name="attr_ClassResourceName"/></div>
                <div class="grid__cell grid__cell--1-4">
                    <select id="attr_ClassResourceRecharge" name="attr_ClassResourceRecharge">
                        <option value="None">None</option>
                        <option value="Short Rest">Short Rest</option>
                        <option value="Long rest">Long Rest</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="grid__cell grid__cell--1-6"><input type="number" id="attr_ClassResourceTotal" name="attr_ClassResourceTotal" value="1"/></div>
                <div class="grid__cell grid__cell--1-6"><input type="number" id="attr_ClassResourceTotal_max" name="attr_ClassResourceTotal_max" value="1"/></div>
            </div>

        </fieldset>


    </div>

</div>

<div class="grid">

    <div class="grid__cell grid__cell--1-2">

        <div class="grid">
            <div class="grid__cell grid__cell--1 grid--sub sheet-center label">Class Features</div>
        </div>
        <textarea id="attr_class_features" name="attr_class_features" class="sheet-large-textarea"></textarea>

    </div>

    <div class="grid__cell grid__cell--1-2">
        <div class="grid">
            <div class="grid__cell grid__cell--1 grid--sub sheet-center label">Other Class Abilities, Notes and Feats</div>
        </div>
        <textarea id="attr_class_abilities_and_feats" name="attr_class_abilities_and_feats" class="sheet-large-textarea"></textarea>
    </div>

</div>

<h1 class="hdg">Class Actions/Macros <i class="sheet-pictos">l</i></h1>
<div class="grid">

    <div class="grid__cell grid__cell--1">
        <p class="sheet-small-note">Use this section to quickly create useful class macros for often used features or abilities.  For example, channel divinity options, bardic performance options, Ki point using abilities, etc...  You can also use this section for any custom macro you want that the sheet doesnt currently include.</p>

        <div class="grid grid--sub">
            <div class="grid__cell grid__cell--7-24 sheet-padl">Name</div>
            <div class="grid__cell grid__cell--15-24">Description</div>
            <div class="grid__cell grid__cell--1-12">Macro</div>
        </div>

        <fieldset class="repeating_classactions">

            <div class="grid">
                <div class="grid__cell grid__cell--7-24 sheet-padl sheet-padt"><input type="text" class="sheet-center" id="attr_classactionname" name="attr_classactionname"></div>
                <div class="grid__cell grid__cell--15-24 sheet-margin-top"><textarea class="sheet-medium-textarea" id="attr_classactiondescription" name="attr_classactiondescription"></textarea></div>
                <div class="grid__cell grid__cell--1-12 sheet-padt sheet-center"><button type='roll' class="sheet-roll" name='roll_ClassAction' value="/em uses @{classactionname} \n\n@{classactiondescription}" >Use</button></div>
            </div>

        </fieldset>


    </div>


</div>
