.sheet
    input.sheet--is-npc(
        type="checkbox"
        id="attr_is_npc"
        name="attr_is_npc"
        value="1"
    )
    .sheet--hd {{> sheet-hd }}
    .sheet--bd.sheet--bd__pc {{> sheet-pc }}
    .sheet--bd.sheet--bd__npc {{> sheet-npc }}
