include sheet-vars
include sheet-mixins

.sheet-wrapper
    .sheet-main
        input.sheet-main__type(
            type="checkbox"
            name="attr_is_npc"
            value="1"
        )
        .sheet-main__hd 
            include sheet-hd
        .sheet-main__bd.sheet__bd__pc 
            include sheet-pc
        .sheet-main__bd.sheet__bd__npc
            //- include sheet-npc
 
