<div class="tabs">
    <input type="radio" id="attr_tab" name="attr_tab" class="tabs--tab tabs--tab__1" value="1" title="Core Stats"/>
    <input type="radio" id="attr_tab" name="attr_tab" class="tabs--tab tabs--tab__2" value="2" title="Skills" checked/>
    <input type="radio" id="attr_tab" name="attr_tab" class="tabs--tab tabs--tab__3" value="3" title="Background"/>
    <input type="radio" id="attr_tab" name="attr_tab" class="tabs--tab tabs--tab__4" value="4" title="Class"/>
    <input type="radio" id="attr_tab" name="attr_tab" class="tabs--tab tabs--tab__5" value="5" title="Weapons"/>
    <input type="radio" id="attr_tab" name="attr_tab" class="tabs--tab tabs--tab__6" value="6" title="Spellbook"/>
    <input type="radio" id="attr_tab" name="attr_tab" class="tabs--tab tabs--tab__8" value="8" title="Armour"/>
    <input type="radio" id="attr_tab" name="attr_tab" class="tabs--tab tabs--tab__7" value="7" title="Inventory"/>
    <input type="radio" id="attr_tab" name="attr_tab" class="tabs--tab tabs--tab__0" value="0" title="Show All"/>

    <div class="tabs--section tabs--section__1">{{> pc-core}}</div>
    <div class="tabs--section tabs--section__2">{{> pc-skills}}</div>
    <div class="tabs--section tabs--section__3">{{> pc-background}}</div>
    <div class="tabs--section tabs--section__4">{{> pc-skills}}</div>
    <div class="tabs--section tabs--section__5">{{> pc-weapons}}</div>
    <div class="tabs--section tabs--section__6">{{> pc-spellbook}}</div>
    <div class="tabs--section tabs--section__7">{{> pc-inventory}}</div>
    <div class="tabs--section tabs--section__8">{{> pc-armour}}</div>
</div>
