<div class="grid grid--pad">
    <div class="grid__cell grid__cell--5-12">
        <img src="http://i.imgur.com/Y8KHPKm.png" alt="Dungeons and Dragons (5th edition)">
    </div>
    <div class="grid__cell grid__cell--3-12">
        <label class="field">
            <span class="field__label">Character Name</span>
            <input class="field field__field" type="text" id="attr_character_name" name="attr_character_name">
        </label>
    </div>
    <div class="grid__cell grid__cell--2-12">
        <label class="field">
            <span class="field__label">Race</span>
            <input class="field__field" type="text" id="attr_race" name="attr_race">
        </label>
    </div>
    <div class="grid__cell grid__cell--2-12">
        <label class="field">
            <span class="field__label">Class</span>
            <input class="field__field" type="text" id="attr_class" name="attr_class">
        </label>
    </div>
</div>
