FIELD_LABEL_LAYER = HIGH + 100
FIELD_FIELD_LAYER = HIGH

FIELD_HEIGHT = 2.7rem

FIELD_LABEL_FONT_SIZE = FONT_SIZE_SM
FIELD_LABEL_HEIGHT = FIELD_LABEL_FONT_SIZE * 1.5
FIELD_LABEL_OVERLAP = FIELD_LABEL_HEIGHT * 1

.sheet-field
    border-radius inherit
    display flex
    flex-direction column
    flex 1
    position relative
    background-color white
    width 100% !important

.sheet-field[disabled],
.sheet-field--disabled
    background-color PALE
    cursor not-allowed

.sheet-field--blue,
.sheet-field--blue[disabled]
    background-color BRIGHT_PALE_BLUE

.sheet-field--hdg
    font-size FONT_SIZE
    background-color LIGHT

.sheet-field--label-select
.sheet-field--select
    &::before,
    &::after
        position absolute
        top calc(50% + 1px)
        right (HEIGHT/3)
        border (HEIGHT/8) solid transparent
        border-top (HEIGHT/5) solid FADED_GRAY
        border-bottom 0
        content " "

    &::before
        transform rotate(180deg) translateY(HEIGHT/4)


.sheet-field--label-select
    &::before,
    &::after
        top (HEIGHT*0.4)

.sheet-field__label
    align-items center
    background inherit
    bottom 0
    color FADED_GRAY
    display flex
    font-size FIELD_LABEL_FONT_SIZE
    height FIELD_LABEL_HEIGHT
    left 0
    line-height 1 // always 1 line
    margin 1px
    position absolute
    right 0
    z-index FIELD_LABEL_LAYER

.sheet-field__label + *
    flex 1
    height FIELD_HEIGHT !important
    padding-bottom FIELD_LABEL_OVERLAP
    z-index FIELD_FIELD_LAYER
    border-radius inherit
    background-color transparent !important
    display flex !important
    width 100% !important
    border 1px solid transparent
    align-content center
    flex-direction column
    padding-top 0.2rem

.sheet-field:disabled,
.sheet-field > :disabled
    padding-left 0 !important // reset number padding


.sheet-field > select
    background-position-y 14%

.sheet-field__fieldWrapper
    flex 1
    display flex

.sheet-field__label + textarea:after {
    display block
    height FIELD_LABEL_HEIGHT
    content " "
}
