.sheet-field
    border 1px solid transparent
    min-height HEIGHT
    width 100% !important
    padding 0 (HEIGHT/3)
    flex 1

.sheet-field:focus
    border-color BLUE

.sheet-field:disabled
    background-color PALE
    padding-left 0 !important // reset number padding

.sheet-field--alt:disabled
    background-color BRIGHT_PALE_BLUE

.sheet-field--select
    -webkit-appearance none
    padding-right (HEIGHT*0.75)
    background-image url("https://d30y9cdsu7xlg0.cloudfront.net/svg/ab9d52ac-5cc0-4a3e-8d41-6249d6e7b5ef.svg?Expires=1424573968&Signature=ZjnE58Ref66aPIxbh6~fml1wzrRjdCcNbvlfEpDmscKD-Vszxy9QbkJaDcw4R99NX~xv42UPtc-gCxZ5WygA-cm1XnuDzoGtI7J0NFlT-PdY48jLUhNOpPjfJd8NPA8LyACVSYm1aXZOPKAAV9n6FhKYFxqqZ5sUkDmVWWzGQ7c_&Key-Pair-Id=APKAI5ZVHAXN65CHVU2Q")
    background-size (HEIGHT/3)
    background-repeat no-repeat
    background-position 'calc(100% - %s)' % (HEIGHT/4)
