FIELD_LABEL_LAYER = HIGH + 100
FIELD_FIELD_LAYER = HIGH

FIELD_HEIGHT = 2.7rem

FIELD_LABEL_HEIGHT = PAD
FIELD_LABEL_FONT_SIZE = FONT_SIZE_SM
FIELD_LABEL_OVERLAP = FIELD_LABEL_HEIGHT * 0.7

.sheet-field
    border-radius inherit
    display flex
    flex-direction column
    flex 1
    position relative
    background-color white

.sheet-field[disabled],
.sheet-field--disabled
    background-color PALE
    cursor not-allowed
    padding 0 // reset number padding

.sheet-field--blue,
.sheet-field--blue[disabled]
    background-color BRIGHT_PALE_BLUE

.sheet-field--hdg
    font-size FONT_SIZE
    background-color LIGHT

.sheet-field__label
    bottom 0
    color FADED_GRAY
    font-size FIELD_LABEL_FONT_SIZE
    left 0
    position absolute
    right 0
    z-index FIELD_LABEL_LAYER
    height FIELD_LABEL_HEIGHT

.sheet-field__field,
.sheet-field > select,
.sheet-field > input
    flex 1
    height FIELD_HEIGHT
    padding-bottom FIELD_LABEL_OVERLAP
    z-index FIELD_FIELD_LAYER
    border-radius inherit
    background-color transparent !important
    display flex !important

.sheet-field > select
    background-position-y 14%

.sheet-field__fieldWrapper
    flex 1
    display flex
