GRID_PAD = PAD / 2

grid-border()
    &::after
        border 0 solid BORDER_COLOR
        content " "
        position absolute
        top 0
        right 0
        left 0
        bottom 0
        pointer-events none
        {block}

.sheet-grid
    min-width 100%
    align-items stretch
    display flex
    position relative // for borders
    min-height HEIGHT

.sheet-grid--col
    display block

// space between cells

.sheet-grid--pad
    margin (- PAD / 2)

.sheet-grid--pad > *
    padding (PAD / 2)

// dividers between cells

.sheet-grid--split > *
    background-color white
    +grid-border()
        border-bottom-width 1px

.sheet-grid--split > :first-child::after
    border-left-width 1px

.sheet-grid--split > :last-child::after
    border-right-width 1px

// alternate colors

.sheet-grid--sub
    background-color alpha(DARK_GRAY, 0.9)
    color white
    font-size FONT_SIZE_SM
    min-height HEIGHT
    +grid-border()
        border-bottom-width 1px

// grid items

.sheet-grid__cell
    flex 1
    position relative // for borders
    display flex
    flex-direction column

.sheet-grid--pad > *
    justify-content flex-start

// alignment

.sheet-grid__cell--center
    justify-content center

// sizes

SHEET_GRID_BASE_WIDTH = HEIGHT * 1.5

.sheet-grid__cell--sm
    flex HIGH
    max-width SHEET_GRID_BASE_WIDTH

.sheet-grid__cell--md
    flex HIGH
    max-width SHEET_GRID_BASE_WIDTH * 2

.sheet-grid__cell--lg
    flex HIGH
    max-width SHEET_GRID_BASE_WIDTH * 3

.sheet-grid__cell--xlg
    flex HIGH
    max-width SHEET_GRID_BASE_WIDTH * 4

.sheet-grid__cell--xxlg
    flex HIGH
    max-width SHEET_GRID_BASE_WIDTH * 5

.sheet-grid__cell--mdPlus
    flex HIGH
    max-width SHEET_GRID_BASE_WIDTH * 3.5

for grow in (1...10)
    .sheet-grid__cell--{grow}
        flex-grow (grow)
