grid-border()
    &::after
        border 0 solid BORDER_COLOR
        content " "
        position absolute
        top 0
        right 0
        left 0
        bottom 0
        pointer-events none
        {block}

.sheet-grid
    min-width 100%
    align-items stretch
    display flex
    position relative // for borders
    min-height HEIGHT

.sheet-grid--pad
    margin (- PAD / 2)
    min-width calc(100% - @margin)

.sheet-grid--col
    flex-direction column

/* grid items */

.sheet-grid > *
    flex 1
    position relative // for borders

.sheet-grid--pad > *
    border-radius RADIUS
    padding (PAD / 2)

.sheet-grid--split > *
    background-color white
    +grid-border()
        border-bottom-width 1px
        border-left-width 1px

.sheet-grid--split > :last-child::after
    border-right-width 1px

// alternate colors

.sheet-grid--sub
    background-color alpha(DARK_GRAY, 0.9)
    color white
    font-size FONT_SIZE_SM
    min-height HEIGHT
    +grid-border()
        border-bottom-width 1px

// sizes

.sheet-grid__cell--1 {
    flex none
    width 100%
}

for max in (2...13) {
    for span in (1...max) {
        .sheet-grid__cell--{span}-{max} {
            flex none
            width (span / max) * 100%
        }
    }
}

// content alignment
.sheet-grid__cell
    display flex
    flex-direction column

.sheet-grid__cell--align-top
    justify-content flex-start
