GRID_PAD = PAD

grid-border()
    &::after
        border 0 solid BORDER_COLOR
        content " "
        position absolute
        top 0
        right 0
        left 0
        bottom 0
        pointer-events none
        {block}

.sheet-grid
    min-width 100%
    align-items stretch
    display flex
    position relative // for borders
    min-height HEIGHT
    margin-top (- GRID_PAD)
    margin-left (- GRID_PAD)

// grid items

.sheet-grid__cell
    flex 1
    position relative // for borders
    display flex
    flex-direction column
    justify-content flex-start
    padding-top GRID_PAD
    padding-left GRID_PAD

// sizes

for grow in (1...10)
    .sheet-grid__cell--{grow}
        flex-grow (grow)
