.sheet-hdg {
    align-items center
    border-top-left-radius RADIUS
    border-top-right-radius RADIUS
    background-color DARK_GRAY
    color white
    display flex
    height HEIGHT
    font-size FONT_SIZE
    text-transform capitalize
    border-bottom 1px solid alpha(black, 0.1)
}

.sheet-hdg--2
    font-size FONT_SIZE_SM
    background-color GRAY
