.pictos,
.sheet-pictos
    font-family: "Pictos"

.sheet-pictos-custom {
    font-family: "Pictos Custom";
}

.sheet-pictos-three {
    font-family: "Pictos Three";
}

.sheet-d6-font {
    font-family: "dicefontd6";
}

.sheet-d8-font {
    font-family: "dicefontd8";
}

.sheet-d10-font {
    font-family: "dicefontd10";
}

.sheet-d20-font {
    font-family: "dicefontd20";
}

[class*=sheet-pictos],
[class^=sheet-d][class$=-font] {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    display: flex;
}
