.label {
    display flex
    flex 1
    font-size (FONT_SIZE/GOLDEN_RATIO)
    text-align center
    align-items center
}

.label--tall
    min-height HEIGHT

.label--core-stat
    background-color FADED_GRAY
    color white
    text-transform uppercase
