.label
    align-items center
    background-color LIGHT
    display flex
    flex 1
    flex-direction column-reverse
    font-size FONT_SIZE_SM
    text-align center

.label--tall
    min-height HEIGHT

.label--core-stat
    background-color FADED_GRAY
    color white
    text-transform uppercase

.label--title
    border-radius RADIUS
