.label
    align-items center
    background-color white
    display flex
    flex 1
    flex-direction column-reverse
    font-size (FONT_SIZE/GOLDEN_RATIO)
    text-align center
    color LIGHT_GRAY

.label--tall
    min-height HEIGHT

.label--core-stat
    background-color FADED_GRAY
    color white
    text-transform uppercase

.label--title
    border-radius RADIUS
