.sheet-main--bd
    flex-direction row // for alignment of tabs

.sheet-main--bd__pc,
.sheet-main--bd__npc
    display none

.sheet-main--is-npc:checked ~ .sheet-main--bd__npc,
.sheet-main--is-npc:not(:checked) ~ .sheet-main--bd__pc
    display block
