/* sheet type button */

// [1] override base.css

.sheet-main--is-npc {
    -webkit-appearance none
    align-items center
    background-color BLUE
    border-radius RADIUS !important // [1]
    color white
    display flex
    height HEIGHT !important // [1]
    margin 0 !important // [1]
    width 100% !important // [1]
}

.sheet-main--is-npc:checked {
    background-color PALE
    color DARK_GRAY
}

.sheet-main--is-npc::after {
    content "Player Sheet"
}

.sheet-main--is-npc:checked::after {
    content "NPC Sheet"
}
