.sheet-note {
    font-size: 0.6rem;
    text-align: center;
    line-height: 1rem;
    color: rgba(0,0,0,0.5);
    display: flex;
    background: #ffffff;
    margin: 0;
    line-height: 1.2em;
    padding: 0.3rem;
    padding-left:1rem;
    padding-right: 1rem;
    align-self: stretch;
    height: auto;
}
