.sheet-roll
    -webkit-font-smoothing auto // make the icon appear thicker
    background #E0A32A
    color #fff
    cursor pointer
    flex 1
    font-size 0 // show only icon
    margin 0 !important
    border-radius 0 !important

.sheet-roll:hover
    opacity 0.9

.sheet-roll:before
    content: "t";
    font-family: "dicefontd20"; // set up in roll20's css
    font-size FONT_SIZE * 1.4 // reset icon size
