.sheet-select
    border 1px solid transparent
    padding-right (HEIGHT*0.75)
    background-image url("https://d30y9cdsu7xlg0.cloudfront.net/icon_uploads/53d5dd51-a802-47dc-91ab-ac7fa8fe2197.svg?Expires=1424573579&Signature=Oy8CVTIm5F4yxRFLu-1VJdk-mURbxttBIv4Wq3pG7djn~nO03UdzeSQR1BpcqIm-E8NM95PVWHtxhFLnGeIa9TRLx9pJW6qixabTugwztCcIvj8IfxjfMXO9ag05SgqOrI2GBQTRmBXc9-FeXZ6W7NR1wWRQoyqPQmsILuw6dQ4_&Key-Pair-Id=APKAI5ZVHAXN65CHVU2Q")
