.sheet-select
    border 1px solid transparent
    padding-right (HEIGHT*0.75)

    &::before,
    &::after
        position absolute
        top calc(50% + 1px)
        right (HEIGHT/3)
        border (HEIGHT/8) solid transparent
        border-top (HEIGHT/5) solid FADED_GRAY
        border-bottom 0
        content " "

    &::before
        transform rotate(180deg) translateY(HEIGHT/4)
        
