.sheet {
    box-sizing border-box
    padding PAD
    color DARK_GRAY
    background-color PALE_BLUE
    font-size FONT_SIZE
    overflow auto
    max-height 100%
}

.sheet::after
    content " "
    height PAD

.sheet > * + * {
    margin-top PAD
}

@import 'sheet--is-npc'
@import 'sheet--bd'
