.sheet {
    display flex
    flex-direction column
    padding PAD
    color DARK_GRAY
    background-color PALE_BLUE
}

.sheet > * + * {
    margin-top PAD
}

@import 'sheet--is-npc'
@import 'sheet--bd'
