.tabs {
    display flex
    flex-direction row
    flex-wrap wrap
}

// tabs for sections
.tabs--tab {
    -webkit-appearance none
    align-items center
    background BLUE
    color white
    display flex
    flex-grow 1
    height HEIGHT
    width auto !important
}

.tabs--tab:first-of-type {
    border-bottom-left-radius RADIUS
    border-top-left-radius RADIUS
}

.tabs--tab:last-of-type {
    border-bottom-right-radius RADIUS
    border-top-right-radius RADIUS
}

.tabs--tab:checked {
    background-color GOLD
}

.tabs--tab::after {
    content attr(title)
}

// sections

.tabs--section {
    display none
    margin-top PAD
    width 100% // in a flex wrap area
}

// visibility

.tabs--tab__0:checked ~ .tabs--section {
    display block
}

for num in (1...10) {
    .tabs--tab__{num}:checked ~ .tabs--section__{num} {
        display block
    }
}
