@keyframes bubble {
    0% {
        transform scale(0.5)
        opacity 0
    }
    50% {
        opacity 1
    }
    100% {
        transform scale(1)
        opacity 0
    }
}

.sheet-title-field {
    position relative
    overflow hidden
    z-index 1

    margin (PAD/2)
    height auto
    max-width MAX_WIDTH

    border 1px solid transparent !important
    border-bottom 1px solid alpha(white, 0.2) !important
    background transparent
    color white
    font-size 1.4rem
}

.sheet-title-field {
    margin-left auto
    margin-right @margin-left
}

.sheet-title-field > input {
}

.sheet-title-field > input,
.sheet-title-field__label {
    position relative
    z-index 2

    padding 0.5em 0 0.1em
    background-color transparent
    border 0 !important // override global focus
    height auto
    width auto // override global
    color white !important // override error color
}

.sheet-title-field__bar {
    transition transform 0.2s
    transform scaleX(0)

    position absolute
    right 0
    bottom 0
    left 0

    border-bottom 3px solid white

    content " "
}

.sheet-title-field__bubble {
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    z-index 0
    opacity 0
}

.sheet-title-field__bubble::after {
    transform translateY(-50%) translateX(-50%)
    position absolute
    top 50%
    left 50%

    background-color alpha(white, 0.3)
    border-radius 50% !important
    padding 52%

    content " "
}

/* on focus */

:focus ~ .sheet-title-field__bar {
    transform scaleX(1)
}

:focus ~ .sheet-title-field__bubble {
    animation bubble 0.5s ease
}

/* size variations */

.sheet-title-field--name {
    display block
    font-size 3rem
}

.sheet-title-field--sub {
    display inline-block

    & > input,
    .sheet-title-field__label--sub {
        padding-top 0.8em
    }
}
/* label */

.sheet-title-field__label {
    transition 0.2s ease all
    position absolute
    top 0
    right 0
    left 0

    pointer-events none
    color white

    :focus ~ &,
    :valid ~ & {
        transform translateY(-35%) scale(0.4)
        opacity 0.5
    }
}

.sheet-title-field__label--sub {
    :focus ~ &,
    :valid ~ & {
        transform translateY(-35%) scale(0.6)
    }
}
