.sheet-toggle
    -webkit-appearance none
    display flex
    z-index 0
    cursor pointer

    flex 1
    text-align center
    align-items center

    background LIGHT
    margin 0  !important// override base.css
    border 0

    color alpha(black, 0.4)
    font-size 13px

.sheet-toggle:checked
    background #E0A32A
    color #fff

.sheet-toggle::before
    content "No"

.sheet-toggle:checked::before
    content "Yes"

.sheet-toggle--inspiration
    width 100% !important
    height (HEIGHT*2) !important

.sheet-toggle--title::before
    content attr(title) !important

.sheet-toggle--hide-next
    flex-grow 2 !important

.sheet-toggle--hide-next:not(:checked) + *
    display none

.sheet-toggle-wrapper
    display flex
    flex 1
