.sheet-toggle
    -webkit-appearance none
    display flex
    flex 1
    color white
    cursor pointer
    position relative
    z-index 0
    font-size 13px
    text-align center
    align-items center
    background #eaffef
    color #666
    z-index HIGH
    margin 0  !important// override base.css
    border 0

.sheet-toggle:checked
    background #E0A32A
    color #fff

.sheet-toggle::before
    content "No"

.sheet-toggle:checked::before
    content "Yes"

.sheet-toggle--inspiration
    width 100% !important
    height (HEIGHT*2) !important
