.sheet-grid.sheet-grid--split
    .sheet-grid__cell(class= 'sheet-grid__cell--' + col.label)
        .sheet-label advanced
    .sheet-grid__cell.sheet-grid__cell--3
        +field('Spell Description/Flavour')
            textarea(name="attr_spelldescription")
    .sheet-grid__cell.sheet-grid__cell--3
        +field('Higher Spell Slot Effect')
            textarea(name="attr_spellhighersloteffect")
    .sheet-grid__cell.sheet-grid__cell--1.sheet-grid__cell--sm
        +roll(
            name="roll_SpellInfo" 
            value="/em looks at the details for @{spellname}\n\nName : @{spellname}\n@{spellschool} @{spellfriendlylevel}\nCast time : @{spellcasttime}\nRange : @{spellrange}\nDuration : @{spellduration}\n\n@{spellconcentration} @{spellritual}\n\nDescription : \n@{spelldescription}\n\n\nAt Higher Levels :\n@{spellhighersloteffect} Spell Card"
        )
