include stats

.sheet-grid
    .sheet-grid__cell.sheet-grid__cell--4
        .sheet-card
            .sheet-hdg Spell Dashboard
            include classes

        .sheet-grid
            +hide('attr_is_sorcerer')
            .sheet-grid__cell
                .sheet-card
                    include sorcerer
                    
            +hide('attr_is_warlock')
            .sheet-grid__cell
                .sheet-card
                    include warlock

    .sheet-grid__cell
        .sheet-card
            include slots

include book
