include stats

.sheet-grid
    .sheet-grid__cell.sheet-grid__cell--4
        .sheet-card
            .sheet-hdg Spell Dashboard
            include classes

        .sheet-grid
            .sheet-grid__cell
                +cloak('attr_is_sorcerer')
                    .sheet-card
                        include sorcerer
                    
            .sheet-grid__cell
                +cloak('attr_is_warlock')
                    .sheet-card
                        include warlock

    .sheet-grid__cell
        .sheet-card
            include slots

include book
