.sheet-grid.sheet-grid--col.sheet-grid--pad
    .sheet-grid__cell 
        h1.sheet-hdg Spell Dashboard and Spell Slots
            i.sheet-pictos-custom t
    
    .sheet-grid__cell
        .sheet-grid.sheet-grid--pad
            .sheet-grid__cell.sheet-grid__cell--4-5 
                .sheet-grid.sheet-grid--col.sheet-grid--pad
                    .sheet-grid__cell
                        div
                            include classes
                
                    .sheet-grid__cell
                        .sheet-grid.sheet-grid--pad
                            .sheet-grid__cell.sheet-grid__cell--align-top
                                include sorcerer
                            .sheet-grid__cell.sheet-grid__cell--align-top
                                include warlock
                                                 
            .sheet-grid__cell.sheet-grid__cell--1-5 
                include slots

    .sheet-grid__cell
        include book
