// Start hidden spell casting stats
input(type="hidden" name="attr_base_spell_dc" value="(8 + (@{global_spell_dc_bonus}))")

input(type="hidden" name="attr_arcane_trickster_spell_bonus" value="(@{intelligence_mod}+@{PB})")
input(type="hidden" name="attr_bard_spell_bonus" value="(@{charisma_mod}+@{PB})")
input(type="hidden" name="attr_cleric_spell_bonus" value="(@{wisdom_mod}+@{PB})")
input(type="hidden" name="attr_druid_spell_bonus" value="(@{wisdom_mod}+@{PB})")
input(type="hidden" name="attr_eldritch_knight_spell_bonus" value="(@{intelligence_mod}+@{PB})")
input(type="hidden" name="attr_paladin_spell_bonus" value="(@{charisma_mod}+@{PB})")
input(type="hidden" name="attr_ranger_spell_bonus" value="(@{wisdom_mod}+@{PB})")
input(type="hidden" name="attr_sorcerer_spell_bonus" value="(@{charisma_mod}+@{PB})")
input(type="hidden" name="attr_warlock_spell_bonus" value="(@{charisma_mod}+@{PB})")
input(type="hidden" name="attr_wizard_spell_bonus" value="(@{intelligence_mod}+@{PB})")
// End hidden spell casting stats
