/* remove extra space around sheet */
.characterdialog {
    padding-top: 0.5rem !important;
}

/* sheet itself */
.nav-tabs > .active > [data-tab=charsheet] {
    background: #e9eff2 !important;
}

.charsheet {
    background: #e9eff2;
    padding: 1rem !important;
}

/* row modification buttons */

.charsheet .itemcontrol  {
    left: 0;
    z-index: 9999;
    right: 0;
    top: 0;
    bottom: 0;
}

.charsheet :hover > .itemcontrol {
    background: rgba(76,161,199, 0.2) !important;
}

.repcontainer {
    width: 100%;
    min-height: 0;
}

/* general layout */
.sheet-sub-header + .row,
.sheet-sub-header ~ .row + .row {
    background-color: #ffffff;
}

/* main content areas */
.sheet-section-spellbook > .row > * > hr + .row:last-child,
.sheet-section-inventory > .row,
.sheet-section-class > .row,
.sheet-section-skills > .row,
.sheet-section-core > .row,
.sheet-section-spellbook > .row,
.sheet-section-core > .row,
.sheet-padb + .row {
    margin-left: -1rem;
    width: calc(1rem + 100%);
}

.sheet-section-spellbook > .row > * > hr + .row:last-child > *,
.sheet-section-inventory > .row > *,
.sheet-section-class > .row > *,
.sheet-section-skills > .row > *,
.sheet-section-core > .row > *,
.sheet-section-spellbook > .row > *,
.sheet-section-core > .row > *,
.sheet-padb + .row > * {
    padding-left: 1rem;
}

.sheet-section-core > .row {
}

/* expand titles on skills grid */
.sheet-section-skills .row > :nth-child(2) {
    flex-grow: 1;
}

/* 1off layout override for death saving throw button */
:last-child > :last-child > .row {
    flex-direction: column;
    align-items: stretch;
}


/* stretch last armour heading row */
.sheet-section-armour .row.sheet-padb {

}

/* remove double lines from table elements */

.row > * + * > * {
    border-left-color: transparent !important;
}

.row + .row > * > * {
    border-top-color: transparent !important;
}

/* icons */

.sheet-pictos {
    font-family: "Pictos";
}

.sheet-pictos-custom {
    font-family: "Pictos Custom";
}

.sheet-pictos-three {
    font-family: "Pictos Three";
}

.sheet-d6-font {
    font-family: "dicefontd6";
}

.sheet-d8-font {
    font-family: "dicefontd8";
}

.sheet-d10-font {
    font-family: "dicefontd10";
}

.sheet-d20-font {
    font-family: "dicefontd20";
}

[class*=sheet-pictos],
[class^=sheet-d][class$=-font] {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    display: flex;
}

/* buttons */

.charsheet .btn {
    align-self: stretch;
    margin: 0 !important;
    background: #E0A32A;
    color: #fff;
    text-shadow: none;
    /* box-shadow: inset 1px 1px 0 rgba(255,255,255,0.15); */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* box-shadow: inset 0 -.1rem 0 rgba(0,0,0,0.1); */
    border-bottom-width: 1px;
    -webkit-font-smoothing: auto;
}

.charsheet .btn:hover {
    opacity: 0.9;
}

.charsheet button[type=roll] {
    font-size: 0 !important; /* hide the text it's redunant */
}

.charsheet button[type=roll]:before {
    font-size: 20px !important;
    display: flex;
    justify-content: center;
}

.charsheet button.sheet-initiative {
    height: 2.7rem;
}

.charsheet .btn[name=roll_Death_Saving_Throw] {
    height: 4rem;

}

[name=attr_unarmoured_class_bonus] {
    height:2.7rem;
}

/* checkboxes */

[class^=sheet-section] input[type=checkbox] {
    display: flex;
    -webkit-appearance: none;
    width: 100%;
    border-width: 1px;
    background: #ffffff;
}

[class^=sheet-section] input[type=checkbox]::after {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: inset 0 0 0 2px rgba(255,255,255,1);
    -webkit-appearance: none;
    background: #fff;
    width: 1rem;
    height: 1rem;
    content: " ";
    box-sizing: border-box;
    background-clip: content-box;
}

[class^=sheet-section] input[type=checkbox]:checked::after {
    background-color: rgba(72,70,75, 0.9);
}



/* sheet header */

.sheet-core-header {
    margin-bottom: 1rem;
}

.sheet-core-header .row {
    align-items: stretch;
}

.sheet-core-header .row > * + * {
    padding-left: 1rem;
}

.sheet-core-header input {
    border-radius: 0.2rem;
}

/* labels */

.sheet-small-note,
.sheet-small-label {
    font-size: 0.6rem;
    text-align: center;
    line-height: 1rem;
    color: rgba(0,0,0,0.5);
}

.sheet-small-label > input {
    margin-bottom: -1rem;
    padding-bottom: 0.7rem !important;
    height: 2.7rem !important;
}

.sheet-small-label > br {
    display: none;
}

.sheet-small-note {
    display: flex;
    background: #ffffff;
    margin: 0;
    line-height: 1.2em;
    padding: 0.3rem;
    padding-left:1rem;
    padding-right: 1rem;
    align-self: stretch;
    height: auto;
    /* border-bottom-width: 1px; */
}

.sheet-section-armour .sheet-small-note {
    border-bottom-width:1px;
}

.sheet-section-spellbook > .row > * > .sheet-small-note:first-child {
    margin-top: 1rem;
    border-radius: 0.2rem;
}

.sheet-small-note:last-child {
    /* border-bottom-width: 0; */
}

.sheet-section-spellbook .repitem .sheet-spacer + .sheet-small-label {
    width: 3rem;
    flex-grow: 1;
}

/* headers */

.sheet-spell-header,
.sheet-sub-header {
    width: 100%;
    background-color: rgba(72,70,75, 0.9) !important;
    color: #fff;
    /* border-top: 1px solid rgba(255,255,255,.05); */
    border-bottom: 1px solid rgba(0,0,0,0.05);
    margin-top: 1rem;
    border-top-right-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
}

.sheet-spell-header *,
.sheet-sub-header * {
    color: #ffffff;
}

h4 + .sheet-sub-header,
h4 + * > .sheet-sub-header {
    margin-top: 0; /* hug the main panel header */
    border-radius: 0;
}

/* extra in-row headers */

.sheet-section-spellbook .repitem .sheet-small-label, .sheet-section-spellbook .sheet-sub-header ~ .row:not(.sheet-sub-header) > :first-child:not(.sheet-col__1-2), .sheet-inventory-row-number, .sheet-section-inventory .sheet-col__1-4.sheet-margin-top.sheet-small-label, .sheet-section-armour .sheet-col__1-5.sheet-padl.sheet-padr.sheet-margin-top.sheet-small-label, .sheet-section-core .sheet-col__1-4.sheet-margin-top.sheet-small-label, .sheet-section-class .sheet-col__1-8.sheet-center.sheet-margin-top {
    background-color: #fafafa;
    border-bottom-width: 1px;
    border-right-width: 1px;
    display: flex;
}

.sheet-section-inventory .sheet-col__1-4.sheet-margin-top.sheet-small-label {
    width: 0;
    min-width: 180px;
    align-items: flex-end;
    padding: 0 0.5rem;
}

.sheet-section-inventory .sheet-col__1-4.sheet-margin-top.sheet-small-label + * {
    margin:0;
}



/* unsorted */
.charsheet div[class="repcontainer editmode"] ~ div[class^="repcontrol"] button[class="btn repcontrol_add"] {
    display: inline-block!important;
    visibility: hidden;
}



.sheet-section-spellbook > .row:first-of-type {
    flex-wrap: wrap;
}

.charsheet input.sheet-tab1:checked ~ div.sheet-section-core,.charsheet input.sheet-tab2:checked ~ div.sheet-section-skills,.charsheet input.sheet-tab3:checked ~ div.sheet-section-background,.charsheet input.sheet-tab4:checked ~ div.sheet-section-class,.charsheet input.sheet-tab5:checked ~ div.sheet-section-weapons,.charsheet input.sheet-tab6:checked ~ div.sheet-section-spellbook,.charsheet input.sheet-tab8:checked ~ div.sheet-section-armour,.charsheet input.sheet-tab7:checked ~ div.sheet-section-inventory {
    max-height: 999999px;
    visibility: visible;
    opacity: 1;
    display: flex;
    height: auto;
    transition: opacity 0.5s linear 0s;
    overflow: auto;
}

.charsheet input.sheet-tab99:checked ~ div[class^="sheet-section"] {
    max-height: 999999px;
    visibility: visible;
    opacity: 1;
    display: flex;
    transition: opacity 0.5s linear 0s;
}

.charsheet .sheet-inspiration,
.charsheet .sheet-inspiration-tab {
    display: flex;
    width: 100%;
    height: 4rem !important;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    font-size: 13px;
    text-align: center;
    align-items: center;
    background: #eaffef;
    color: #666;
    height: 4rem;
    border-right-width:1px;
}

.charsheet .sheet-inspiration {
    opacity: 0; /* hide */
    z-index: 1; /* sit over label */
    margin-bottom: -4rem !important; /* pull label underneath */
}

.charsheet :checked + .sheet-inspiration-tab {
    background: #E0A32A;
    color: #fff;
}

.charsheet .sheet-inspiration-tab::before {
    content: "No";
}

.charsheet :checked + .sheet-inspiration-tab::before {
    content: "Yes"
}

.charsheet .sheet-inspiration-label {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

[class^="sheet-spell-page"] {
    display: none;
    width: 100%;
}

.charsheet input.sheet-spelltab0:checked ~ div.sheet-spell-page0,.charsheet input.sheet-spelltab1:checked ~ div.sheet-spell-page1,.charsheet input.sheet-spelltab2:checked ~ div.sheet-spell-page2,.charsheet input.sheet-spelltab3:checked ~ div.sheet-spell-page3,.charsheet input.sheet-spelltab4:checked ~ div.sheet-spell-page4,.charsheet input.sheet-spelltab5:checked ~ div.sheet-spell-page5,.charsheet input.sheet-spelltab6:checked ~ div.sheet-spell-page6,.charsheet input.sheet-spelltab7:checked ~ div.sheet-spell-page7,.charsheet input.sheet-spelltab8:checked ~ div.sheet-spell-page8,.charsheet input.sheet-spelltab9:checked ~ div.sheet-spell-page9 {
    display: block;
}

.charsheet input.sheet-spelltab99:checked ~ div[class^="sheet-spell-page"] {
    max-height: 999999px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear 0s;
}

.sheet-spellpagetab:checked
{
    background: #E0A32A !important;
}

.sheet-spellpagetab {
    flex-grow: 1;
    margin-top: 1rem;
    -webkit-appearance: none;

    cursor: pointer;
    display: flex;
    background: rgb(86,180,233);
    color: white;
    font-weight: bold;

    cursor: pointer;
}

span.sheet-spellpagetab {
    display: none;
}

.sheet-spelltab0 {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.sheet-spelltab99 {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

.sheet-spelltab0::before {
    content: "Cantrips"
}
.sheet-spelltab1::before {
    content: "Level 1"
}
.sheet-spelltab2::before {
    content: "Level 2"
}
.sheet-spelltab3::before {
    content: "Level 3"
}
.sheet-spelltab4::before {
    content: "Level 4"
}
.sheet-spelltab5::before {
    content: "Level 5"
}
.sheet-spelltab6::before {
    content: "Level 6"
}
.sheet-spelltab7::before {
    content: "Level 7"
}
.sheet-spelltab8::before {
    content: "Level 8"
}
.sheet-spelltab9::before {
    content: "Level 9"
}
.sheet-spelltab99::before {
    content: "Show All"
}

.charsheet [data-groupname^="repeating_spellbook"] .repitem,
.charsheet [data-groupname^="repeating_classactions"] .repitem,
.charsheet .sheet-npc-row {
    background: rgba(0,0,0,0.02);
    width: 100%;
}

.sheet-section-spellbook .repitem {
    padding:0.5rem;
    font-size: 0;
}

.sheet-section-spellbook .repitem > .itemcontrol + * {
    font-size: 0;
}

.sheet-section-spellbook .repitem > .itemcontrol ~ * {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
}


.repitem > .row {
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    /* margin-left: -1rem; */
}

.repitem > .row > * {
    /* margin-left: 1rem; */
}

[class^="sheet-spell-type"] {
    display: none;
    width: 100%;
}

.charsheet input.sheet-spelltypeadvanced:checked ~ div.sheet-spell-type-advanced,.charsheet input.sheet-spelltypeattack:checked ~ div.sheet-spell-type-attack,.charsheet input.sheet-spelltypesave:checked ~ div.sheet-spell-type-save,.charsheet input.sheet-spelltypedamage:checked ~ div.sheet-spell-type-damage,.charsheet input.sheet-spelltypeheal:checked ~ div.sheet-spell-type-heal,.charsheet input.sheet-spelltypeeffects:checked ~ div.sheet-spell-type-effects {
    display: block;
}

.sheet-spelltypetab:checked {
    background: #E0A32A !important;
}

.sheet-spelltypetab {
    -webkit-appearance: none;
    cursor: pointer;
}

.sheet-spelltypetab::after {
    display: none;
}

.sheet-spelltypetab {
    width: calc(100%/7) !important;
    flex-grow: 2;
    background: rgb(86,180,233) !important;
    color: white;
}

span.sheet-spelltypetab {
    display: none;
}

.sheet-spelltypeadvanced::before {
    content: 'Advanced';
}

.sheet-spelltypeattack::before {
    content: 'Attack';
}

.sheet-spelltypesave::before {
    content: 'Save';
}

.sheet-spelltypeheal::before {
    content: 'Healing';
}

.sheet-spelltypedamage::before {
    content: 'Damage';
}

.sheet-spelltypeeffects::before {
    content: 'Effects';
}

[class^="sheet-inventory-page"] {
    display: none;
    width: 100%;
}

.sheet-inventorytab1:checked ~ div.sheet-inventory-page1,
.sheet-inventorytab2:checked ~ div.sheet-inventory-page2,
.sheet-inventorytab3:checked ~ div.sheet-inventory-page3,
.sheet-inventorytab4:checked ~ div.sheet-inventory-page4,
.sheet-inventorytab99:checked ~ [class^="sheet-inventory-page"] {
    max-height: 999999px;
    display: block;
    opacity: 1;
    transition: opacity 0.5s linear 0s;
}

/* inventory page tabs */
.sheet-inventorytab {
    flex-grow: 1;
    -webkit-appearance: none;

    display: flex;
    background: rgb(86,180,233);
    color: white;
    border-radius: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 0;
    cursor: pointer;
}

.sheet-inventorytab ~ .sheet-inventorytab {
    margin-left:1rem;
}

.sheet-inventorytab:checked {
    background-color: #E0A32A !important
}

span.sheet-inventorytab {
    display: none;
}

/* inventory page tab labels */

.sheet-inventorytab1::after {
    content: "Page 1";
}

.sheet-inventorytab2::after {
    content: "Page 2";
}

.sheet-inventorytab3::after {
    content: "Page 3";
}

.sheet-inventorytab4::after {
    content: "Page 4";
}

.sheet-inventorytab99::after {
    content: "Show All";
}

.sheet-last-updated {
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
    color: #aaaaaa;
}

.sheet-last-updated br {
    display: block; /* override general <br> hiding */
}

.sheet-section-spellbook .repitem .sheet-col__1-12:first-child,
.sheet-hd-row {
    border-bottom-width: 1px;
    border-right-width: 1px;
    background-color: #fff;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.charsheet .sheet-border-right {
}

.charsheet .sheet-border-left {
    border-left: 1px solid #000;
}

.charsheet input[type=number],
.charsheet input[type=text],
.charsheet select {
    width: 100% !important;
    align-self: stretch;
    text-align: center;
    border-width: 1px;
    transition: none;
    font-size: 0.8rem;
    padding: 0;
}


.charsheet :focus {
    z-index: 9999;
    border-color: rgb(86,180,233) !important;
}

.charsheet input[type=number]:not(:disabled) {
    padding-left: 10px; /* offset up/down */
}


.charsheet hr {
    display:  none;
}

.charsheet span.sheet-spacer {
}

.charsheet .sheet-heading-row {
    text-align: center;
    font-weight: bold;
}

.charsheet .sheet-footer-row {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 5px;
}

.charsheet .sheet-vert-middle {
}

.sheet-vert-bottom {
    vertical-align: bottom!important;
}

.sheet-center {
}


.charsheet textarea {
    resize:none;
    border-width: 1px;
    padding: 0.5rem;
}

.charsheet .sheet-fluid-textarea {
    height: 100%;
}

.charsheet .sheet-medium-textarea {
    height: 100px;
}

.charsheet .sheet-large-textarea {
    height: 300px;
}

.charsheet h3 {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
    color:#ffffff;
    background-color:#000000;
    background-image: -moz-repeating-radial-gradient(center center, circle cover, #000000, #870202 100%);
    background-image: -webkit-repeating-radial-gradient(center center, circle cover, #000000, #870202 100%);
    background-image: -o-repeating-radial-gradient(center center, circle cover, #000000, #870202 100%);
    background-image: -ms-repeating-radial-gradient(center center, circle cover, #000000, #870202 100%);
    background-image: repeating-radial-gradient(center center, circle cover, #000000, #870202 100%);
    margin-top: 10px;
    border-radius: 12px;

}

.charsheet h4 {
    display: flex;
    align-self: stretch;
    border-top-left-radius: 2rem;
    background-color: rgb(72,70,75);
    color: #ffffff;
    border-radius: 0.2rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: normal;
    font-size: 0.8rem;
    margin-top:  1rem;
    width: 100%;
}

.row + .row > * > h4, .charsheet h4:nth-child(n+3) {
    margin-top: 1rem;
}


.charsheet input[disabled] {
    background-color: #eaffef;
    cursor: not-allowed;
    border-color: inherit;
}

.sheet-passive-skill-score {
    background-color: #def6fc !important;
}

.charsheet input[disabled]::-webkit-inner-spin-button,.charsheet input[disabled]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.charsheet select {
    font-size: 0.7rem;
}

.charsheet .sheet-important-text {
    text-decoration: underline;
    color: #ff0000;
}

.charsheet .sheet-grey-row {
    background-color: #eee;
}



.charsheet .sheet-footer {
    background-color: rgba(250, 202, 78, 0.2);
    vertical-align: bottom;
    border-radius: 0.2rem;
    margin-top: 1rem;
}

.charsheet img.sheet-icon {
    width: 100px;
    height: 100px;
}

.charsheet .sheet-core-stat-label {
    background-color: rgba(72,70,75, 0.9);
    color: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.charsheet .sheet-large-button {
    padding: 5px;
    height: 45px;
    vertical-align: middle;
}

/* death saving throws */
.sheet-death-save-fail-tab,
.sheet-death-save-success-tab {
    display: none !important;
}

/* skills */
.sheet-skill-row {
    /* margin: 1px 0; */
    align-items: stretch;
    justify-content: space-between;
}

.charsheet .sheet-skill-roll {
}
.charsheet .sheet-skill-name {
    border-bottom-width: 1px;
    /* margin-top: 5px; */
    font-size: 11px!important;
    border-right-width: 1px;
    background-color:  #fff;
}
.charsheet .sheet-skill-checkbox {
    margin-top: 5px;
}


.charsheet .sheet-opera-only :-o-prefocus,.charsheet .row {
    word-spacing: -0.43em;
}

.charsheet .sheet-col {
    display: inline-block;
    zoom: 1; *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

[class^=sheet-col sheet-col__] {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

/* death saving throws */

.sheet-col__1-4 + .sheet-col__3-4 {
    flex-direction: row;
}


/* widths */

.sheet-col__1 {
    width: 100%;
}

.sheet-col__1-2 {
    width: 50%;
}

.charsheet .sheet-offset-1-2 {
    margin-left: 50%;
}

.charsheet .sheet-col__1-3 {
    width: 33.33333%;
}

.charsheet .sheet-offset-1-3 {
    margin-left: 33.33333%;
}

.charsheet .sheet-col__2-3 {
    width: 66.66667%;
}

.charsheet .sheet-offset-2-3 {
    margin-left: 66.66667%;
}

.charsheet .sheet-col__1-4 {
    width: 25%;
}

.charsheet .sheet-offset-1-4 {
    margin-left: 25%;
}

.charsheet .sheet-col__3-4 {
    width: 75%;
}

.charsheet .sheet-offset-3-4 {
    margin-left: 75%;
}

.charsheet .sheet-col__1-5 {
    width: 20%;
}

.charsheet .sheet-offset-1-5 {
    margin-left: 20%;
}

.charsheet .sheet-col__2-5 {
    width: 40%;
}

.charsheet .sheet-offset-2-5 {
    margin-left: 40%;
}

.charsheet .sheet-col__3-5 {
    width: 60%;
}

.charsheet .sheet-offset-3-5 {
    margin-left: 60%;
}

.charsheet .sheet-col__4-5 {
    width: 80%;
}

.charsheet .sheet-offset-4-5 {
    margin-left: 80%;
}

.sheet-col__1-6 {
    width: 16.66667%;
}

.charsheet .sheet-offset-1-6 {
    margin-left: 16.66667%;
}

.charsheet .sheet-col__5-6 {
    width: 83.33333%;
}

.charsheet .sheet-offset-5-6 {
    margin-left: 83.33333%;
}

.charsheet .sheet-col__1-7 {
    width: 14.28571%;
}

.charsheet .sheet-offset-1-7 {
    margin-left: 14.28571%;
}

.charsheet .sheet-col__2-7 {
    width: 28.57143%;
}

.charsheet .sheet-offset-2-7 {
    margin-left: 28.57143%;
}

.sheet-col__3-7 {
    width: 42.85714%;
}

.charsheet .sheet-offset-3-7 {
    margin-left: 42.85714%;
}

.charsheet .sheet-col__4-7 {
    width: 57.14286%;
}

.charsheet .sheet-offset-4-7 {
    margin-left: 57.14286%;
}

.charsheet .sheet-col__5-7 {
    width: 71.42857%;
}

.charsheet .sheet-offset-5-7 {
    margin-left: 71.42857%;
}

.charsheet .sheet-col__6-7 {
    width: 85.71429%;
}

.charsheet .sheet-offset-6-7 {
    margin-left: 85.71429%;
}

.charsheet .sheet-col__1-8 {
    width: 12.5%;
}

.charsheet .sheet-offset-1-8 {
    margin-left: 12.5%;
}

.charsheet .sheet-col__3-8 {
    width: 37.5%;
}

.charsheet .sheet-offset-3-8 {
    margin-left: 37.5%;
}

.charsheet .sheet-col__5-8 {
    width: 62.5%;
}

.charsheet .sheet-offset-5-8 {
    margin-left: 62.5%;
}

.charsheet .sheet-col__7-8 {
    width: 87.5%;
}

.charsheet .sheet-offset-7-8 {
    margin-left: 87.5%;
}

.charsheet .sheet-col__1-9 {
    width: 11.11111%;
}

.charsheet .sheet-offset-1-9 {
    margin-left: 11.11111%;
}

.charsheet .sheet-col__2-9 {
    width: 22.22222%;
}

.charsheet .sheet-offset-2-9 {
    margin-left: 22.22222%;
}

.charsheet .sheet-col__4-9 {
    width: 44.44444%;
}

.charsheet .sheet-offset-4-9 {
    margin-left: 44.44444%;
}

.charsheet .sheet-col__5-9 {
    width: 55.55556%;
}

.charsheet .sheet-offset-5-9 {
    margin-left: 55.55556%;
}

.charsheet .sheet-col__6-9 {
    width: 66.66667%;
}

.charsheet .sheet-offset-6-9 {
    margin-left: 66.66667%;
}

.charsheet .sheet-col__7-9 {
    width: 77.77778%;
}

.charsheet .sheet-offset-7-9 {
    margin-left: 77.77778%;
}

.charsheet .sheet-col__8-9 {
    width: 88.88889%;
}

.charsheet .sheet-offset-8-9 {
    margin-left: 88.88889%;
}

.charsheet .sheet-col__1-10 {
    width: 10%;
}

.charsheet .sheet-offset-1-10 {
    margin-left: 10%;
}

.charsheet .sheet-col__3-10 {
    width: 30%;
}

.charsheet .sheet-offset-3-10 {
    margin-left: 30%;
}

.charsheet .sheet-col__7-10 {
    width: 70%;
}

.charsheet .sheet-offset-7-10 {
    margin-left: 70%;
}

.charsheet .sheet-col__9-10 {
    width: 90%;
}

.charsheet .sheet-offset-9-10 {
    margin-left: 90%;
}

.charsheet .sheet-col__1-11 {
    width: 9.09091%;
}

.charsheet .sheet-offset-1-11 {
    margin-left: 9.09091%;
}

.charsheet .sheet-col__2-11 {
    width: 18.18182%;
}

.charsheet .sheet-offset-2-11 {
    margin-left: 18.18182%;
}

.charsheet .sheet-col__3-11 {
    width: 27.27273%;
}

.charsheet .sheet-offset-3-11 {
    margin-left: 27.27273%;
}

.charsheet .sheet-col__4-11 {
    width: 36.36364%;
}

.charsheet .sheet-offset-4-11 {
    margin-left: 36.36364%;
}

.charsheet .sheet-col__5-11 {
    width: 45.45455%;
}

.charsheet .sheet-offset-5-11 {
    margin-left: 45.45455%;
}

.charsheet .sheet-col__6-11 {
    width: 54.54545%;
}

.charsheet .sheet-offset-6-11 {
    margin-left: 54.54545%;
}

.charsheet .sheet-col__7-11 {
    width: 63.63636%;
}

.charsheet .sheet-offset-7-11 {
    margin-left: 63.63636%;
}

.charsheet .sheet-col__8-11 {
    width: 72.72727%;
}

.charsheet .sheet-offset-8-11 {
    margin-left: 72.72727%;
}

.charsheet .sheet-col__9-11 {
    width: 81.81818%;
}

.charsheet .sheet-offset-9-11 {
    margin-left: 81.81818%;
}

.charsheet .sheet-col__10-11 {
    width: 90.90909%;
}

.charsheet .sheet-offset-10-11 {
    margin-left: 90.90909%;
}

.charsheet .sheet-col__1-12 {
    width: 8.33333%;
}

.charsheet .sheet-offset-1-12 {
    margin-left: 8.33333%;
}

.charsheet .sheet-col__5-12 {
    width: 41.66667%;
}

.charsheet .sheet-offset-5-12 {
    margin-left: 41.66667%;
}

.charsheet .sheet-col__7-12 {
    width: 58.33333%;
}

.charsheet .sheet-offset-7-12 {
    margin-left: 58.33333%;
}

.charsheet .sheet-col__9-12 {
    width: 75%;
}

.charsheet .sheet-offset-9-12 {
    margin-left: 75%;
}

.charsheet .sheet-col__11-12 {
    width: 91.66667%;
}

.charsheet .sheet-offset-11-12 {
    margin-left: 91.66667%;
}

.charsheet .sheet-col__1-13 {
    width: 7.69231%;
}

.charsheet .sheet-offset-1-13 {
    margin-left: 7.69231%;
}

.charsheet .sheet-col__2-13 {
    width: 15.38462%;
}

.charsheet .sheet-offset-2-13 {
    margin-left: 15.38462%;
}

.charsheet .sheet-col__3-13 {
    width: 23.07692%;
}

.charsheet .sheet-offset-3-13 {
    margin-left: 23.07692%;
}

.charsheet .sheet-col__4-13 {
    width: 30.76923%;
}

.charsheet .sheet-offset-4-13 {
    margin-left: 30.76923%;
}

.charsheet .sheet-col__5-13 {
    width: 38.46154%;
}

.charsheet .sheet-offset-5-13 {
    margin-left: 38.46154%;
}

.sheet-col__6-13 {
    width: 46.15385%;
}

.charsheet .sheet-offset-6-13 {
    margin-left: 46.15385%;
}

.charsheet .sheet-col__7-13 {
    width: 53.84615%;
}

.charsheet .sheet-offset-7-13 {
    margin-left: 53.84615%;
}

.charsheet .sheet-col__8-13 {
    width: 61.53846%;
}

.charsheet .sheet-offset-8-13 {
    margin-left: 61.53846%;
}

.charsheet .sheet-col__9-13 {
    width: 69.23077%;
}

.charsheet .sheet-offset-9-13 {
    margin-left: 69.23077%;
}

.charsheet .sheet-col__10-13 {
    width: 76.92308%;
}

.charsheet .sheet-offset-10-13 {
    margin-left: 76.92308%;
}

.charsheet .sheet-col__11-13 {
    width: 84.61538%;
}

.charsheet .sheet-offset-11-13 {
    margin-left: 84.61538%;
}

.charsheet .sheet-col__12-13 {
    width: 92.30769%;
}

.charsheet .sheet-offset-12-13 {
    margin-left: 92.30769%;
}

.charsheet .sheet-col__1-14 {
    width: 7.14286%;
}

.charsheet .sheet-offset-1-14 {
    margin-left: 7.14286%;
}

.charsheet .sheet-col__3-14 {
    width: 21.42857%;
}

.charsheet .sheet-offset-3-14 {
    margin-left: 21.42857%;
}

.charsheet .sheet-col__5-14 {
    width: 35.71429%;
}

.charsheet .sheet-offset-5-14 {
    margin-left: 35.71429%;
}

.charsheet .sheet-col__9-14 {
    width: 64.28571%;
}

.charsheet .sheet-offset-9-14 {
    margin-left: 64.28571%;
}

.charsheet .sheet-col__11-14 {
    width: 78.57143%;
}

.charsheet .sheet-offset-11-14 {
    margin-left: 78.57143%;
}

.charsheet .sheet-col__13-14 {
    width: 92.85714%;
}

.charsheet .sheet-offset-13-14 {
    margin-left: 92.85714%;
}

.charsheet .sheet-col__1-15 {
    width: 6.66667%;
}

.charsheet .sheet-offset-1-15 {
    margin-left: 6.66667%;
}

.charsheet .sheet-col__2-15 {
    width: 13.33333%;
}

.charsheet .sheet-offset-2-15 {
    margin-left: 13.33333%;
}

.charsheet .sheet-col__4-15 {
    width: 26.66667%;
}

.charsheet .sheet-offset-4-15 {
    margin-left: 26.66667%;
}

.charsheet .sheet-col__6-15 {
    width: 40%;
}

.charsheet .sheet-offset-6-15 {
    margin-left: 40%;
}

.charsheet .sheet-col__7-15 {
    width: 46.66667%;
}

.charsheet .sheet-offset-7-15 {
    margin-left: 46.66667%;
}

.charsheet .sheet-col__8-15 {
    width: 53.33333%;
}

.charsheet .sheet-offset-8-15 {
    margin-left: 53.33333%;
}

.charsheet .sheet-col__9-15 {
    width: 60%;
}

.charsheet .sheet-offset-9-15 {
    margin-left: 60%;
}

.charsheet .sheet-col__10-15 {
    width: 66.66667%;
}

.charsheet .sheet-offset-10-15 {
    margin-left: 66.66667%;
}

.charsheet .sheet-col__11-15 {
    width: 73.33333%;
}

.charsheet .sheet-offset-11-15 {
    margin-left: 73.33333%;
}

.charsheet .sheet-col__12-15 {
    width: 80%;
}

.charsheet .sheet-offset-12-15 {
    margin-left: 80%;
}

.charsheet .sheet-col__13-15 {
    width: 86.66667%;
}

.charsheet .sheet-offset-13-15 {
    margin-left: 86.66667%;
}

.charsheet .sheet-col__14-15 {
    width: 93.33333%;
}

.charsheet .sheet-offset-14-15 {
    margin-left: 93.33333%;
}

.charsheet .sheet-col__1-16 {
    width: 6.25%;
}

.charsheet .sheet-offset-1-16 {
    margin-left: 6.25%;
}

.charsheet .sheet-col__3-16 {
    width: 18.75%;
}

.charsheet .sheet-offset-3-16 {
    margin-left: 18.75%;
}

.charsheet .sheet-col__5-16 {
    width: 31.25%;
}

.charsheet .sheet-offset-5-16 {
    margin-left: 31.25%;
}

.charsheet .sheet-col__7-16 {
    width: 43.75%;
}

.charsheet .sheet-offset-7-16 {
    margin-left: 43.75%;
}

.charsheet .sheet-col__9-16 {
    width: 56.25%;
}

.charsheet .sheet-offset-9-16 {
    margin-left: 56.25%;
}

.charsheet .sheet-col__11-16 {
    width: 68.75%;
}

.charsheet .sheet-offset-11-16 {
    margin-left: 68.75%;
}

.charsheet .sheet-col__13-16 {
    width: 81.25%;
}

.charsheet .sheet-offset-13-16 {
    margin-left: 81.25%;
}

.charsheet .sheet-col__15-16 {
    width: 93.75%;
}

.charsheet .sheet-offset-15-16 {
    margin-left: 93.75%;
}

.charsheet .sheet-col__1-17 {
    width: 5.88235%;
}

.charsheet .sheet-offset-1-17 {
    margin-left: 5.88235%;
}

.charsheet .sheet-col__2-17 {
    width: 11.76471%;
}

.charsheet .sheet-offset-2-17 {
    margin-left: 11.76471%;
}

.charsheet .sheet-col__3-17 {
    width: 17.64706%;
}

.charsheet .sheet-offset-3-17 {
    margin-left: 17.64706%;
}

.charsheet .sheet-col__4-17 {
    width: 23.52941%;
}

.charsheet .sheet-offset-4-17 {
    margin-left: 23.52941%;
}

.charsheet .sheet-col__5-17 {
    width: 29.41176%;
}

.charsheet .sheet-offset-5-17 {
    margin-left: 29.41176%;
}

.charsheet .sheet-col__6-17 {
    width: 35.29412%;
}

.charsheet .sheet-offset-6-17 {
    margin-left: 35.29412%;
}

.charsheet .sheet-col__7-17 {
    width: 41.17647%;
}

.charsheet .sheet-offset-7-17 {
    margin-left: 41.17647%;
}

.charsheet .sheet-col__8-17 {
    width: 47.05882%;
}

.charsheet .sheet-offset-8-17 {
    margin-left: 47.05882%;
}

.charsheet .sheet-col__9-17 {
    width: 52.94118%;
}

.charsheet .sheet-offset-9-17 {
    margin-left: 52.94118%;
}

.charsheet .sheet-col__10-17 {
    width: 58.82353%;
}

.charsheet .sheet-offset-10-17 {
    margin-left: 58.82353%;
}

.charsheet .sheet-col__11-17 {
    width: 64.70588%;
}

.charsheet .sheet-offset-11-17 {
    margin-left: 64.70588%;
}

.charsheet .sheet-col__12-17 {
    width: 70.58824%;
}

.charsheet .sheet-offset-12-17 {
    margin-left: 70.58824%;
}

.charsheet .sheet-col__13-17 {
    width: 76.47059%;
}

.charsheet .sheet-offset-13-17 {
    margin-left: 76.47059%;
}

.charsheet .sheet-col__14-17 {
    width: 82.35294%;
}

.charsheet .sheet-offset-14-17 {
    margin-left: 82.35294%;
}

.charsheet .sheet-col__15-17 {
    width: 88.23529%;
}

.charsheet .sheet-offset-15-17 {
    margin-left: 88.23529%;
}

.charsheet .sheet-col__16-17 {
    width: 94.11765%;
}

.charsheet .sheet-offset-16-17 {
    margin-left: 94.11765%;
}

.charsheet .sheet-col__1-18 {
    width: 5.55556%;
}

.charsheet .sheet-offset-1-18 {
    margin-left: 5.55556%;
}

.charsheet .sheet-col__5-18 {
    width: 27.77778%;
}

.charsheet .sheet-offset-5-18 {
    margin-left: 27.77778%;
}

.charsheet .sheet-col__7-18 {
    width: 38.88889%;
}

.charsheet .sheet-offset-7-18 {
    margin-left: 38.88889%;
}

.charsheet .sheet-col__11-18 {
    width: 61.11111%;
}

.charsheet .sheet-offset-11-18 {
    margin-left: 61.11111%;
}

.charsheet .sheet-col__13-18 {
    width: 72.22222%;
}

.charsheet .sheet-offset-13-18 {
    margin-left: 72.22222%;
}

.charsheet .sheet-col__15-18 {
    width: 83.33333%;
}

.charsheet .sheet-offset-15-18 {
    margin-left: 83.33333%;
}

.charsheet .sheet-col__17-18 {
    width: 94.44444%;
}

.charsheet .sheet-offset-17-18 {
    margin-left: 94.44444%;
}

.charsheet .sheet-col__1-19 {
    width: 5.26316%;
}

.charsheet .sheet-offset-1-19 {
    margin-left: 5.26316%;
}

.charsheet .sheet-col__2-19 {
    width: 10.52632%;
}

.charsheet .sheet-offset-2-19 {
    margin-left: 10.52632%;
}

.charsheet .sheet-col__3-19 {
    width: 15.78947%;
}

.charsheet .sheet-offset-3-19 {
    margin-left: 15.78947%;
}

.charsheet .sheet-col__4-19 {
    width: 21.05263%;
}

.charsheet .sheet-offset-4-19 {
    margin-left: 21.05263%;
}

.charsheet .sheet-col__5-19 {
    width: 26.31579%;
}

.charsheet .sheet-offset-5-19 {
    margin-left: 26.31579%;
}

.charsheet .sheet-col__6-19 {
    width: 31.57895%;
}

.charsheet .sheet-offset-6-19 {
    margin-left: 31.57895%;
}

.charsheet .sheet-col__7-19 {
    width: 36.84211%;
}

.charsheet .sheet-offset-7-19 {
    margin-left: 36.84211%;
}

.charsheet .sheet-col__8-19 {
    width: 42.10526%;
}

.charsheet .sheet-offset-8-19 {
    margin-left: 42.10526%;
}

.charsheet .sheet-col__9-19 {
    width: 47.36842%;
}

.charsheet .sheet-offset-9-19 {
    margin-left: 47.36842%;
}

.charsheet .sheet-col__10-19 {
    width: 52.63158%;
}

.charsheet .sheet-offset-10-19 {
    margin-left: 52.63158%;
}

.charsheet .sheet-col__11-19 {
    width: 57.89474%;
}

.charsheet .sheet-offset-11-19 {
    margin-left: 57.89474%;
}

.charsheet .sheet-col__12-19 {
    width: 63.15789%;
}

.charsheet .sheet-offset-12-19 {
    margin-left: 63.15789%;
}

.charsheet .sheet-col__13-19 {
    width: 68.42105%;
}

.charsheet .sheet-offset-13-19 {
    margin-left: 68.42105%;
}

.charsheet .sheet-col__14-19 {
    width: 73.68421%;
}

.charsheet .sheet-offset-14-19 {
    margin-left: 73.68421%;
}

.charsheet .sheet-col__15-19 {
    width: 78.94737%;
}

.charsheet .sheet-offset-15-19 {
    margin-left: 78.94737%;
}

.charsheet .sheet-col__16-19 {
    width: 84.21053%;
}

.charsheet .sheet-offset-16-19 {
    margin-left: 84.21053%;
}

.charsheet .sheet-col__17-19 {
    width: 89.47368%;
}

.charsheet .sheet-offset-17-19 {
    margin-left: 89.47368%;
}

.charsheet .sheet-col__18-19 {
    width: 94.73684%;
}

.charsheet .sheet-offset-18-19 {
    margin-left: 94.73684%;
}

.charsheet .sheet-col__1-20 {
    width: 5%;
}

.charsheet .sheet-offset-1-20 {
    margin-left: 5%;
}

.charsheet .sheet-col__3-20 {
    width: 15%;
}

.charsheet .sheet-offset-3-20 {
    margin-left: 15%;
}

.charsheet .sheet-col__7-20 {
    width: 35%;
}

.charsheet .sheet-offset-7-20 {
    margin-left: 35%;
}

.charsheet .sheet-col__9-20 {
    width: 45%;
}

.charsheet .sheet-offset-9-20 {
    margin-left: 45%;
}

.charsheet .sheet-col__11-20 {
    width: 55%;
}

.charsheet .sheet-offset-11-20 {
    margin-left: 55%;
}

.charsheet .sheet-col__13-20 {
    width: 65%;
}

.charsheet .sheet-offset-13-20 {
    margin-left: 65%;
}

.charsheet .sheet-col__15-20 {
    width: 75%;
}

.charsheet .sheet-offset-15-20 {
    margin-left: 75%;
}

.charsheet .sheet-col__17-20 {
    width: 85%;
}

.charsheet .sheet-offset-17-20 {
    margin-left: 85%;
}

.charsheet .sheet-col__19-20 {
    width: 95%;
}

.charsheet .sheet-offset-19-20 {
    margin-left: 95%;
}

.charsheet .sheet-col__1-21 {
    width: 4.7619%;
}

.charsheet .sheet-offset-1-21 {
    margin-left: 4.7619%;
}

.charsheet .sheet-col__2-21 {
    width: 9.52381%;
}

.charsheet .sheet-offset-2-21 {
    margin-left: 9.52381%;
}

.charsheet .sheet-col__4-21 {
    width: 19.04762%;
}

.charsheet .sheet-offset-4-21 {
    margin-left: 19.04762%;
}

.charsheet .sheet-col__5-21 {
    width: 23.80952%;
}

.charsheet .sheet-offset-5-21 {
    margin-left: 23.80952%;
}

.charsheet .sheet-col__6-21 {
    width: 28.57143%;
}

.charsheet .sheet-offset-6-21 {
    margin-left: 28.57143%;
}

.charsheet .sheet-col__8-21 {
    width: 38.09524%;
}

.charsheet .sheet-offset-8-21 {
    margin-left: 38.09524%;
}

.charsheet .sheet-col__9-21 {
    width: 42.85714%;
}

.charsheet .sheet-offset-9-21 {
    margin-left: 42.85714%;
}

.charsheet .sheet-col__10-21 {
    width: 47.61905%;
}

.charsheet .sheet-offset-10-21 {
    margin-left: 47.61905%;
}

.charsheet .sheet-col__11-21 {
    width: 52.38095%;
}

.charsheet .sheet-offset-11-21 {
    margin-left: 52.38095%;
}

.charsheet .sheet-col__12-21 {
    width: 57.14286%;
}

.charsheet .sheet-offset-12-21 {
    margin-left: 57.14286%;
}

.charsheet .sheet-col__13-21 {
    width: 61.90476%;
}

.charsheet .sheet-offset-13-21 {
    margin-left: 61.90476%;
}

.charsheet .sheet-col__14-21 {
    width: 66.66667%;
}

.charsheet .sheet-offset-14-21 {
    margin-left: 66.66667%;
}

.charsheet .sheet-col__15-21 {
    width: 71.42857%;
}

.charsheet .sheet-offset-15-21 {
    margin-left: 71.42857%;
}

.charsheet .sheet-col__16-21 {
    width: 76.19048%;
}

.charsheet .sheet-offset-16-21 {
    margin-left: 76.19048%;
}

.charsheet .sheet-col__17-21 {
    width: 80.95238%;
}

.charsheet .sheet-offset-17-21 {
    margin-left: 80.95238%;
}

.charsheet .sheet-col__18-21 {
    width: 85.71429%;
}

.charsheet .sheet-offset-18-21 {
    margin-left: 85.71429%;
}

.charsheet .sheet-col__19-21 {
    width: 90.47619%;
}

.charsheet .sheet-offset-19-21 {
    margin-left: 90.47619%;
}

.charsheet .sheet-col__20-21 {
    width: 95.2381%;
}

.charsheet .sheet-offset-20-21 {
    margin-left: 95.2381%;
}

.charsheet .sheet-col__1-22 {
    width: 4.54545%;
}

.charsheet .sheet-offset-1-22 {
    margin-left: 4.54545%;
}

.charsheet .sheet-col__3-22 {
    width: 13.63636%;
}

.charsheet .sheet-offset-3-22 {
    margin-left: 13.63636%;
}

.charsheet .sheet-col__5-22 {
    width: 22.72727%;
}

.charsheet .sheet-offset-5-22 {
    margin-left: 22.72727%;
}

.charsheet .sheet-col__7-22 {
    width: 31.81818%;
}

.charsheet .sheet-offset-7-22 {
    margin-left: 31.81818%;
}

.charsheet .sheet-col__9-22 {
    width: 40.90909%;
}

.charsheet .sheet-offset-9-22 {
    margin-left: 40.90909%;
}

.charsheet .sheet-col__13-22 {
    width: 59.09091%;
}

.charsheet .sheet-offset-13-22 {
    margin-left: 59.09091%;
}

.charsheet .sheet-col__15-22 {
    width: 68.18182%;
}

.charsheet .sheet-offset-15-22 {
    margin-left: 68.18182%;
}

.charsheet .sheet-col__17-22 {
    width: 77.27273%;
}

.charsheet .sheet-offset-17-22 {
    margin-left: 77.27273%;
}

.charsheet .sheet-col__19-22 {
    width: 86.36364%;
}

.charsheet .sheet-offset-19-22 {
    margin-left: 86.36364%;
}

.charsheet .sheet-col__21-22 {
    width: 95.45455%;
}

.charsheet .sheet-offset-21-22 {
    margin-left: 95.45455%;
}

.charsheet .sheet-col__1-23 {
    width: 4.34783%;
}

.charsheet .sheet-offset-1-23 {
    margin-left: 4.34783%;
}

.charsheet .sheet-col__2-23 {
    width: 8.69565%;
}

.charsheet .sheet-offset-2-23 {
    margin-left: 8.69565%;
}

.charsheet .sheet-col__3-23 {
    width: 13.04348%;
}

.charsheet .sheet-offset-3-23 {
    margin-left: 13.04348%;
}

.charsheet .sheet-col__4-23 {
    width: 17.3913%;
}

.charsheet .sheet-offset-4-23 {
    margin-left: 17.3913%;
}

.charsheet .sheet-col__5-23 {
    width: 21.73913%;
}

.charsheet .sheet-offset-5-23 {
    margin-left: 21.73913%;
}

.charsheet .sheet-col__6-23 {
    width: 26.08696%;
}

.charsheet .sheet-offset-6-23 {
    margin-left: 26.08696%;
}

.charsheet .sheet-col__7-23 {
    width: 30.43478%;
}

.charsheet .sheet-offset-7-23 {
    margin-left: 30.43478%;
}

.charsheet .sheet-col__8-23 {
    width: 34.78261%;
}

.charsheet .sheet-offset-8-23 {
    margin-left: 34.78261%;
}

.charsheet .sheet-col__9-23 {
    width: 39.13043%;
}

.charsheet .sheet-offset-9-23 {
    margin-left: 39.13043%;
}

.charsheet .sheet-col__10-23 {
    width: 43.47826%;
}

.charsheet .sheet-offset-10-23 {
    margin-left: 43.47826%;
}

.charsheet .sheet-col__11-23 {
    width: 47.82609%;
}

.charsheet .sheet-offset-11-23 {
    margin-left: 47.82609%;
}

.charsheet .sheet-col__12-23 {
    width: 52.17391%;
}

.charsheet .sheet-offset-12-23 {
    margin-left: 52.17391%;
}

.charsheet .sheet-col__13-23 {
    width: 56.52174%;
}

.charsheet .sheet-offset-13-23 {
    margin-left: 56.52174%;
}

.charsheet .sheet-col__14-23 {
    width: 60.86957%;
}

.charsheet .sheet-offset-14-23 {
    margin-left: 60.86957%;
}

.charsheet .sheet-col__15-23 {
    width: 65.21739%;
}

.charsheet .sheet-offset-15-23 {
    margin-left: 65.21739%;
}

.charsheet .sheet-col__16-23 {
    width: 69.56522%;
}

.charsheet .sheet-offset-16-23 {
    margin-left: 69.56522%;
}

.charsheet .sheet-col__17-23 {
    width: 73.91304%;
}

.charsheet .sheet-offset-17-23 {
    margin-left: 73.91304%;
}

.charsheet .sheet-col__18-23 {
    width: 78.26087%;
}

.charsheet .sheet-offset-18-23 {
    margin-left: 78.26087%;
}

.charsheet .sheet-col__19-23 {
    width: 82.6087%;
}

.charsheet .sheet-offset-19-23 {
    margin-left: 82.6087%;
}

.charsheet .sheet-col__20-23 {
    width: 86.95652%;
}

.charsheet .sheet-offset-20-23 {
    margin-left: 86.95652%;
}

.charsheet .sheet-col__21-23 {
    width: 91.30435%;
}

.charsheet .sheet-offset-21-23 {
    margin-left: 91.30435%;
}

.charsheet .sheet-col__22-23 {
    width: 95.65217%;
}

.charsheet .sheet-offset-22-23 {
    margin-left: 95.65217%;
}

.charsheet .sheet-col__1-24 {
    width: 4.16667%;
}

.charsheet .sheet-offset-1-24 {
    /* margin-left: 4.16667%; */
}

.charsheet .sheet-col__5-24 {
    width: 20.83333%;
}

.charsheet .sheet-offset-5-24 {
    margin-left: 20.83333%;
}

.charsheet .sheet-col__7-24 {
    width: 29.16667%;
}

.charsheet .sheet-offset-7-24 {
    margin-left: 29.16667%;
}

.charsheet .sheet-col__9-24 {
    width: 37.5%;
}

.charsheet .sheet-offset-9-24 {
    margin-left: 37.5%;
}

.charsheet .sheet-col__11-24 {
    width: 45.83333%;
}

.charsheet .sheet-offset-11-24 {
    margin-left: 45.83333%;
}

.charsheet .sheet-col__13-24 {
    width: 54.16667%;
}

.charsheet .sheet-offset-13-24 {
    margin-left: 54.16667%;
}

.charsheet .sheet-col__15-24 {
    width: 62.5%;
}

.charsheet .sheet-offset-15-24 {
    margin-left: 62.5%;
}

.charsheet .sheet-col__17-24 {
    width: 70.83333%;
}

.charsheet .sheet-offset-17-24 {
    margin-left: 70.83333%;
}

.charsheet .sheet-col__19-24 {
    width: 79.16667%;
}

.charsheet .sheet-offset-19-24 {
    margin-left: 79.16667%;
}

.charsheet .sheet-col__21-24 {
    width: 87.5%;
}

.charsheet .sheet-offset-21-24 {
    margin-left: 87.5%;
}

.charsheet .sheet-col__23-24 {
    width: 95.83333%;
}

.charsheet .sheet-offset-23-24 {
    margin-left: 95.83333%;
}

.charsheet .row-r {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;
}

.charsheet .sheet-opera-only :-o-prefocus,.charsheet .row-r {
    word-spacing: -0.43em;
}

.charsheet .row-r img {
    max-width: 100%;
}
