<div class="sheet">
    <input class="sheet--is-npc" type="checkbox" name="attr_is_npc" value="1">
    <div class="sheet--hd">{{> sheet-hd }}</div>
    <div class="sheet--bd sheet--bd__pc">{{> sheet-pc }}</div>
    <div class="sheet--bd sheet--bd__npc">{{> sheet-npc }}</div>
    <div class="sheet--ft">{{> sheet-ft }}</div>
</div>
