<div class="row">

    <div class="sheet-col sheet-col__1-2 sheet-padr">

        <h4 class="sheet-center">Core Stats</h4>

        <div class="row sheet-sub-header">
            <div class="sheet-col sheet-col__1-6 sheet-center sheet-small-label">Score</div>
            <div class="sheet-col sheet-col__1-6 sheet-center sheet-small-label">&nbsp;</div>
            <div class="sheet-col sheet-col__1-6 sheet-center sheet-small-label">Mod</div>
            <div class="sheet-col sheet-col__1-6 sheet-center sheet-small-label">Save Prof?</div>
            <div class="sheet-col sheet-col__1-6 sheet-center sheet-small-label">Save Bonus</div>
            <div class="sheet-col sheet-col__1-6 sheet-center sheet-small-label">Save</div>
        </div>

        <div class="row">
            <div class="sheet-col sheet-col__1-6"><input type="number" name="attr_strength" min="1" step="1"/></div>
            <div class="sheet-col sheet-col__1-6 sheet-core-stat-label">Str</div>
            <div class="sheet-col sheet-col__1-6"><input type="number" name="attr_strength_mod" value="(floor((@{strength}-10)/2))" disabled="disabled"/></div>
            <div class="sheet-col sheet-col__1-6 sheet-vert-middle sheet-checkbox-row"><input type="checkbox" name="attr_strength_save_prof" value="@{PB}" /></div>
            <div class="sheet-col sheet-col__1-6"><input type="number" name="attr_strength_save_mod" value="@{strength_mod} + @{strength_save_prof}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-6 sheet-center"><button type="roll" class="sheet-core-save" name="roll_Strength_Save" value="/em attempts a saving throw\n\nSTR save :[[1d20 + @{strength_save_mod} [Stat Mod and Proficiency] + (@{global_saving_bonus}) [Active Save Bonus] ]] | [[1d20 + @{strength_save_mod} [Stat Mod and Proficiency] + (@{global_saving_bonus}) [Active Save Bonus] ]]">Save</button></div>
        </div>

        <div class="row">
            <div class="sheet-col sheet-col__1-6"><input type="number" name="attr_dexterity"  min="1" step="1"/></div>
            <div class="sheet-col sheet-col__1-6 sheet-core-stat-label">Dex</div>
            <div class="sheet-col sheet-col__1-6"><input type="number" name="attr_dexterity_mod" value="(floor((@{dexterity}-10)/2))" disabled="disabled"/></div>
            <div class="sheet-col sheet-col__1-6 sheet-vert-middle sheet-checkbox-row"><input type="checkbox" name="attr_dexterity_save_prof" value="@{PB}" /></div>
            <div class="sheet-col sheet-col__1-6"><input type="number" name="attr_dexterity_save_mod" value="@{dexterity_mod} + @{dexterity_save_prof}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-6 sheet-center"><button type="roll" class="sheet-core-save" name="roll_Dexterity_Save" value="/em attempts a saving throw\n\nDEX save : [[1d20 + @{dexterity_save_mod} [Stat Mod and Proficiency] + (@{global_saving_bonus}) [Active Save Bonus] ]] | [[1d20 + @{dexterity_save_mod} [Stat Mod and Proficiency] + (@{global_saving_bonus}) [Active Save Bonus] ]]">Save</button></div>
        </div>

        <div class="row">
            <div class="sheet-col sheet-col__1-6"><input type="number" name="attr_constitution" min="1" step="1"/></div>
            <div class="sheet-col sheet-col__1-6 sheet-core-stat-label">Con</div>
            <div class="sheet-col sheet-col__1-6"><input type="number" name="attr_constitution_mod" value="(floor((@{constitution}-10)/2))" disabled="disabled"/></div>
            <div class="sheet-col sheet-col__1-6 sheet-vert-middle sheet-checkbox-row"><input type="checkbox" name="attr_constitution_save_prof" value="@{PB}" /></div>
            <div class="sheet-col sheet-col__1-6"><input type="number" name="attr_constitution_save_mod" value="@{constitution_mod} + @{constitution_save_prof}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-6 sheet-center"><button type="roll" class="sheet-core-save" name="roll_Constitution_Save" value="/em attempts a saving throw\n\nCON save : [[1d20 + @{constitution_save_mod} [Stat Mod and Proficiency] + (@{global_saving_bonus}) [Active Save Bonus] ]] | [[1d20 + @{constitution_save_mod} [Stat Mod and Proficiency] + (@{global_saving_bonus}) [Active Save Bonus] ]]">Save</button></div>
        </div>

        <div class="row">
            <div class="sheet-col sheet-col__1-6"><input type="number" name="attr_intelligence" min="1" step="1"/></div>
            <div class="sheet-col sheet-col__1-6 sheet-core-stat-label">Int</div>
            <div class="sheet-col sheet-col__1-6"><input type="number" name="attr_intelligence_mod" value="(floor((@{intelligence}-10)/2))" disabled="disabled"/></div>
            <div class="sheet-col sheet-col__1-6 sheet-vert-middle sheet-checkbox-row"><input type="checkbox" name="attr_intelligence_save_prof" value="@{PB}" /></div>
            <div class="sheet-col sheet-col__1-6"><input type="number" name="attr_intelligence_save_mod" value="@{intelligence_mod} + @{intelligence_save_prof}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-6 sheet-center"><button type="roll" class="sheet-core-save" name="roll_Intelligence_Save" value="/em attempts a saving throw\n\nINT save : [[1d20 + @{intelligence_save_mod} [Stat Mod and Proficiency] + (@{global_saving_bonus}) [Active Save Bonus] ]] | [[1d20 + @{intelligence_save_mod} [Stat Mod and Proficiency] + (@{global_saving_bonus}) [Active Save Bonus] ]]">Save</button></div>
        </div>

        <div class="row">
            <div class="sheet-col sheet-col__1-6"><input type="number" name="attr_wisdom" min="1" step="1"/></div>
            <div class="sheet-col sheet-col__1-6 sheet-core-stat-label">Wis</div>
            <div class="sheet-col sheet-col__1-6"><input type="number" name="attr_wisdom_mod" value="(floor((@{wisdom}-10)/2))" disabled="disabled"/></div>
            <div class="sheet-col sheet-col__1-6 sheet-vert-middle sheet-checkbox-row"><input type="checkbox" name="attr_wisdom_save_prof" value="@{PB}" /></div>
            <div class="sheet-col sheet-col__1-6"><input type="number" name="attr_wisdom_save_mod" value="@{wisdom_mod} + @{wisdom_save_prof}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-6 sheet-center"><button type="roll" class="sheet-core-save" name="roll_Wisdom_Save" value="/em attempts a saving throw\n\nWIS save : [[1d20 + @{wisdom_save_mod} [Stat Mod and Proficiency] + (@{global_saving_bonus}) [Active Save Bonus] ]] | [[1d20 + @{wisdom_save_mod} [Stat Mod and Proficiency] + (@{global_saving_bonus}) [Active Save Bonus] ]]">Save</button></div>
        </div>

        <div class="row">
            <div class="sheet-col sheet-col__1-6"><input type="number" name="attr_charisma" min="1" step="1"/></div>
            <div class="sheet-col sheet-col__1-6 sheet-core-stat-label">Cha</div>
            <div class="sheet-col sheet-col__1-6"><input type="number" name="attr_charisma_mod" value="(floor((@{charisma}-10)/2))" disabled="disabled"/></div>
            <div class="sheet-col sheet-col__1-6 sheet-vert-middle sheet-checkbox-row"><input type="checkbox" name="attr_charisma_save_prof" value="@{PB}" /></div>
            <div class="sheet-col sheet-col__1-6"><input type="number" name="attr_charisma_save_mod" value="@{charisma_mod} + @{charisma_save_prof}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-6 sheet-center"><button type="roll" class="sheet-core-save" name="roll_Charisma_Save" value="/em attempts a saving throw\n\nCHA save : [[1d20 + @{charisma_save_mod} [Stat Mod and Proficiency] + (@{global_saving_bonus}) [Active Save Bonus] ]] | [[1d20 + @{charisma_save_mod} [Stat Mod and Proficiency] + (@{global_saving_bonus}) [Active Save Bonus] ]]">Save</button></div>
        </div>

    </div>

    <div class="sheet-col sheet-col__1-2 sheet-padr">

        <h4 class="sheet-center">Hit Points <span class="sheet-pictos">k</span> and Speed <span class="sheet-pictos">1</span></h4>

        <div class="row sheet-padb">
            <div class="sheet-col sheet-col__1-2 sheet-padr sheet-border-right">
                <div class="row">
                    <div class="sheet-col sheet-col__1-2 sheet-small-label sheet-center"><input class="sheet-underlined" type="number" name="attr_HP" step="1"><br/>Current</div>
                    <div class="sheet-col sheet-col__1-2 sheet-small-label sheet-center"><input class="sheet-underlined" type="number" name="attr_HP_max" min="1" step="1"><br/>Max</div>
                </div>
            </div>

            <div class="sheet-col sheet-col__1-4 sheet-padl sheet-padr sheet-border-right sheet-small-label sheet-center"><input class="sheet-underlined" type="number" name="attr_temp_HP" value="0" min="0" step="1" ><br/>Temp HP</div>
            <div class="sheet-col sheet-col__1-4 sheet-padl sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="text" name="attr_speed" ><br/>Speed</div>
        </div>

        <div class="row">

            <div class="sheet-col sheet-col__1-2">
                <h4 class="sheet-center">Initiative <span class="sheet-pictos">t</span></h4>
                <div class="row sheet-padr">
                    <div class="sheet-col sheet-col__1-3 sheet-small-label sheet-center" title="Only enter additional bonuses to initiative here. Your Dex mod is already included in the macro button"><input class="sheet-underlined sheet-center" type="number" name="attr_initiative" value="0" step="1"><br/>Bonus</div>
                    <div class="sheet-col sheet-col__1-3 sheet-small-label sheet-center"><input class="sheet-underlined" type="number" name="attr_initiative_overall" value="@{dexterity_mod} + @{initiative}" disabled="disabled"><br/>Total</div>
                    <div class="sheet-col sheet-col__1-3 sheet-center"><button type="roll" class="sheet-initiative sheet-large-button" name="roll_Initiative" value="@{selected|token_name} rolls a [[1d20 + @{selected|initiative_overall} [Initiative Mod] &{tracker}]] for initiative!">Initiative</button></div>
                </div>
            </div>

            <div class="sheet-col sheet-col__1-2 sheet-padl">
                <h4 class="sheet-center">Armour Class <span class="sheet-pictos-three">b</span></h4>

                <div class="row sheet-padb">
                    <div class="sheet-col sheet-col__1-2 sheet-small-label sheet-center"><input class="sheet-underlined" type="number" name="attr_AC" value="@{AC_calc}" disabled="disabled" ><br/>AC (worn armour)</div>
                    <div class="sheet-col sheet-col__1-2 sheet-small-label sheet-center"><input class="sheet-underlined" type="number" name="attr_AC_no_armour" value="@{AC_no_armour_calc}" disabled="disabled"><br/>AC (no armour)</div>
                </div>
            </div>

        </div>

        <h4 class="sheet-center">Level and Experience<span class="sheet-pictos-three">d</span></h4>
        <div class="row">
            <div class="sheet-col sheet-col__1-4 sheet-small-label sheet-center" title="This is automatically calculated from your individual class levels listed in the class section"><input class="sheet-underlined" type="number" name="attr_level" value="@{barbarian_level} + @{bard_level} + @{cleric_level} + @{druid_level} + @{fighter_level} + @{monk_level} + @{paladin_level} + @{ranger_level} + @{rogue_level} + @{sorcerer_level} + @{warlock_level} + @{wizard_level}" disabled="disabled"><br/>Overall Level</div>
            <div class="sheet-col sheet-col__1-4 sheet-small-label sheet-center" title="This is a bonus for you being proficient in a given task.  This bonus automatically increases as you level up and is used automatically in various rolls"><input class="sheet-underlined" type="number" name="attr_PB" value="(ceil((@{level})/1e10) + ceil((@{level})/4))" disabled="disabled"  ><br/>Prof Bonus</div>
            <div class="sheet-col sheet-col__1-4 sheet-small-label sheet-center"><input class="sheet-underlined" type="number" name="attr_xp" min="0" step="1"><br/>Current XP</div>
            <div class="sheet-col sheet-col__1-4 sheet-small-label sheet-center"><input class="sheet-underlined" type="number" name="attr_xp_next_level" min="0" step="1"><br/>XP for next level</div>
        </div>

    </div>

</div>


<div class="row">

    <div class="sheet-col sheet-col__5-12 sheet-padr">

        <h4 class="sheet-center">Bonuses/Penalties <span class="sheet-pictos">3</span></h4>

        <p class="sheet-small-note">Use this to apply bonuses (or penalties) to all rolls of the specified type rolled using the sheet's macros.</p>

        <div class="row">
            <div class="sheet-col sheet-col__6-13 sheet-center sheet-small-label sheet-sub-header">Melee</div>
            <div class="sheet-col sheet-col__1-13">&nbsp;</div>
            <div class="sheet-col sheet-col__6-13 sheet-center sheet-small-label sheet-sub-header">Ranged</div>
        </div>

        <div class="row">
            <div class="sheet-col sheet-col__3-13 sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="text" name="attr_global_melee_attack_bonus" value="0"><br/>Attack Rolls</div>
            <div class="sheet-col sheet-col__3-13 sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="text" name="attr_global_melee_damage_bonus" value="0"><br/>Damage Rolls</div>
            <div class="sheet-col sheet-col__1-13">&nbsp;</div>
            <div class="sheet-col sheet-col__3-13 sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="text" name="attr_global_ranged_attack_bonus" value="0"><br/>Attack Rolls</div>
            <div class="sheet-col sheet-col__3-13 sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="text" name="attr_global_ranged_damage_bonus" value="0"><br/>Damage Rolls</div>
        </div>

        <div class="row">
            <div class="sheet-col sheet-col__1 sheet-center sheet-small-label sheet-sub-header">Spellcasting</div>
        </div>

        <div class="row">
            <div class="sheet-col sheet-col__1-3 sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="text" name="attr_global_spell_attack_bonus" value="0"><br/>Attack Rolls</div>
            <div class="sheet-col sheet-col__1-3 sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="text" name="attr_global_spell_damage_bonus" value="0"><br/>Damage Rolls</div>
            <div class="sheet-col sheet-col__1-3 sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="text" name="attr_global_spell_dc_bonus" value="0" step="1"><br/>Save DC</div>
        </div>

        <div class="row">
            <div class="sheet-col sheet-col__1 sheet-center sheet-small-label sheet-sub-header">Saves and skill checks</div>
        </div>

        <div class="row">
            <div class="sheet-col sheet-col__1-2 sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="text" name="attr_global_saving_bonus" value="0"><br/>Saving thows</div>
            <div class="sheet-col sheet-col__1-2 sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="text" name="attr_global_check_bonus" value="0"><br/>Ability/Skill Checks</div>
        </div>

    </div>

    <div class="sheet-col sheet-col__7-12">

        <h4 class="sheet-center">Hit Dice <span class="sheet-d6-font">E</span></h4>
        <div class="row sheet-sub-header">
            <div class="sheet-col sheet-col__3-7 sheet-center sheet-small-label">Classes</div>
            <div class="sheet-col sheet-col__1-7 sheet-center sheet-small-label">Hit Die</div>
            <div class="sheet-col sheet-col__1-7 sheet-center sheet-small-label">Current</div>
            <div class="sheet-col sheet-col__1-7 sheet-center sheet-small-label">Max</div>
            <div class="sheet-col sheet-col__1-7 sheet-center sheet-small-label">&nbsp;</div>
        </div>

        <div class="row">
            <div class="sheet-col sheet-col__3-7 sheet-hd-row">Sorcerer, Wizard</div>
            <div class="sheet-col sheet-col__1-7 sheet-center sheet-hd-row">d6</div>
            <div class="sheet-col sheet-col__1-7"><input type="number" name="attr_hd_d6" value="0" min="0" step="1"></div>
            <div class="sheet-col sheet-col__1-7"><input type="number" name="attr_hd_d6_max" value="@{sorcerer_level} + @{wizard_level} " disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-7 sheet-center"><button type="roll" class="sheet-roll" name="roll_Use_HD_d6" value="/em takes a rest\n\n[[1d6 + @{constitution_mod} [Constitution Mod] ]] HP recovered from resting (1d6 hit dice used)">Use</button></div>
        </div>
        <div class="row">
            <div class="sheet-col sheet-col__3-7 sheet-hd-row">Bard, Cleric, Druid, Rogue, Monk, Warlock</div>
            <div class="sheet-col sheet-col__1-7 sheet-center sheet-hd-row">d8</div>
            <div class="sheet-col sheet-col__1-7"><input type="number" name="attr_hd_d8" value="0" min="0" step="1"></div>
            <div class="sheet-col sheet-col__1-7"><input type="number" name="attr_hd_d8_max" value="@{bard_level} + @{cleric_level} + @{druid_level} + @{rogue_level} + @{monk_level} + @{warlock_level}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-7 sheet-center"><button type="roll" class="sheet-roll" name="roll_Use_HD_d8" value="/em takes a rest\n\n[[1d8 + @{constitution_mod} [Constitution Mod] ]] HP recovered from resting (1d8 hit dice used)">Use</button></div>
        </div>
        <div class="row">
            <div class="sheet-col sheet-col__3-7 sheet-hd-row">Fighter, Paladin, Ranger</div>
            <div class="sheet-col sheet-col__1-7 sheet-center sheet-hd-row">d10</div>
            <div class="sheet-col sheet-col__1-7"><input type="number" name="attr_hd_d10" value="0" min="0" step="1"></div>
            <div class="sheet-col sheet-col__1-7"><input type="number" name="attr_hd_d10_max" value="@{fighter_level} + @{paladin_level} + @{ranger_level}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-7 sheet-center"><button type="roll" class="sheet-roll" name="roll_Use_HD_d10" value="/em takes a rest\n\n[[1d10 + @{constitution_mod} [Constitution Mod] ]] HP recovered from resting (1d10 hit dice used)">Use</button></div>
        </div>
        <div class="row">
            <div class="sheet-col sheet-col__3-7 sheet-hd-row">Barbarian</div>
            <div class="sheet-col sheet-col__1-7 sheet-center sheet-hd-row">d12</div>
            <div class="sheet-col sheet-col__1-7"><input type="number" name="attr_hd_d12" value="0" min="0" step="1"></div>
            <div class="sheet-col sheet-col__1-7"><input type="number" name="attr_hd_d12_max" value="@{barbarian_level}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-7 sheet-center"><button type="roll" class="sheet-roll" name="roll_Use_HD_d12" value="/em takes a rest\n\n[[1d12 + @{constitution_mod} [Constitution Mod] ]] HP recovered from resting (1d12 hit dice used)">Use</button></div>
        </div>

        <h4 class="sheet-center">Other <span class="sheet-pictos">o</span></h4>

        <div class="row">
            <div class="sheet-col sheet-col__1-5 sheet-center sheet-small-label sheet-sub-header sheet-padr">Inspiration?</div>
            <div class="sheet-col sheet-col__4-5 sheet-center sheet-small-label sheet-sub-header sheet-padl">Death Saving Throws</div>
        </div>

        <div class="row">

            <div class="sheet-col sheet-col__1-5 sheet-padr sheet-center sheet-margin-top">

                <input class="sheet-inspiration" type="checkbox" name="attr_inspiration" value="1"><span class="sheet-inspiration-tab"></span>

            </div>

            <div class="sheet-col sheet-col__3-5 sheet-padl">

                <div class="row">
                    <div class="sheet-col sheet-col__1-4 sheet-margin-top sheet-small-label">Successes : </div>
                    <div class="sheet-col sheet-col__3-4 sheet-center">
                        <input class="sheet-death-save-success" type="checkbox" name="attr_death_save_success_1" value="1"><span class="sheet-death-save-success-tab"></span>
                        <input class="sheet-death-save-success" type="checkbox" name="attr_death_save_success_2" value="1"><span class="sheet-death-save-success-tab"></span>
                        <input class="sheet-death-save-success" type="checkbox" name="attr_death_save_success_3" value="1"><span class="sheet-death-save-success-tab"></span>
                    </div>
                </div>


                <div class="row">
                    <div class="sheet-col sheet-col__1-4 sheet-margin-top sheet-small-label">Failures : </div>
                    <div class="sheet-col sheet-col__3-4 sheet-center">
                        <input class="sheet-death-save-fail" type="checkbox" name="attr_death_save_fail_1" value="1"><span class="sheet-death-save-fail-tab"></span>
                        <input class="sheet-death-save-fail" type="checkbox" name="attr_death_save_fail_2" value="1"><span class="sheet-death-save-fail-tab"></span>
                        <input class="sheet-death-save-fail" type="checkbox" name="attr_death_save_fail_3" value="1"><span class="sheet-death-save-fail-tab"></span>
                    </div>
                </div>

            </div>

            <div class="sheet-col sheet-col__1-5 sheet-margin-top">

                <div class="row">
                    <div class="sheet-col sheet-col__1 sheet-center"><button type="roll" class="sheet-roll" name="roll_Death_Saving_Throw" value="/em makes a DEATH saving throw\n\nDEATH save :  [[1d20 + (@{global_saving_bonus}) [Active Save Bonus] ]]">Death Saving Throw</button></div>
                </div>



            </div>

        </div>

    </div>
</div>
