<h4 class="sheet-center">Skills <span class="sheet-pictos">x</span></h4>
<div class="row">

    <div class="sheet-col sheet-col__1-2 sheet-padr">

        <div class="row sheet-sub-header">
            <div class="sheet-col sheet-col__1-12 sheet-center sheet-small-label">&nbsp;</div>
            <div class="sheet-col sheet-col__7-24 sheet-small-label">Skill</div>
            <div class="sheet-col sheet-col__7-24 sheet-center sheet-small-label">Proficient</div>
            <div class="sheet-col sheet-col__1-8 sheet-center sheet-small-label">Bonus</div>
            <div class="sheet-col sheet-col__1-12 sheet-center sheet-small-label">Total</div>
            <div class="sheet-col sheet-col__1-12 sheet-offset-1-24 sheet-center sheet-small-label">Pass</div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_Acrobatics_Check" value="/em makes an ability check\n\nDEX (Acrobatics) check :\n[[1d20 + @{acrobatics} [Proficiency + Dexterity Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{acrobatics} [Proficiency + Dexterity Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24 sheet-skill-name">Acrobatics (Dex)</div>
            <div class="sheet-col sheet-col__7-24">
                <select name="attr_acrobatics_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_acrobatics_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-12"><input type="number" name="attr_acrobatics" value="@{acrobatics_prof_exp}+@{dexterity_mod}+@{acrobatics_bonus}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-12 sheet-offset-1-24"><input type="number" class="sheet-passive-skill-score" name="attr_passive_acrobatics" value="10 + @{acrobatics}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_AnimalHandling_Check" value="/em makes an ability check\n\nWIS (Animal Handling) check :\n[[1d20 + @{animalhandling} [Proficiency + Wisdom Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{animalhandling} [Proficiency + Wisdom Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24 sheet-skill-name">Animal Handling (Wis)</div>
            <div class="sheet-col sheet-col__7-24">
                <select name="attr_animalhandling_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_animalhandling_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-12"><input type="number" name="attr_animalhandling" value="@{animalhandling_prof_exp}+@{wisdom_mod}+@{animalhandling_bonus}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-12 sheet-offset-1-24"><input type="number" class="sheet-passive-skill-score" name="attr_passive_animalhandling" value="10 + @{animalhandling}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_Arcana_Check" value="/em makes an ability check\n\nINT (Arcana) check :\n[[1d20 + @{arcana} [Proficiency + Intelligence Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{arcana} [Proficiency + Intelligence Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24 sheet-skill-name">Arcana (Int)</div>
            <div class="sheet-col sheet-col__7-24">
                <select name="attr_arcana_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_arcana_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-12"><input type="number" name="attr_arcana" value="@{arcana_prof_exp}+@{intelligence_mod}+@{arcana_bonus}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-12 sheet-offset-1-24"><input type="number" class="sheet-passive-skill-score" name="attr_passive_arcana" value="10 + @{arcana}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_Athletics_Check" value="/em makes an ability check\n\nSTR (Athletics) check :\n[[1d20 + @{athletics} [Proficiency + Strength Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{athletics} [Proficiency + Strength Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24 sheet-skill-name">Athletics (Str)</div>
            <div class="sheet-col sheet-col__7-24">
                <select name="attr_athletics_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_athletics_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-12"><input type="number" name="attr_athletics" value="@{athletics_prof_exp}+@{strength_mod}+@{athletics_bonus}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-12 sheet-offset-1-24"><input type="number" class="sheet-passive-skill-score" name="attr_passive_athletics" value="10 + @{athletics}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_Deception_Check" value="/em makes an ability check\n\nCHA (Deception) check :\n[[1d20 + @{deception} [Proficiency + Charisma Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{deception} [Proficiency + Charisma Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24 sheet-skill-name">Deception (Cha)</div>
            <div class="sheet-col sheet-col__7-24">
                <select name="attr_deception_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_deception_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-12"><input type="number" name="attr_deception" value="@{deception_prof_exp}+@{charisma_mod}+@{deception_bonus}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-12 sheet-offset-1-24"><input type="number" class="sheet-passive-skill-score" name="attr_passive_deception" value="10 + @{deception}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_History_Check" value="/em makes an ability check\n\nINT (History) check :\n[[1d20 + @{history} [Proficiency + Intelligence Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{history} [Proficiency + Intelligence Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24 sheet-skill-name">History (Int)</div>
            <div class="sheet-col sheet-col__7-24">
                <select name="attr_history_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_history_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-12"><input type="number" name="attr_history" value="@{history_prof_exp}+@{intelligence_mod}+@{history_bonus}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-12 sheet-offset-1-24"><input type="number" class="sheet-passive-skill-score" name="attr_passive_history" value="10 + @{history}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_Insight_Check" value="/em makes an ability check\n\nWIS (Insight) check :\n[[1d20 + @{insight} [Proficiency + Wisdom Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{insight} [Proficiency + Wisdom Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24 sheet-skill-name">Insight (Wis)</div>
            <div class="sheet-col sheet-col__7-24">
                <select name="attr_insight_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_insight_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-12"><input type="number" name="attr_insight" value="@{insight_prof_exp}+@{wisdom_mod}+@{insight_bonus}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-12 sheet-offset-1-24"><input type="number" class="sheet-passive-skill-score" name="attr_passive_insight" value="10 + @{insight}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_Intimidation_Check" value="/em makes an ability check\n\nCHA (Intimidation) check :\n[[1d20 + @{intimidation} [Proficiency + Charisma Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{intimidation} [Proficiency + Charisma Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24 sheet-skill-name">Intimidation (Cha)</div>
            <div class="sheet-col sheet-col__7-24">
                <select name="attr_intimidation_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_intimidation_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-12"><input type="number" name="attr_intimidation" value="@{intimidation_prof_exp}+@{charisma_mod}+@{intimidation_bonus}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-12 sheet-offset-1-24"><input type="number" class="sheet-passive-skill-score" name="attr_passive_intimidation" value="10 + @{intimidation}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_Investigation_Check" value="/em makes an ability check\n\nINT (Investigation) check :\n[[1d20 + @{investigation} [Proficiency + Intelligence Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{investigation} [Proficiency + Intelligence Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24 sheet-skill-name">Investigation (Int)</div>
            <div class="sheet-col sheet-col__7-24">
                <select name="attr_investigation_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_investigation_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-12"><input type="number" name="attr_investigation" value="@{investigation_prof_exp}+@{intelligence_mod}+@{investigation_bonus}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-12 sheet-offset-1-24"><input type="number" class="sheet-passive-skill-score" name="attr_passive_investigation" value="10 + @{investigation}" disabled="disabled"></div>
        </div>



    </div>

    <div class="sheet-col sheet-col__1-2">

        <div class="row sheet-sub-header">
            <div class="sheet-col sheet-col__1-12 sheet-center sheet-small-label">&nbsp;</div>
            <div class="sheet-col sheet-col__7-24 sheet-small-label">Skill</div>
            <div class="sheet-col sheet-col__7-24 sheet-center sheet-small-label">Proficient</div>
            <div class="sheet-col sheet-col__1-8 sheet-center sheet-small-label">Bonus</div>
            <div class="sheet-col sheet-col__1-12 sheet-center sheet-small-label">Total</div>
            <div class="sheet-col sheet-col__1-12 sheet-offset-1-24 sheet-center sheet-small-label">Pass</div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_Medicine_Check" value="/em makes an ability check\n\nWIS (Medicine) check :\n[[1d20 + @{medicine} [Proficiency + Wisdom Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{medicine} [Proficiency + Wisdom Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24 sheet-skill-name">Medicine (Wis)</div>
            <div class="sheet-col sheet-col__7-24">
                <select name="attr_medicine_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_medicine_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-12"><input type="number" name="attr_medicine" value="@{medicine_prof_exp}+@{wisdom_mod}+@{medicine_bonus}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-12 sheet-offset-1-24"><input type="number" class="sheet-passive-skill-score" name="attr_passive_medicine" value="10 + @{medicine}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_Nature_Check" value="/em makes an ability check\n\nINT (Nature) check :\n[[1d20 + @{nature} [Proficiency + Intelligence Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{nature} [Proficiency + Intelligence Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24 sheet-skill-name">Nature (Int)</div>
            <div class="sheet-col sheet-col__7-24">
                <select name="attr_nature_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_nature_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-12"><input type="number" name="attr_nature" value="@{nature_prof_exp}+@{intelligence_mod}+@{nature_bonus}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-12 sheet-offset-1-24"><input type="number" class="sheet-passive-skill-score" name="attr_passive_nature" value="10 + @{nature}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_Perception_Check" value="/em makes an ability check\n\nWIS (Perception) check :\n[[1d20 + @{perception} [Proficiency + Wisdom Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{perception} [Proficiency + Wisdom Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24 sheet-skill-name">Perception (Wis)</div>
            <div class="sheet-col sheet-col__7-24">
                <select name="attr_perception_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_perception_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-12"><input type="number" name="attr_perception" value="@{perception_prof_exp}+@{wisdom_mod}+@{perception_bonus}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-12 sheet-offset-1-24"><input type="number" class="sheet-passive-skill-score" name="attr_passive_perception" value="10 + @{perception}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_Performance_Check" value="/em makes an ability check\n\nCHA (Performance) check :\n[[1d20 + @{performance} [Proficiency + Charisma Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{performance} [Proficiency + Charisma Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24 sheet-skill-name">Performance (Cha)</div>
            <div class="sheet-col sheet-col__7-24">
                <select name="attr_performance_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_performance_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-12"><input type="number" name="attr_performance" value="@{performance_prof_exp}+@{charisma_mod}+@{performance_bonus}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-12 sheet-offset-1-24"><input type="number" class="sheet-passive-skill-score" name="attr_passive_performance" value="10 + @{performance}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_Persuasion_Check" value="/em makes an ability check\n\nCHA (Persuasion) check :\n[[1d20 + @{persuasion} [Proficiency + Charisma Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{persuasion} [Proficiency + Charisma Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24 sheet-skill-name">Persuasion (Cha)</div>
            <div class="sheet-col sheet-col__7-24">
                <select name="attr_persuasion_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_persuasion_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-12"><input type="number" name="attr_persuasion" value="@{persuasion_prof_exp}+@{charisma_mod}+@{persuasion_bonus}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-12 sheet-offset-1-24"><input type="number" class="sheet-passive-skill-score" name="attr_passive_persuasion" value="10 + @{persuasion}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_Religion_Check" value="/em makes an ability check\n\nINT (Religion) check :\n[[1d20 + @{religion} [Proficiency + Intelligence Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{religion} [Proficiency + Intelligence Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24 sheet-skill-name">Religion (Int)</div>
            <div class="sheet-col sheet-col__7-24">
                <select name="attr_religion_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_religion_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-12"><input type="number" name="attr_religion" value="@{religion_prof_exp}+@{intelligence_mod}+@{religion_bonus}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-12 sheet-offset-1-24"><input type="number" class="sheet-passive-skill-score" name="attr_passive_religion" value="10 + @{religion}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_SleightOfHand_Check" value="/em makes an ability check\n\nDEX (Sleight of Hand) check :\n[[1d20 + @{sleightofhand} [Proficiency + Dexterity Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{sleightofhand} [Proficiency + Dexterity Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24 sheet-skill-name">Sleight of Hand (Dex)</div>
            <div class="sheet-col sheet-col__7-24">
                <select name="attr_sleightofhand_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_sleightofhand_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-12"><input type="number" name="attr_sleightofhand" value="@{sleightofhand_prof_exp}+@{dexterity_mod}+@{sleightofhand_bonus}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-12 sheet-offset-1-24"><input type="number" class="sheet-passive-skill-score" name="attr_passive_sleightofhand" value="10 + @{sleightofhand}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_Stealth_Check" value="/em makes an ability check\n\nDEX (Stealth) check :\n[[1d20 + @{stealth} [Proficiency + Dexterity Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{stealth} [Proficiency + Dexterity Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24 sheet-skill-name">Stealth (Dex)</div>
            <div class="sheet-col sheet-col__7-24">
                <select name="attr_stealth_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_stealth_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-12"><input type="number" name="attr_stealth" value="@{stealth_prof_exp}+@{dexterity_mod}+@{stealth_bonus}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-12 sheet-offset-1-24"><input type="number" class="sheet-passive-skill-score" name="attr_passive_stealth" value="10 + @{stealth}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_Survival_Check" value="/em makes an ability check\n\nWIS (Survival) check :\n[[1d20 + @{survival} [Proficiency + Wisdom Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{survival} [Proficiency + Wisdom Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24 sheet-skill-name">Survival (Wis)</div>
            <div class="sheet-col sheet-col__7-24">
                <select name="attr_survival_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_survival_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-12"><input type="number" name="attr_survival" value="@{survival_prof_exp}+@{wisdom_mod}+@{survival_bonus}" disabled="disabled"></div>
            <div class="sheet-col sheet-col__1-12 sheet-offset-1-24"><input type="number" class="sheet-passive-skill-score" name="attr_passive_survival" value="10 + @{survival}" disabled="disabled"></div>
        </div>

    </div>

</div>

<hr />

<div class="row">

    <div class="sheet-col sheet-col__1-2 sheet-padr">

        <div class="row sheet-sub-header">
            <div class="sheet-col sheet-col__1-12 sheet-center sheet-small-label">&nbsp;</div>
            <div class="sheet-col sheet-col__7-24 sheet-small-label sheet-center">Skill</div>
            <div class="sheet-col sheet-col__1-6 sheet-small-label sheet-center">Stat</div>
            <div class="sheet-col sheet-col__5-24 sheet-center sheet-small-label">Proficient</div>
            <div class="sheet-col sheet-col__1-8 sheet-center sheet-small-label">Bonus</div>
            <div class="sheet-col sheet-col__1-8 sheet-center sheet-small-label">Total</div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_Custom_Skill_1" value="/em makes an ability check\n\n@{custom_skill_1_name} check :\n[[1d20 + @{custom_skill_1} [Proficiency + Stat Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{custom_skill_1} [Proficiency + Stat Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24"><input type="text" class="sheet-center" name="attr_custom_skill_1_name" value="Custom 1"></div>
            <div class="sheet-col sheet-col__1-6 sheet-small-label sheet-center">
                <select name="attr_custom_skill_1_mod">
                    <option value="0">None</option>
                    <option value="@{strength_mod}">STR</option>
                    <option value="@{dexterity_mod}">DEX</option>
                    <option value="@{constitution_mod}">CON</option>
                    <option value="@{intelligence_mod}">INT</option>
                    <option value="@{wisdom_mod}">WIS</option>
                    <option value="@{charisma_mod}">CHA</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__5-24">
                <select name="attr_custom_skill_1_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_custom_skill_1_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_custom_skill_1" value="@{custom_skill_1_prof_exp}+@{custom_skill_1_mod}+@{custom_skill_1_bonus}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_Custom_Skill_2" value="/em makes an ability check\n\n@{custom_skill_2_name} check :\n[[1d20 + @{custom_skill_2} [Proficiency + Stat Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{custom_skill_2} [Proficiency + Stat Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24"><input type="text" class="sheet-center" name="attr_custom_skill_2_name" value="Custom 2"></div>
            <div class="sheet-col sheet-col__1-6 sheet-small-label sheet-center">
                <select name="attr_custom_skill_2_mod">
                    <option value="0">None</option>
                    <option value="@{strength_mod}">STR</option>
                    <option value="@{dexterity_mod}">DEX</option>
                    <option value="@{constitution_mod}">CON</option>
                    <option value="@{intelligence_mod}">INT</option>
                    <option value="@{wisdom_mod}">WIS</option>
                    <option value="@{charisma_mod}">CHA</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__5-24">
                <select name="attr_custom_skill_2_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_custom_skill_2_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_custom_skill_2" value="@{custom_skill_2_prof_exp}+@{custom_skill_2_mod}+@{custom_skill_2_bonus}" disabled="disabled"></div>
        </div>

    </div>

    <div class="sheet-col sheet-col__1-2">

        <div class="row sheet-sub-header">
            <div class="sheet-col sheet-col__1-12 sheet-center sheet-small-label">&nbsp;</div>
            <div class="sheet-col sheet-col__7-24 sheet-small-label sheet-center">Skill</div>
            <div class="sheet-col sheet-col__1-6 sheet-small-label sheet-center">Stat</div>
            <div class="sheet-col sheet-col__5-24 sheet-center sheet-small-label">Proficient</div>
            <div class="sheet-col sheet-col__1-8 sheet-center sheet-small-label">Bonus</div>
            <div class="sheet-col sheet-col__1-8 sheet-center sheet-small-label">Total</div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_Custom_Skill_3" value="/em makes an ability check\n\n@{custom_skill_3_name} check :\n[[1d20 + @{custom_skill_3} [Proficiency + Stat Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{custom_skill_3} [Proficiency + Stat Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24"><input type="text" class="sheet-center" name="attr_custom_skill_3_name" value="Custom 3"></div>
            <div class="sheet-col sheet-col__1-6 sheet-small-label sheet-center">
                <select name="attr_custom_skill_3_mod">
                    <option value="0">None</option>
                    <option value="@{strength_mod}">STR</option>
                    <option value="@{dexterity_mod}">DEX</option>
                    <option value="@{constitution_mod}">CON</option>
                    <option value="@{intelligence_mod}">INT</option>
                    <option value="@{wisdom_mod}">WIS</option>
                    <option value="@{charisma_mod}">CHA</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__5-24">
                <select name="attr_custom_skill_3_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_custom_skill_3_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_custom_skill_3" value="@{custom_skill_3_prof_exp}+@{custom_skill_3_mod}+@{custom_skill_3_bonus}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-12"><button class="sheet-skill-roll" type="roll" name="roll_Custom_Skill_4" value="/em makes an ability check\n\n@{custom_skill_4_name} check :\n[[1d20 + @{custom_skill_4} [Proficiency + Stat Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{custom_skill_4} [Proficiency + Stat Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__7-24"><input type="text" class="sheet-center" name="attr_custom_skill_4_name" value="Custom 4"></div>
            <div class="sheet-col sheet-col__1-6 sheet-small-label sheet-center">
                <select name="attr_custom_skill_4_mod">
                    <option value="0">None</option>
                    <option value="@{strength_mod}">STR</option>
                    <option value="@{dexterity_mod}">DEX</option>
                    <option value="@{constitution_mod}">CON</option>
                    <option value="@{intelligence_mod}">INT</option>
                    <option value="@{wisdom_mod}">WIS</option>
                    <option value="@{charisma_mod}">CHA</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__5-24">
                <select name="attr_custom_skill_4_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                    <option value="@{PB}">Yes</option>
                    <option value="(2*@{PB})">Expertise</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_custom_skill_4_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-8"><input type="number" name="attr_custom_skill_4" value="@{custom_skill_4_prof_exp}+@{custom_skill_4_mod}+@{custom_skill_4_bonus}" disabled="disabled"></div>
        </div>

    </div>

</div>

<hr/>

<div class="row">

    <div class="sheet-col sheet-col__1-2 sheet-padr">

        <div class="row sheet-sub-header">
            <div class="sheet-col sheet-col__1-7 sheet-center sheet-small-label">&nbsp;</div>
            <div class="sheet-col sheet-col__2-7 sheet-small-label">Other</div>
            <div class="sheet-col sheet-col__2-7 sheet-center sheet-small-label">Proficient</div>
            <div class="sheet-col sheet-col__1-7 sheet-center sheet-small-label">Misc</div>
            <div class="sheet-col sheet-col__1-7 sheet-center sheet-small-label">Total</div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-7"><button class="sheet-skill-roll" type="roll" name="roll_Basic_Strength_Check" value="/em makes an ability check\n\nSTR (no skill) check :\n[[1d20 + @{basic_strength_check_mod} [Strength Mod] + (@{global_check_bonus}) [Active Check Bonus] ]] | [[1d20 + @{basic_strength_check_mod} [Strength Mod] + (@{global_check_bonus}) [Active Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__2-7 sheet-skill-name">(Unskilled STR check)</div>
            <div class="sheet-col sheet-col__2-7">
                <select name="attr_basic_strength_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-7"><input type="number" name="attr_basic_strength_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-7"><input type="number" name="attr_basic_strength_check_mod" value="@{strength_mod} + @{basic_strength_bonus} + @{basic_strength_prof_exp}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-7"><button class="sheet-skill-roll" type="roll" name="roll_Basic_Dexterity_Check" value="/em makes an ability check\n\nDEX (no skill) check :\n[[1d20 + @{basic_dexterity_check_mod} [Dexterity Mod] + (@{global_check_bonus}) [Active Check Bonus] ]] | [[1d20 + @{basic_dexterity_check_mod} [Dexterity Mod] + (@{global_check_bonus}) [Active Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__2-7 sheet-skill-name">(Unskilled DEX check)</div>
            <div class="sheet-col sheet-col__2-7">
                <select name="attr_basic_dexterity_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-7"><input type="number" name="attr_basic_dexterity_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-7"><input type="number" name="attr_basic_dexterity_check_mod" value="@{dexterity_mod} + @{basic_dexterity_bonus} + @{basic_dexterity_prof_exp}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-7"><button class="sheet-skill-roll" type="roll" name="roll_Basic_Constitution_Check" value="/em makes an ability check\n\nCON (no skill) check :\n[[1d20 + @{basic_constitution_check_mod} [Constitution Mod] + (@{global_check_bonus}) [Active Check Bonus] ]] | [[1d20 + @{basic_constitution_check_mod} [Constitution Mod] + (@{global_check_bonus}) [Active Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__2-7 sheet-skill-name">(Unskilled CON check)</div>
            <div class="sheet-col sheet-col__2-7">
                <select name="attr_basic_constitution_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-7"><input type="number" name="attr_basic_constitution_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-7"><input type="number" name="attr_basic_constitution_check_mod" value="@{constitution_mod} + @{basic_constitution_bonus} + @{basic_constitution_prof_exp}" disabled="disabled"></div>
        </div>



    </div>

    <div class="sheet-col sheet-col__1-2">

        <div class="row sheet-sub-header">
            <div class="sheet-col sheet-col__1-7 sheet-center sheet-small-label">&nbsp;</div>
            <div class="sheet-col sheet-col__2-7 sheet-small-label">Other</div>
            <div class="sheet-col sheet-col__2-7 sheet-center sheet-small-label">Proficient</div>
            <div class="sheet-col sheet-col__1-7 sheet-center sheet-small-label">Misc</div>
            <div class="sheet-col sheet-col__1-7 sheet-center sheet-small-label">Total</div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-7"><button class="sheet-skill-roll" type="roll" name="roll_Basic_Wisdom_Check" value="/em makes an ability check\n\nWIS (no skill) check :\n[[1d20 + @{basic_wisdom_check_mod} [Wisdom Mod] + (@{global_check_bonus}) [Active Check Bonus] ]] | [[1d20 + @{basic_wisdom_check_mod} [Wisdom Mod] + (@{global_check_bonus}) [Active Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__2-7 sheet-skill-name">(Unskilled WIS check)</div>
            <div class="sheet-col sheet-col__2-7">
                <select name="attr_basic_wisdom_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-7"><input type="number" name="attr_basic_wisdom_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-7"><input type="number" name="attr_basic_wisdom_check_mod" value="@{wisdom_mod} + @{basic_wisdom_bonus} + @{basic_wisdom_prof_exp}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-7"><button class="sheet-skill-roll" type="roll" name="roll_Basic_Intelligence_Check" value="/em makes an ability check\n\nINT (no skill) check :\n[[1d20 + @{basic_intelligence_check_mod} [Intelligence Mod] + (@{global_check_bonus}) [Active Check Bonus] ]] | [[1d20 + @{basic_intelligence_check_mod} [Intelligence Mod] + (@{global_check_bonus}) [Active Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__2-7 sheet-skill-name">(Unskilled INT check)</div>
            <div class="sheet-col sheet-col__2-7">
                <select name="attr_basic_intelligence_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-7"><input type="number" name="attr_basic_intelligence_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-7"><input type="number" name="attr_basic_intelligence_check_mod" value="@{intelligence_mod} + @{basic_intelligence_bonus} + @{basic_intelligence_prof_exp}" disabled="disabled"></div>
        </div>

        <div class="row sheet-skill-row">
            <div class="sheet-col sheet-col__1-7"><button class="sheet-skill-roll" type="roll" name="roll_Basic_Charisma_Check" value="/em makes an ability check\n\nCHA (no skill) check :\n[[1d20 + @{basic_charisma_check_mod} [Charisma Mod] + (@{global_check_bonus}) [Active Check Bonus] ]] | [[1d20 + @{basic_charisma_check_mod} [Charisma Mod] + (@{global_check_bonus}) [Active Check Bonus] ]]"></button></div>
            <div class="sheet-col sheet-col__2-7 sheet-skill-name">(Unskilled CHA check)</div>
            <div class="sheet-col sheet-col__2-7">
                <select name="attr_basic_charisma_prof_exp">
                    <option value="0">No</option>
                    <option value="floor(@{PB} / 2)">Jack of all trades</option>
                </select>
            </div>
            <div class="sheet-col sheet-col__1-7"><input type="number" name="attr_basic_charisma_bonus" value="0" step="1"/></div>
            <div class="sheet-col sheet-col__1-7"><input type="number" name="attr_basic_charisma_check_mod" value="@{charisma_mod} + @{basic_charisma_bonus} + @{basic_charisma_prof_exp}" disabled="disabled"></div>
        </div>
    </div>
</div>
