<!-- Hidden calcs to work out correct mod for finesse weapons -->
<!-- OLD split calcs easier to read but come with performance issues.  Consolidated single calc below
<input type="hidden" id="attr_finesse_str_weight" name="attr_finesse_str_weight" value="(ceil((@{strength_mod}/1e10) - (@{dexterity_mod}/1e10)))" disabled="disabled">
<input type="hidden" id="attr_finesse_dex_weight" name="attr_finesse_dex_weight" value="(ceil((@{dexterity_mod}/1e10) - (@{strength_mod}/1e10)))" disabled="disabled">
<input type="hidden" id="attr_finesse_tie_weight" name="attr_finesse_tie_weight" value="(1 - @{finesse_str_weight} - @{finesse_dex_weight})" disabled="disabled">
<input type="hidden" id="attr_finesse_mod" name="attr_finesse_mod" value="((@{finesse_str_weight} * @{strength_mod}) + (@{finesse_dex_weight} * @{dexterity_mod}) + ((@{finesse_tie_weight}) * (@{strength_mod})))" disabled="disabled">-->
<input type="hidden" id="attr_finesse_mod" name="attr_finesse_mod" value="(((ceil((@{strength_mod}/1e10) - (@{dexterity_mod}/1e10))) * @{strength_mod}) + ((ceil((@{dexterity_mod}/1e10) - (@{strength_mod}/1e10))) * @{dexterity_mod}) + ((1 - (ceil((@{strength_mod}/1e10) - (@{dexterity_mod}/1e10))) - (ceil((@{dexterity_mod}/1e10) - (@{strength_mod}/1e10)))) * (@{strength_mod})))" disabled="disabled">

<!-- BEGIN AUTO GENERATED WEAPON SECTION -->
<h4 class="sheet-center">Melee Weapons <span class="sheet-pictos">D</span></h4>
<div class="grid sheet-sub-header">
    <div class="grid__cell grid__cell--1-24 sheet-center label sheet-vert-bottom">Prof?</div>
    <div class="grid__cell grid__cell--1-6 sheet-center label sheet-vert-bottom">Weapon</div>
    <div class="grid__cell grid__cell--1-8 sheet-center label sheet-vert-bottom">Wielded</div>
    <div class="grid__cell grid__cell--1-12 sheet-center label sheet-vert-bottom">Finesse?</div>
    <div class="grid__cell grid__cell--1-12 sheet-center label sheet-vert-bottom sheet-padr">Magic Bonus</div>
    <div class="grid__cell grid__cell--1-24 sheet-center label sheet-vert-bottom">To<br/>Hit</div>
    <div class="grid__cell grid__cell--1-12 sheet-center label sheet-vert-bottom">Attack</div>
    <div class="grid__cell grid__cell--1-12 sheet-center label sheet-vert-bottom">Damage Dice</div>
    <div class="grid__cell grid__cell--1-24 sheet-center label sheet-vert-bottom">Dmg<br/>Bonus</div>
    <div class="grid__cell grid__cell--1-8 sheet-center label sheet-vert-bottom">Damage Type</div>
    <div class="grid__cell grid__cell--1-8 sheet-center label sheet-vert-bottom">Damage</div>
</div>    <!-- BEGIN melee weapon row -->
<div class="grid">
    <div class="grid__cell grid__cell--1-24 sheet-checkbox-row"><input type="checkbox" value="@{PB}" id="attr_pbmelee1" name="attr_pbmelee1" checked="checked"></div>
    <div class="grid__cell grid__cell--1-6"><input type="text" id="attr_meleeweaponname1" name="attr_meleeweaponname1"></div>
    <div class="grid__cell grid__cell--1-8" title="How is the weapon being wielded">
        <select id="attr_meleeattackweilded1" name="attr_meleeattackweilded1">
            <option value="1">Main Hand</option>
            <option value="1.1">2 Handed</option>
            <option value="0">Off Hand</option>
            <option value="1.2">Off Hand (2weap fight style)</option>
        </select>
    </div>
    <div class="grid__cell grid__cell--1-12">
        <select id="attr_meleeattackstat1" name="attr_meleeattackstat1">
            <option value="@{strength_mod}">No</option>
            <option value="@{finesse_mod}">Yes</option>
        </select>
    </div>
    <div class="grid__cell grid__cell--1-12 sheet-padr" title="The magic bonus will be added as a bonus to BOTH the attack and damage rolls"><input type="number" id="attr_meleemagic1" name="attr_meleemagic1" value="0" step="1"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_meleetohit1" name="attr_meleetohit1" value="@{meleeattackstat1} + @{pbmelee1} + @{meleemagic1}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-12 sheet-center"><button type="roll" class="sheet-roll" id="roll_MeleeAttack1" name="roll_MeleeAttack1" value="/em uses @{meleeweaponname1} to attack\n\n[[1d20 + @{meleetohit1} [To Hit] + (@{global_melee_attack_bonus}) [Active Melee Attack Bonus] ]] | [[1d20 + @{meleetohit1} [To Hit] + (@{global_melee_attack_bonus}) [Active Melee Attack Bonus] ]] vs AC" >Attack</button></div>
    <div class="grid__cell grid__cell--1-12" title="Only enter the base damage roll here without any bonuses from stats or other sources"><input class="sheet-center" type="text" id="attr_meleedmg1" name="attr_meleedmg1"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_meleedmgbonus1" name="attr_meleedmgbonus1" value="(@{meleeattackstat1} * floor(@{meleeattackweilded1})) + @{meleemagic1}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-8"><input type="text" id="attr_meleedmgtype1" name="attr_meleedmgtype1"></div>
    <div class="grid__cell grid__cell--1-8 sheet-center"><button type="roll" class="sheet-roll" id="roll_MeleeDamage1" name="roll_MeleeDamage1" value="\nFor [[@{meleedmg1} [Base damage] + @{meleedmgbonus1} [Damage Bonus] + (@{global_melee_damage_bonus}) [Active Melee Damage Bonus] + 0d0 [Bugfix 0] ]] @{meleedmgtype1} damage (if a crit add an extra [[@{meleedmg1}]])" >Damage</button></div>
</div>
<!-- END melee weapon row -->
<!-- BEGIN melee weapon row -->
<div class="grid">
    <div class="grid__cell grid__cell--1-24 sheet-checkbox-row"><input type="checkbox" value="@{PB}" id="attr_pbmelee2" name="attr_pbmelee2" checked="checked"></div>
    <div class="grid__cell grid__cell--1-6"><input type="text" id="attr_meleeweaponname2" name="attr_meleeweaponname2"></div>
    <div class="grid__cell grid__cell--1-8" title="How is the weapon being wielded">
        <select id="attr_meleeattackweilded2" name="attr_meleeattackweilded2">
            <option value="1">Main Hand</option>
            <option value="1.1">2 Handed</option>
            <option value="0">Off Hand</option>
            <option value="1.2">Off Hand (2weap fight style)</option>
        </select>
    </div>
    <div class="grid__cell grid__cell--1-12">
        <select id="attr_meleeattackstat2" name="attr_meleeattackstat2">
            <option value="@{strength_mod}">No</option>
            <option value="@{finesse_mod}">Yes</option>
        </select>
    </div>
    <div class="grid__cell grid__cell--1-12 sheet-padr" title="The magic bonus will be added as a bonus to BOTH the attack and damage rolls"><input type="number" id="attr_meleemagic2" name="attr_meleemagic2" value="0" step="1"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_meleetohit2" name="attr_meleetohit2" value="@{meleeattackstat2} + @{pbmelee2} + @{meleemagic2}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-12 sheet-center"><button type="roll" class="sheet-roll" id="roll_MeleeAttack2" name="roll_MeleeAttack2" value="/em uses @{meleeweaponname2} to attack\n\n[[1d20 + @{meleetohit2} [To Hit] + (@{global_melee_attack_bonus}) [Active Melee Attack Bonus] ]] | [[1d20 + @{meleetohit2} [To Hit] + (@{global_melee_attack_bonus}) [Active Melee Attack Bonus] ]] vs AC" >Attack</button></div>
    <div class="grid__cell grid__cell--1-12" title="Only enter the base damage roll here without any bonuses from stats or other sources"><input class="sheet-center" type="text" id="attr_meleedmg2" name="attr_meleedmg2"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_meleedmgbonus2" name="attr_meleedmgbonus2" value="(@{meleeattackstat2} * floor(@{meleeattackweilded2})) + @{meleemagic2}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-8"><input type="text" id="attr_meleedmgtype2" name="attr_meleedmgtype2"></div>
    <div class="grid__cell grid__cell--1-8 sheet-center"><button type="roll" class="sheet-roll" id="roll_MeleeDamage2" name="roll_MeleeDamage2" value="\nFor [[@{meleedmg2} [Base damage] + @{meleedmgbonus2} [Damage Bonus] + (@{global_melee_damage_bonus}) [Active Melee Damage Bonus] + 0d0 [Bugfix 0] ]] @{meleedmgtype2} damage (if a crit add an extra [[@{meleedmg2}]])" >Damage</button></div>
</div>
<!-- END melee weapon row -->
<!-- BEGIN melee weapon row -->
<div class="grid">
    <div class="grid__cell grid__cell--1-24 sheet-checkbox-row"><input type="checkbox" value="@{PB}" id="attr_pbmelee3" name="attr_pbmelee3" checked="checked"></div>
    <div class="grid__cell grid__cell--1-6"><input type="text" id="attr_meleeweaponname3" name="attr_meleeweaponname3"></div>
    <div class="grid__cell grid__cell--1-8" title="How is the weapon being wielded">
        <select id="attr_meleeattackweilded3" name="attr_meleeattackweilded3">
            <option value="1">Main Hand</option>
            <option value="1.1">2 Handed</option>
            <option value="0">Off Hand</option>
            <option value="1.2">Off Hand (2weap fight style)</option>
        </select>
    </div>
    <div class="grid__cell grid__cell--1-12">
        <select id="attr_meleeattackstat3" name="attr_meleeattackstat3">
            <option value="@{strength_mod}">No</option>
            <option value="@{finesse_mod}">Yes</option>
        </select>
    </div>
    <div class="grid__cell grid__cell--1-12 sheet-padr" title="The magic bonus will be added as a bonus to BOTH the attack and damage rolls"><input type="number" id="attr_meleemagic3" name="attr_meleemagic3" value="0" step="1"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_meleetohit3" name="attr_meleetohit3" value="@{meleeattackstat3} + @{pbmelee3} + @{meleemagic3}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-12 sheet-center"><button type="roll" class="sheet-roll" id="roll_MeleeAttack3" name="roll_MeleeAttack3" value="/em uses @{meleeweaponname3} to attack\n\n[[1d20 + @{meleetohit3} [To Hit] + (@{global_melee_attack_bonus}) [Active Melee Attack Bonus] ]] | [[1d20 + @{meleetohit3} [To Hit] + (@{global_melee_attack_bonus}) [Active Melee Attack Bonus] ]] vs AC" >Attack</button></div>
    <div class="grid__cell grid__cell--1-12" title="Only enter the base damage roll here without any bonuses from stats or other sources"><input class="sheet-center" type="text" id="attr_meleedmg3" name="attr_meleedmg3"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_meleedmgbonus3" name="attr_meleedmgbonus3" value="(@{meleeattackstat3} * floor(@{meleeattackweilded3})) + @{meleemagic3}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-8"><input type="text" id="attr_meleedmgtype3" name="attr_meleedmgtype3"></div>
    <div class="grid__cell grid__cell--1-8 sheet-center"><button type="roll" class="sheet-roll" id="roll_MeleeDamage3" name="roll_MeleeDamage3" value="\nFor [[@{meleedmg3} [Base damage] + @{meleedmgbonus3} [Damage Bonus] + (@{global_melee_damage_bonus}) [Active Melee Damage Bonus] + 0d0 [Bugfix 0] ]] @{meleedmgtype3} damage (if a crit add an extra [[@{meleedmg3}]])" >Damage</button></div>
</div>
<!-- END melee weapon row -->
<!-- BEGIN melee weapon row -->
<div class="grid">
    <div class="grid__cell grid__cell--1-24 sheet-checkbox-row"><input type="checkbox" value="@{PB}" id="attr_pbmelee4" name="attr_pbmelee4" checked="checked"></div>
    <div class="grid__cell grid__cell--1-6"><input type="text" id="attr_meleeweaponname4" name="attr_meleeweaponname4"></div>
    <div class="grid__cell grid__cell--1-8" title="How is the weapon being wielded">
        <select id="attr_meleeattackweilded4" name="attr_meleeattackweilded4">
            <option value="1">Main Hand</option>
            <option value="1.1">2 Handed</option>
            <option value="0">Off Hand</option>
            <option value="1.2">Off Hand (2weap fight style)</option>
        </select>
    </div>
    <div class="grid__cell grid__cell--1-12">
        <select id="attr_meleeattackstat4" name="attr_meleeattackstat4">
            <option value="@{strength_mod}">No</option>
            <option value="@{finesse_mod}">Yes</option>
        </select>
    </div>
    <div class="grid__cell grid__cell--1-12 sheet-padr" title="The magic bonus will be added as a bonus to BOTH the attack and damage rolls"><input type="number" id="attr_meleemagic4" name="attr_meleemagic4" value="0" step="1"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_meleetohit4" name="attr_meleetohit4" value="@{meleeattackstat4} + @{pbmelee4} + @{meleemagic4}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-12 sheet-center"><button type="roll" class="sheet-roll" id="roll_MeleeAttack4" name="roll_MeleeAttack4" value="/em uses @{meleeweaponname4} to attack\n\n[[1d20 + @{meleetohit4} [To Hit] + (@{global_melee_attack_bonus}) [Active Melee Attack Bonus] ]] | [[1d20 + @{meleetohit4} [To Hit] + (@{global_melee_attack_bonus}) [Active Melee Attack Bonus] ]] vs AC" >Attack</button></div>
    <div class="grid__cell grid__cell--1-12" title="Only enter the base damage roll here without any bonuses from stats or other sources"><input class="sheet-center" type="text" id="attr_meleedmg4" name="attr_meleedmg4"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_meleedmgbonus4" name="attr_meleedmgbonus4" value="(@{meleeattackstat4} * floor(@{meleeattackweilded4})) + @{meleemagic4}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-8"><input type="text" id="attr_meleedmgtype4" name="attr_meleedmgtype4"></div>
    <div class="grid__cell grid__cell--1-8 sheet-center"><button type="roll" class="sheet-roll" id="roll_MeleeDamage4" name="roll_MeleeDamage4" value="\nFor [[@{meleedmg4} [Base damage] + @{meleedmgbonus4} [Damage Bonus] + (@{global_melee_damage_bonus}) [Active Melee Damage Bonus] + 0d0 [Bugfix 0] ]] @{meleedmgtype4} damage (if a crit add an extra [[@{meleedmg4}]])" >Damage</button></div>
</div>
<!-- END melee weapon row -->
<!-- BEGIN melee weapon row -->
<div class="grid">
    <div class="grid__cell grid__cell--1-24 sheet-checkbox-row"><input type="checkbox" value="@{PB}" id="attr_pbmelee5" name="attr_pbmelee5" checked="checked"></div>
    <div class="grid__cell grid__cell--1-6"><input type="text" id="attr_meleeweaponname5" name="attr_meleeweaponname5"></div>
    <div class="grid__cell grid__cell--1-8" title="How is the weapon being wielded">
        <select id="attr_meleeattackweilded5" name="attr_meleeattackweilded5">
            <option value="1">Main Hand</option>
            <option value="1.1">2 Handed</option>
            <option value="0">Off Hand</option>
            <option value="1.2">Off Hand (2weap fight style)</option>
        </select>
    </div>
    <div class="grid__cell grid__cell--1-12">
        <select id="attr_meleeattackstat5" name="attr_meleeattackstat5">
            <option value="@{strength_mod}">No</option>
            <option value="@{finesse_mod}">Yes</option>
        </select>
    </div>
    <div class="grid__cell grid__cell--1-12 sheet-padr" title="The magic bonus will be added as a bonus to BOTH the attack and damage rolls"><input type="number" id="attr_meleemagic5" name="attr_meleemagic5" value="0" step="1"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_meleetohit5" name="attr_meleetohit5" value="@{meleeattackstat5} + @{pbmelee5} + @{meleemagic5}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-12 sheet-center"><button type="roll" class="sheet-roll" id="roll_MeleeAttack5" name="roll_MeleeAttack5" value="/em uses @{meleeweaponname5} to attack\n\n[[1d20 + @{meleetohit5} [To Hit] + (@{global_melee_attack_bonus}) [Active Melee Attack Bonus] ]] | [[1d20 + @{meleetohit5} [To Hit] + (@{global_melee_attack_bonus}) [Active Melee Attack Bonus] ]] vs AC" >Attack</button></div>
    <div class="grid__cell grid__cell--1-12" title="Only enter the base damage roll here without any bonuses from stats or other sources"><input class="sheet-center" type="text" id="attr_meleedmg5" name="attr_meleedmg5"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_meleedmgbonus5" name="attr_meleedmgbonus5" value="(@{meleeattackstat5} * floor(@{meleeattackweilded5})) + @{meleemagic5}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-8"><input type="text" id="attr_meleedmgtype5" name="attr_meleedmgtype5"></div>
    <div class="grid__cell grid__cell--1-8 sheet-center"><button type="roll" class="sheet-roll" id="roll_MeleeDamage5" name="roll_MeleeDamage5" value="\nFor [[@{meleedmg5} [Base damage] + @{meleedmgbonus5} [Damage Bonus] + (@{global_melee_damage_bonus}) [Active Melee Damage Bonus] + 0d0 [Bugfix 0] ]] @{meleedmgtype5} damage (if a crit add an extra [[@{meleedmg5}]])" >Damage</button></div>
</div>
<!-- END melee weapon row -->
<!-- BEGIN melee weapon row -->
<div class="grid">
    <div class="grid__cell grid__cell--1-24 sheet-checkbox-row"><input type="checkbox" value="@{PB}" id="attr_pbmelee6" name="attr_pbmelee6" checked="checked"></div>
    <div class="grid__cell grid__cell--1-6"><input type="text" id="attr_meleeweaponname6" name="attr_meleeweaponname6"></div>
    <div class="grid__cell grid__cell--1-8" title="How is the weapon being wielded">
        <select id="attr_meleeattackweilded6" name="attr_meleeattackweilded6">
            <option value="1">Main Hand</option>
            <option value="1.1">2 Handed</option>
            <option value="0">Off Hand</option>
            <option value="1.2">Off Hand (2weap fight style)</option>
        </select>
    </div>
    <div class="grid__cell grid__cell--1-12">
        <select id="attr_meleeattackstat6" name="attr_meleeattackstat6">
            <option value="@{strength_mod}">No</option>
            <option value="@{finesse_mod}">Yes</option>
        </select>
    </div>
    <div class="grid__cell grid__cell--1-12 sheet-padr" title="The magic bonus will be added as a bonus to BOTH the attack and damage rolls"><input type="number" id="attr_meleemagic6" name="attr_meleemagic6" value="0" step="1"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_meleetohit6" name="attr_meleetohit6" value="@{meleeattackstat6} + @{pbmelee6} + @{meleemagic6}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-12 sheet-center"><button type="roll" class="sheet-roll" id="roll_MeleeAttack6" name="roll_MeleeAttack6" value="/em uses @{meleeweaponname6} to attack\n\n[[1d20 + @{meleetohit6} [To Hit] + (@{global_melee_attack_bonus}) [Active Melee Attack Bonus] ]] | [[1d20 + @{meleetohit6} [To Hit] + (@{global_melee_attack_bonus}) [Active Melee Attack Bonus] ]] vs AC" >Attack</button></div>
    <div class="grid__cell grid__cell--1-12" title="Only enter the base damage roll here without any bonuses from stats or other sources"><input class="sheet-center" type="text" id="attr_meleedmg6" name="attr_meleedmg6"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_meleedmgbonus6" name="attr_meleedmgbonus6" value="(@{meleeattackstat6} * floor(@{meleeattackweilded6})) + @{meleemagic6}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-8"><input type="text" id="attr_meleedmgtype6" name="attr_meleedmgtype6"></div>
    <div class="grid__cell grid__cell--1-8 sheet-center"><button type="roll" class="sheet-roll" id="roll_MeleeDamage6" name="roll_MeleeDamage6" value="\nFor [[@{meleedmg6} [Base damage] + @{meleedmgbonus6} [Damage Bonus] + (@{global_melee_damage_bonus}) [Active Melee Damage Bonus] + 0d0 [Bugfix 0] ]] @{meleedmgtype6} damage (if a crit add an extra [[@{meleedmg6}]])" >Damage</button></div>
</div>
<!-- END melee weapon row -->
<h4 class="sheet-center">Ranged Weapons <span class="sheet-pictos">e</span></h4>
<div class="grid sheet-sub-header">
    <div class="grid__cell grid__cell--1-24 sheet-center label sheet-vert-bottom">Prof?</div>
    <div class="grid__cell grid__cell--1-12 sheet-center label sheet-vert-bottom">Ammo</div>
    <div class="grid__cell grid__cell--1-6 sheet-center label sheet-vert-bottom">Weapon (range)</div>
    <div class="grid__cell grid__cell--1-8 sheet-center label sheet-vert-bottom">Type</div>
    <div class="grid__cell grid__cell--1-12 sheet-center label sheet-vert-bottom sheet-padr">Magic Bonus</div>
    <div class="grid__cell grid__cell--1-24 sheet-center label sheet-vert-bottom">To<br/>Hit</div>
    <div class="grid__cell grid__cell--1-12 sheet-center label sheet-vert-bottom">Attack</div>
    <div class="grid__cell grid__cell--1-12 sheet-center label sheet-vert-bottom">Damage Dice</div>
    <div class="grid__cell grid__cell--1-24 sheet-center label sheet-vert-bottom">Dmg<br/>Bonus</div>
    <div class="grid__cell grid__cell--1-8 sheet-center label sheet-vert-bottom">Damage Type</div>
    <div class="grid__cell grid__cell--1-8 sheet-center label sheet-vert-bottom">Damage</div>
</div>
<!-- BEGIN ranged weapon row -->
<div class="grid">
    <div class="grid__cell grid__cell--1-24 sheet-checkbox-row"><input type="checkbox" value="@{PB}" id="attr_pbranged1" name="attr_pbranged1" checked="checked"></div>
    <div class="grid__cell grid__cell--1-12"><input type="number" id="attr_rangedammo1" name="attr_rangedammo1" value="1"></div>
    <div class="grid__cell grid__cell--1-6"><input type="text" id="attr_rangedweaponname1" name="attr_rangedweaponname1"></div>
    <div class="grid__cell grid__cell--1-8" title="Choose either normal or thrown">
        <select id="attr_rangedtype1" name="attr_rangedtype1">
            <option value="@{dexterity_mod}">Normal</option>
            <option value="@{strength_mod}">Thrown</option>
            <option value="@{finesse_mod}">Thrown(finesse)</option>
        </select>
    </div>
    <div class="grid__cell grid__cell--1-12 sheet-padr" title="The magic bonus will be added as a bonus to BOTH the attack and damage rolls"><input type="number" id="attr_rangedmagic1" name="attr_rangedmagic1" value="0" step="1"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_rangedtohit1" name="attr_rangedtohit1" value="@{rangedtype1} + @{pbranged1} + @{rangedmagic1}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-12 sheet-center"><button type="roll" class="sheet-roll" id="roll_RangedAttack1" name="roll_RangedAttack1" value="/em uses @{rangedweaponname1} to attack\n\n[[1d20 + @{rangedtohit1} [To Hit] + (@{global_ranged_attack_bonus}) [Active Ranged Attack Bonus] ]] | [[1d20 + @{rangedtohit1} [To Hit] + (@{global_ranged_attack_bonus}) [Active Ranged Attack Bonus] ]] vs AC" >Attack</button></div>
    <div class="grid__cell grid__cell--1-12" title="Only enter the base damage roll here without any bonuses from stats or other sources"><input class="sheet-center" type="text" id="attr_rangeddmg1" name="attr_rangeddmg1"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_rangeddmgbonus1" name="attr_rangeddmgbonus1" value="@{rangedtype1} + @{rangedmagic1}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-8"><input type="text" id="attr_rangeddmgtype1" name="attr_rangeddmgtype1"></div>
    <div class="grid__cell grid__cell--1-8 sheet-center"><button type="roll" class="sheet-roll" id="roll_RangedDamage1" name="roll_RangedDamage1" value="\nFor [[@{rangeddmg1} [Base damage] + @{rangeddmgbonus1} [Damage Bonus] + (@{global_ranged_damage_bonus}) [Active Ranged Damage Bonus] + 0d0 [Bugfix 0] ]] @{rangeddmgtype1} damage (if a crit add an extra [[@{rangeddmg1}]])" >Damage</button></div>
</div>
<!-- END ranged weapon row -->
<!-- BEGIN ranged weapon row -->
<div class="grid">
    <div class="grid__cell grid__cell--1-24 sheet-checkbox-row"><input type="checkbox" value="@{PB}" id="attr_pbranged2" name="attr_pbranged2" checked="checked"></div>
    <div class="grid__cell grid__cell--1-12"><input type="number" id="attr_rangedammo2" name="attr_rangedammo2" value="1"></div>
    <div class="grid__cell grid__cell--1-6"><input type="text" id="attr_rangedweaponname2" name="attr_rangedweaponname2"></div>
    <div class="grid__cell grid__cell--1-8" title="Choose either normal or thrown">
        <select id="attr_rangedtype2" name="attr_rangedtype2">
            <option value="@{dexterity_mod}">Normal</option>
            <option value="@{strength_mod}">Thrown</option>
            <option value="@{finesse_mod}">Thrown(finesse)</option>
        </select>
    </div>
    <div class="grid__cell grid__cell--1-12 sheet-padr" title="The magic bonus will be added as a bonus to BOTH the attack and damage rolls"><input type="number" id="attr_rangedmagic2" name="attr_rangedmagic2" value="0" step="1"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_rangedtohit2" name="attr_rangedtohit2" value="@{rangedtype2} + @{pbranged2} + @{rangedmagic2}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-12 sheet-center"><button type="roll" class="sheet-roll" id="roll_RangedAttack2" name="roll_RangedAttack2" value="/em uses @{rangedweaponname2} to attack\n\n[[1d20 + @{rangedtohit2} [To Hit] + (@{global_ranged_attack_bonus}) [Active Ranged Attack Bonus] ]] | [[1d20 + @{rangedtohit2} [To Hit] + (@{global_ranged_attack_bonus}) [Active Ranged Attack Bonus] ]] vs AC" >Attack</button></div>
    <div class="grid__cell grid__cell--1-12" title="Only enter the base damage roll here without any bonuses from stats or other sources"><input class="sheet-center" type="text" id="attr_rangeddmg2" name="attr_rangeddmg2"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_rangeddmgbonus2" name="attr_rangeddmgbonus2" value="@{rangedtype2} + @{rangedmagic2}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-8"><input type="text" id="attr_rangeddmgtype2" name="attr_rangeddmgtype2"></div>
    <div class="grid__cell grid__cell--1-8 sheet-center"><button type="roll" class="sheet-roll" id="roll_RangedDamage2" name="roll_RangedDamage2" value="\nFor [[@{rangeddmg2} [Base damage] + @{rangeddmgbonus2} [Damage Bonus] + (@{global_ranged_damage_bonus}) [Active Ranged Damage Bonus] + 0d0 [Bugfix 0] ]] @{rangeddmgtype2} damage (if a crit add an extra [[@{rangeddmg2}]])" >Damage</button></div>
</div>
<!-- END ranged weapon row -->
<!-- BEGIN ranged weapon row -->
<div class="grid">
    <div class="grid__cell grid__cell--1-24 sheet-checkbox-row"><input type="checkbox" value="@{PB}" id="attr_pbranged3" name="attr_pbranged3" checked="checked"></div>
    <div class="grid__cell grid__cell--1-12"><input type="number" id="attr_rangedammo3" name="attr_rangedammo3" value="1"></div>
    <div class="grid__cell grid__cell--1-6"><input type="text" id="attr_rangedweaponname3" name="attr_rangedweaponname3"></div>
    <div class="grid__cell grid__cell--1-8" title="Choose either normal or thrown">
        <select id="attr_rangedtype3" name="attr_rangedtype3">
            <option value="@{dexterity_mod}">Normal</option>
            <option value="@{strength_mod}">Thrown</option>
            <option value="@{finesse_mod}">Thrown(finesse)</option>
        </select>
    </div>
    <div class="grid__cell grid__cell--1-12 sheet-padr" title="The magic bonus will be added as a bonus to BOTH the attack and damage rolls"><input type="number" id="attr_rangedmagic3" name="attr_rangedmagic3" value="0" step="1"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_rangedtohit3" name="attr_rangedtohit3" value="@{rangedtype3} + @{pbranged3} + @{rangedmagic3}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-12 sheet-center"><button type="roll" class="sheet-roll" id="roll_RangedAttack3" name="roll_RangedAttack3" value="/em uses @{rangedweaponname3} to attack\n\n[[1d20 + @{rangedtohit3} [To Hit] + (@{global_ranged_attack_bonus}) [Active Ranged Attack Bonus] ]] | [[1d20 + @{rangedtohit3} [To Hit] + (@{global_ranged_attack_bonus}) [Active Ranged Attack Bonus] ]] vs AC" >Attack</button></div>
    <div class="grid__cell grid__cell--1-12" title="Only enter the base damage roll here without any bonuses from stats or other sources"><input class="sheet-center" type="text" id="attr_rangeddmg3" name="attr_rangeddmg3"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_rangeddmgbonus3" name="attr_rangeddmgbonus3" value="@{rangedtype3} + @{rangedmagic3}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-8"><input type="text" id="attr_rangeddmgtype3" name="attr_rangeddmgtype3"></div>
    <div class="grid__cell grid__cell--1-8 sheet-center"><button type="roll" class="sheet-roll" id="roll_RangedDamage3" name="roll_RangedDamage3" value="\nFor [[@{rangeddmg3} [Base damage] + @{rangeddmgbonus3} [Damage Bonus] + (@{global_ranged_damage_bonus}) [Active Ranged Damage Bonus] + 0d0 [Bugfix 0] ]] @{rangeddmgtype3} damage (if a crit add an extra [[@{rangeddmg3}]])" >Damage</button></div>
</div>
<!-- END ranged weapon row -->
<!-- BEGIN ranged weapon row -->
<div class="grid">
    <div class="grid__cell grid__cell--1-24 sheet-checkbox-row"><input type="checkbox" value="@{PB}" id="attr_pbranged4" name="attr_pbranged4" checked="checked"></div>
    <div class="grid__cell grid__cell--1-12"><input type="number" id="attr_rangedammo4" name="attr_rangedammo4" value="1"></div>
    <div class="grid__cell grid__cell--1-6"><input type="text" id="attr_rangedweaponname4" name="attr_rangedweaponname4"></div>
    <div class="grid__cell grid__cell--1-8" title="Choose either normal or thrown">
        <select id="attr_rangedtype4" name="attr_rangedtype4">
            <option value="@{dexterity_mod}">Normal</option>
            <option value="@{strength_mod}">Thrown</option>
            <option value="@{finesse_mod}">Thrown(finesse)</option>
        </select>
    </div>
    <div class="grid__cell grid__cell--1-12 sheet-padr" title="The magic bonus will be added as a bonus to BOTH the attack and damage rolls"><input type="number" id="attr_rangedmagic4" name="attr_rangedmagic4" value="0" step="1"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_rangedtohit4" name="attr_rangedtohit4" value="@{rangedtype4} + @{pbranged4} + @{rangedmagic4}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-12 sheet-center"><button type="roll" class="sheet-roll" id="roll_RangedAttack4" name="roll_RangedAttack4" value="/em uses @{rangedweaponname4} to attack\n\n[[1d20 + @{rangedtohit4} [To Hit] + (@{global_ranged_attack_bonus}) [Active Ranged Attack Bonus] ]] | [[1d20 + @{rangedtohit4} [To Hit] + (@{global_ranged_attack_bonus}) [Active Ranged Attack Bonus] ]] vs AC" >Attack</button></div>
    <div class="grid__cell grid__cell--1-12" title="Only enter the base damage roll here without any bonuses from stats or other sources"><input class="sheet-center" type="text" id="attr_rangeddmg4" name="attr_rangeddmg4"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_rangeddmgbonus4" name="attr_rangeddmgbonus4" value="@{rangedtype4} + @{rangedmagic4}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-8"><input type="text" id="attr_rangeddmgtype4" name="attr_rangeddmgtype4"></div>
    <div class="grid__cell grid__cell--1-8 sheet-center"><button type="roll" class="sheet-roll" id="roll_RangedDamage4" name="roll_RangedDamage4" value="\nFor [[@{rangeddmg4} [Base damage] + @{rangeddmgbonus4} [Damage Bonus] + (@{global_ranged_damage_bonus}) [Active Ranged Damage Bonus] + 0d0 [Bugfix 0] ]] @{rangeddmgtype4} damage (if a crit add an extra [[@{rangeddmg4}]])" >Damage</button></div>
</div>
<!-- END ranged weapon row -->
<!-- BEGIN ranged weapon row -->
<div class="grid">
    <div class="grid__cell grid__cell--1-24 sheet-checkbox-row"><input type="checkbox" value="@{PB}" id="attr_pbranged5" name="attr_pbranged5" checked="checked"></div>
    <div class="grid__cell grid__cell--1-12"><input type="number" id="attr_rangedammo5" name="attr_rangedammo5" value="1"></div>
    <div class="grid__cell grid__cell--1-6"><input type="text" id="attr_rangedweaponname5" name="attr_rangedweaponname5"></div>
    <div class="grid__cell grid__cell--1-8" title="Choose either normal or thrown">
        <select id="attr_rangedtype5" name="attr_rangedtype5">
            <option value="@{dexterity_mod}">Normal</option>
            <option value="@{strength_mod}">Thrown</option>
            <option value="@{finesse_mod}">Thrown(finesse)</option>
        </select>
    </div>
    <div class="grid__cell grid__cell--1-12 sheet-padr" title="The magic bonus will be added as a bonus to BOTH the attack and damage rolls"><input type="number" id="attr_rangedmagic5" name="attr_rangedmagic5" value="0" step="1"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_rangedtohit5" name="attr_rangedtohit5" value="@{rangedtype5} + @{pbranged5} + @{rangedmagic5}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-12 sheet-center"><button type="roll" class="sheet-roll" id="roll_RangedAttack5" name="roll_RangedAttack5" value="/em uses @{rangedweaponname5} to attack\n\n[[1d20 + @{rangedtohit5} [To Hit] + (@{global_ranged_attack_bonus}) [Active Ranged Attack Bonus] ]] | [[1d20 + @{rangedtohit5} [To Hit] + (@{global_ranged_attack_bonus}) [Active Ranged Attack Bonus] ]] vs AC" >Attack</button></div>
    <div class="grid__cell grid__cell--1-12" title="Only enter the base damage roll here without any bonuses from stats or other sources"><input class="sheet-center" type="text" id="attr_rangeddmg5" name="attr_rangeddmg5"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_rangeddmgbonus5" name="attr_rangeddmgbonus5" value="@{rangedtype5} + @{rangedmagic5}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-8"><input type="text" id="attr_rangeddmgtype5" name="attr_rangeddmgtype5"></div>
    <div class="grid__cell grid__cell--1-8 sheet-center"><button type="roll" class="sheet-roll" id="roll_RangedDamage5" name="roll_RangedDamage5" value="\nFor [[@{rangeddmg5} [Base damage] + @{rangeddmgbonus5} [Damage Bonus] + (@{global_ranged_damage_bonus}) [Active Ranged Damage Bonus] + 0d0 [Bugfix 0] ]] @{rangeddmgtype5} damage (if a crit add an extra [[@{rangeddmg5}]])" >Damage</button></div>
</div>
<!-- END ranged weapon row -->
<!-- BEGIN ranged weapon row -->
<div class="grid">
    <div class="grid__cell grid__cell--1-24 sheet-checkbox-row"><input type="checkbox" value="@{PB}" id="attr_pbranged6" name="attr_pbranged6" checked="checked"></div>
    <div class="grid__cell grid__cell--1-12"><input type="number" id="attr_rangedammo6" name="attr_rangedammo6" value="1"></div>
    <div class="grid__cell grid__cell--1-6"><input type="text" id="attr_rangedweaponname6" name="attr_rangedweaponname6"></div>
    <div class="grid__cell grid__cell--1-8" title="Choose either normal or thrown">
        <select id="attr_rangedtype6" name="attr_rangedtype6">
            <option value="@{dexterity_mod}">Normal</option>
            <option value="@{strength_mod}">Thrown</option>
            <option value="@{finesse_mod}">Thrown(finesse)</option>
        </select>
    </div>
    <div class="grid__cell grid__cell--1-12 sheet-padr" title="The magic bonus will be added as a bonus to BOTH the attack and damage rolls"><input type="number" id="attr_rangedmagic6" name="attr_rangedmagic6" value="0" step="1"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_rangedtohit6" name="attr_rangedtohit6" value="@{rangedtype6} + @{pbranged6} + @{rangedmagic6}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-12 sheet-center"><button type="roll" class="sheet-roll" id="roll_RangedAttack6" name="roll_RangedAttack6" value="/em uses @{rangedweaponname6} to attack\n\n[[1d20 + @{rangedtohit6} [To Hit] + (@{global_ranged_attack_bonus}) [Active Ranged Attack Bonus] ]] | [[1d20 + @{rangedtohit6} [To Hit] + (@{global_ranged_attack_bonus}) [Active Ranged Attack Bonus] ]] vs AC" >Attack</button></div>
    <div class="grid__cell grid__cell--1-12" title="Only enter the base damage roll here without any bonuses from stats or other sources"><input class="sheet-center" type="text" id="attr_rangeddmg6" name="attr_rangeddmg6"></div>
    <div class="grid__cell grid__cell--1-24"><input type="number" id="attr_rangeddmgbonus6" name="attr_rangeddmgbonus6" value="@{rangedtype6} + @{rangedmagic6}" disabled="disabled"></div>
    <div class="grid__cell grid__cell--1-8"><input type="text" id="attr_rangeddmgtype6" name="attr_rangeddmgtype6"></div>
    <div class="grid__cell grid__cell--1-8 sheet-center"><button type="roll" class="sheet-roll" id="roll_RangedDamage6" name="roll_RangedDamage6" value="\nFor [[@{rangeddmg6} [Base damage] + @{rangeddmgbonus6} [Damage Bonus] + (@{global_ranged_damage_bonus}) [Active Ranged Damage Bonus] + 0d0 [Bugfix 0] ]] @{rangeddmgtype6} damage (if a crit add an extra [[@{rangeddmg6}]])" >Damage</button></div>
</div>
<!-- END ranged weapon row -->
<hr/>

<!-- END AUTO GENERATED WEAPON SECTION -->
