<div class="row">
    <div class="sheet-col sheet-col__1-3">
        <img src="http://i.imgur.com/Y8KHPKm.png" alt="Dungeons and Dragons (5th edition)">
    </div>
    <div class="sheet-col sheet-col__1-8">
        <p class="sheet-last-updated">
            Sheet version<br/>
            15th Nov 2014
        </p>
    </div>
    <div class="sheet-col sheet-col__1-4">
        <div class="sheet-small-label">Character Name</div>
        <input class="sheet-underlined sheet-center" type="text" name="attr_character_name">
    </div>
    <div class="sheet-col sheet-col__1-8">
        <div class="sheet-small-label">Race</div>
        <input class="sheet-underlined sheet-center" type="text" name="attr_race">
    </div>
    <div class="sheet-col sheet-col__1-6">
        <div class="sheet-small-label">Class</div>
        <input class="sheet-underlined sheet-center" type="text" name="attr_class">
    </div>
</div>
