<div class="grid grid--gutters">
    <div class="grid__cell grid__cell--5-12">
        <img src="http://i.imgur.com/Y8KHPKm.png" alt="Dungeons and Dragons (5th edition)">
    </div>
    <div class="grid__cell grid__cell--3-12">
        <label class="label" for="attr_character_name">Character Name</label>
        <input class="field" type="text" id="attr_character_name" name="attr_character_name">
    </div>
    <div class="grid__cell grid__cell--2-12">
        <label class="label" for="attr_race">Race</label>
        <input class="field" type="text" id="attr_race" name="attr_race">
    </div>
    <div class="grid__cell grid__cell--2-12">
        <label class="label" for="attr_class">Class</label>
        <input class="field" type="text" id="attr_class" name="attr_class">
    </div>
</div>
