// top section
.sheet-grid

    .sheet-grid__cell
        include abilities

    .sheet-grid__cell
        include hp

        .sheet-grid
            .sheet-grid__cell
                include initiative
            .sheet-grid__cell
                include ac

        include level

// bottom section
.sheet-grid
    .sheet-grid__cell.sheet-grid__cell--5
        include bonuses
    .sheet-grid__cell.sheet-grid__cell--7
        include hd
        include other
