.sheet-card
    h1.sheet-hdg Bonuses/Penalties
    p.sheet-note Use this to apply bonuses (or penalties) to all rolls of the specified type rolled using the sheet's macros.

    .sheet-row
        .sheet-row__cell
            include bonuses-melee
        .sheet-row__cell
            include bonuses-ranged

    include bonuses-spellcasting
    include bonuses-skills
