.sheet-wrapper img
    max-width 100%

.sheet-wrapper :focus
    border 1px solid BLUE !important
    z-index HIGH

.sheet-wrapper input
    flex 1

.sheet-wrapper [type=number]
    padding-left 12px // match width of counter on right to center the value visually
    border 1px solid transparent // for focus override

.sheet-wrapper [disabled]
    cursor not-allowed

.sheet-wrapper select
    -webkit-appearance: none
    background-image url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==")
    background-position right (PAD/2) center
    background-repeat no-repeat
    flex 1
    margin 0
    padding-left (PAD/3*2)

.sheet-wrapper input[type=number]:disabled::-webkit-inner-spin-button,
.sheet-wrapper input[type=number]:disabled::-webkit-outer-spin-button
    -webkit-appearance: none;
    margin: 0;
