.sheet img
    max-width 100%


.sheet :focus
    border-color BLUE !important
    z-index HIGH

.sheet [type=number]
    padding-left 12px // match width of counter on right to center the value visually

.sheet [disabled]
    cursor not-allowed
