.sheet-wrapper
    height 100%

.sheet-wrapper *
    -webkit-font-smoothing antialiased
    box-shadow none
    box-sizing border-box
    font-family FONT
    font-size inherit
    font-weight normal
    justify-content center
    line-height LINE_HEIGHT
    margin 0
    padding 0
    text-align center
    border 0 // for buttons and fields
    border-spacing 0
    border-collapse collapse
    list-style none
    font-style initial // for <i>
    width auto // for <input>
    text-shadow none // for .sheet-label
