.sheet * {
    -webkit-font-smoothing antialiased
    box-shadow none
    box-sizing border-box
    font-family FONT
    font-size FONT_SIZE
    justify-content center
    line-height LINE_HEIGHT
    margin 0
    padding 0
    text-align center
}
