// math constants
GOLDEN_RATIO = 1.6180339887498948482
HIGH = 9999999999999999

// basic sizing
HEIGHT = 2rem
PAD = HEIGHT / 2
FONT_SIZE = HEIGHT / 2.5
FONT_SIZE_SM = FONT_SIZE / 1.2
LINE_HEIGHT = 1.2
RADIUS = HEIGHT / 10

// colors
BLUE = rgb(86,180,233)
PALE_BLUE = #E9EFF2
BRIGHT_PALE_BLUE = #DEF6FC 
GOLD = #E0A32A
DARK = #46454A
LIGHT = #FAFAFA
BG = #E9EFF2
PALE = #EAFFEF
DARK_GRAY = rgb(72,70,75)
FADED_GRAY = alpha(DARK_GRAY, 0.7)

// text
FONT = Helvetica, Arial, sans-serif

// borders
BORDER_COLOR = alpha(black, 0.07)
BORDER = 1px solid BORDER_COLOR
