FONT_SIZE = 0.7rem
LINE_HEIGHT = 1.2em

BLUE = rgb(86,180,233)
GOLD = #E0A32A
DARK = #46454A
LIGHT = #DCDCDE
BG = #E9EFF2
PALE = #EAFFEF
DARK_GRAY = #666666

PAD = 1rem
HEIGHT = 2rem

FONT = Helvetica, Arial, sans-serif

BORDER = 1px solid rgba(0, 0, 0, 0.05)

RADIUS = 0.2rem
