mixin skills-hdg()
    .hdg.hdg--2
        .sheet-grid.sheet-grid--sub
            .sheet-grid__cell &nbsp;
            .sheet-grid__cell.sheet-grid__cell--3-10 Skill
            .sheet-grid__cell.sheet-grid__cell--3-10 Proficient
            .sheet-grid__cell Bonus
            .sheet-grid__cell Total
            .sheet-grid__cell Pass
            
mixin custom-skills-hdg()
    .hdg.hdg--2
        .sheet-grid.sheet-grid--sub
            .sheet-grid__cell &nbsp;
            .sheet-grid__cell.sheet-grid__cell--3-10 Skill
            .sheet-grid__cell.sheet-grid__cell--2-10 Stat
            .sheet-grid__cell.sheet-grid__cell--2-10 Proficient
            .sheet-grid__cell Bonus
            .sheet-grid__cell Total

mixin other-skills-hdg()
    .hdg.hdg--2
        .sheet-grid.sheet-grid--sub
            .sheet-grid__cell &nbsp;
            .sheet-grid__cell.sheet-grid__cell--4-10 Other
            .sheet-grid__cell.sheet-grid__cell--3-10 Proficient
            .sheet-grid__cell Bonus
            .sheet-grid__cell Total

mixin skill-proficiency-options()
    option(value="0") No
    option(value="floor(@{PB} / 2)") Jack of all trades
    option(value="@{PB}") Yes
    option(value="(2*@{PB})") Expertise

.sheet-grid.sheet-grid--pad.sheet-grid--col
    .sheet-grid__cell
        h1.hdg Skills 
            i.sheet-pictos x
    
    //- standard skills
    .sheet-grid__cell
        .sheet-grid.sheet-grid--pad
            include main

    //- custom skills
    .sheet-grid__cell
        .sheet-grid.sheet-grid--pad
            include custom

    //- other skill checks
    .sheet-grid__cell
        .sheet-grid.sheet-grid--pad
            include other
