mixin skill-proficiency-options()
    option(value="0") No
    option(value="floor(@{PB} / 2)") Jack of all trades
    option(value="@{PB}") Yes
    option(value="(2*@{PB})") Expertise

//- standard skills
.sheet-card
    h1.sheet-hdg Skills
    include main

//- custom skills
.sheet-card
    h1.sheet-hdg Custom Skills
    include custom

//- other skill checks
.sheet-card
    h1.sheet-hdg Unskilled
    include other
