- col = {}
- col

mixin skills-hdg()
    .sheet-hdg.sheet-hdg--2
        .sheet-grid.sheet-grid--sub
            .sheet-grid__cell.sheet-grid__cell--sm
            .sheet-grid__cell.sheet-grid__cell--1 Skill
            .sheet-grid__cell.sheet-grid__cell--1 Proficient
            .sheet-grid__cell.sheet-grid__cell--sm Bonus
            .sheet-grid__cell.sheet-grid__cell--sm Total
            .sheet-grid__cell.sheet-grid__cell--sm Pass
            
mixin custom-skills-hdg()
    .sheet-hdg.sheet-hdg--2
        .sheet-grid.sheet-grid--sub
            .sheet-grid__cell.sheet-grid__cell--sm
            .sheet-grid__cell.sheet-grid__cell--3 Skill
            .sheet-grid__cell.sheet-grid__cell--2 Stat
            .sheet-grid__cell.sheet-grid__cell--2 Proficient
            .sheet-grid__cell.sheet-grid__cell--sm Bonus
            .sheet-grid__cell.sheet-grid__cell--sm Total

mixin other-skills-hdg()
    .sheet-hdg.sheet-hdg--2
        .sheet-grid.sheet-grid--sub
            .sheet-grid__cell.sheet-grid__cell--sm
            .sheet-grid__cell.sheet-grid__cell--4 Other
            .sheet-grid__cell.sheet-grid__cell--3 Proficient
            .sheet-grid__cell.sheet-grid__cell--sm Bonus
            .sheet-grid__cell.sheet-grid__cell--sm Total

mixin skill-proficiency-options()
    option(value="0") No
    option(value="floor(@{PB} / 2)") Jack of all trades
    option(value="@{PB}") Yes
    option(value="(2*@{PB})") Expertise

.sheet-grid.sheet-grid--pad.sheet-grid--col
    .sheet-grid__cell
        h1.sheet-hdg Skills 
            i.sheet-pictos x
    
    //- standard skills
    .sheet-grid__cell
        .sheet-grid.sheet-grid--pad
            include main

    //- custom skills
    .sheet-grid__cell
        .sheet-grid.sheet-grid--pad
            include custom

    //- other skill checks
    .sheet-grid__cell
        .sheet-grid.sheet-grid--pad
            include other
