mixin skill-proficiency-options()
    option(value="0") No
    option(value="floor(@{PB} / 2)") Jack of all trades
    option(value="@{PB}") Yes
    option(value="(2*@{PB})") Expertise

.sheet-col
    //- standard skills
    .sheet-col__row
        h1.sheet-hdg Skills
            i.sheet-pictos x
    .sheet-col__row
        include main

    //- custom skills
    .sheet-col__row
        h1.sheet-hdg Custom Skills
            i.sheet-pictos x
    .sheet-col__row
        include custom

    //- other skill checks
    .sheet-col__row
        h1.sheet-hdg Unskilled
            i.sheet-pictos x
    .sheet-col__row
        include other
