mixin skill-proficiency-options()
    option(value="0") No
    option(value="floor(@{PB} / 2)") Jack of all trades
    option(value="@{PB}") Yes
    option(value="(2*@{PB})") Expertise

.sheet-grid.sheet-grid--pad.sheet-grid--col
    //- standard skills
    .sheet-grid__cell
        h1.sheet-hdg Skills 
            i.sheet-pictos x    
    .sheet-grid__cell
        include main

    //- custom skills
    .sheet-grid__cell
        h1.sheet-hdg Custom Skills 
            i.sheet-pictos x
    .sheet-grid__cell
        .sheet-grid.sheet-grid--pad
            include custom

    //- other skill checks
    .sheet-grid__cell
        .sheet-grid.sheet-grid--pad
            include other
