mixin other-skills-hdg()
    .sheet-row.sheet-row--hd
        .sheet-row__cell.sheet-row__cell--sm
        .sheet-row__cell.sheet-row__cell--4 Other
        .sheet-row__cell.sheet-row__cell--3 Proficient
        .sheet-row__cell.sheet-row__cell--sm Bonus
        .sheet-row__cell.sheet-row__cell--sm Total

- var numAbilities = abilities.length
- var numAbilitiesPerColumn = numAbilities / NUM_SKILL_COLUMNS
- var i = 0
- var col = 1

.sheet-grid
    while col <= NUM_SKILL_COLUMNS
        .sheet-grid__cell
            +other-skills-hdg()
            while i < numAbilitiesPerColumn * col
                - var ability = abilities[i]
                include unskilled
                - i++
        - col++
