mixin other-skills-hdg()
    .sheet-grid.sheet-grid--sub
        .sheet-grid__cell.sheet-grid__cell--sm
        .sheet-grid__cell.sheet-grid__cell--4 Other
        .sheet-grid__cell.sheet-grid__cell--3 Proficient
        .sheet-grid__cell.sheet-grid__cell--sm Bonus
        .sheet-grid__cell.sheet-grid__cell--sm Total

- var numAbilities = abilities.length
- var numAbilitiesPerColumn = numAbilities / NUM_SKILL_COLUMNS
- var i = 0
- var col = 1

while col <= NUM_SKILL_COLUMNS
    .sheet-grid__cell
        +other-skills-hdg()
        while i < numAbilitiesPerColumn * col
            - var ability = abilities[i]
            include unskilled
            - i++
    - col++
