.sheet-grid.sheet-grid--col.sheet-grid--pad
    .sheet-grid__cell
        .sheet-grid.sheet-grid--pad
            .sheet-grid__cell
                include coin
            .sheet-grid__cell
                include weight
    .sheet-grid__cell        
        include loot
    .sheet-grid__cell
        include notes
