.sheet-col
    .sheet-col__row
        .sheet-grid
            .sheet-grid__cell
                include coin
            .sheet-grid__cell
                include weight
    .sheet-col__row
        include loot
    .sheet-col__row
        include notes
