.sheet-grid
    .sheet-grid__cell
        .sheet-card
            include coin
    .sheet-grid__cell
        .sheet-card
            include weight

.sheet-card
    include loot

.sheet-card
    include notes
