h1.sheet-hdg Inventory 
    i.sheet-pictos O  
.sheet-grid.sheet-grid--split
    .sheet-grid__cell 
        .sheet-label Weight entered in each row below is :  
    .sheet-grid__cell.sheet-grid__cell--2
        select(name="attr_weight_unit_setting")
            option(value="0") The total weight of the row (ignoring quantity) 
            option(value="1") Weight per single item of the row (total weight of the row = quantity * weight) 

.sheet-tabs
    - var lootPages = ['page 1', 'page 2', 'page 3', 'page 4']
    - var lootRowsPerPage = 10
    - var i = 1
    
    +tabs('attr_inventorytab', lootPages)
    
    each page, pageIndex in lootPages
        include loot-page
        
    input(
        type="hidden" 
        name="attr_inventory_weight_calc" 
        value="(@{inventorycarried1} + (((@{inventoryqty1} - 1) * @{inventorycarried1}) * @{weight_unit_setting}) + @{inventorycarried2} + (((@{inventoryqty2} - 1) * @{inventorycarried2}) * @{weight_unit_setting}) + @{inventorycarried3} + (((@{inventoryqty3} - 1) * @{inventorycarried3}) * @{weight_unit_setting}) + @{inventorycarried4} + (((@{inventoryqty4} - 1) * @{inventorycarried4}) * @{weight_unit_setting}) + @{inventorycarried5} + (((@{inventoryqty5} - 1) * @{inventorycarried5}) * @{weight_unit_setting}) + @{inventorycarried6} + (((@{inventoryqty6} - 1) * @{inventorycarried6}) * @{weight_unit_setting}) + @{inventorycarried7} + (((@{inventoryqty7} - 1) * @{inventorycarried7}) * @{weight_unit_setting}) + @{inventorycarried8} + (((@{inventoryqty8} - 1) * @{inventorycarried8}) * @{weight_unit_setting}) + @{inventorycarried9} + (((@{inventoryqty9} - 1) * @{inventorycarried9}) * @{weight_unit_setting}) + @{inventorycarried10} + (((@{inventoryqty10} - 1) * @{inventorycarried10}) * @{weight_unit_setting}) + @{inventorycarried11} + (((@{inventoryqty11} - 1) * @{inventorycarried11}) * @{weight_unit_setting}) + @{inventorycarried12} + (((@{inventoryqty12} - 1) * @{inventorycarried12}) * @{weight_unit_setting}) + @{inventorycarried13} + (((@{inventoryqty13} - 1) * @{inventorycarried13}) * @{weight_unit_setting}) + @{inventorycarried14} + (((@{inventoryqty14} - 1) * @{inventorycarried14}) * @{weight_unit_setting}) + @{inventorycarried15} + (((@{inventoryqty15} - 1) * @{inventorycarried15}) * @{weight_unit_setting}) + @{inventorycarried16} + (((@{inventoryqty16} - 1) * @{inventorycarried16}) * @{weight_unit_setting}) + @{inventorycarried17} + (((@{inventoryqty17} - 1) * @{inventorycarried17}) * @{weight_unit_setting}) + @{inventorycarried18} + (((@{inventoryqty18} - 1) * @{inventorycarried18}) * @{weight_unit_setting}) + @{inventorycarried19} + (((@{inventoryqty19} - 1) * @{inventorycarried19}) * @{weight_unit_setting}) + @{inventorycarried20} + (((@{inventoryqty20} - 1) * @{inventorycarried20}) * @{weight_unit_setting}) + @{inventorycarried21} + (((@{inventoryqty21} - 1) * @{inventorycarried21}) * @{weight_unit_setting}) + @{inventorycarried22} + (((@{inventoryqty22} - 1) * @{inventorycarried22}) * @{weight_unit_setting}) + @{inventorycarried23} + (((@{inventoryqty23} - 1) * @{inventorycarried23}) * @{weight_unit_setting}) + @{inventorycarried24} + (((@{inventoryqty24} - 1) * @{inventorycarried24}) * @{weight_unit_setting}) + @{inventorycarried25} + (((@{inventoryqty25} - 1) * @{inventorycarried25}) * @{weight_unit_setting}) + @{inventorycarried26} + (((@{inventoryqty26} - 1) * @{inventorycarried26}) * @{weight_unit_setting}) + @{inventorycarried27} + (((@{inventoryqty27} - 1) * @{inventorycarried27}) * @{weight_unit_setting}) + @{inventorycarried28} + (((@{inventoryqty28} - 1) * @{inventorycarried28}) * @{weight_unit_setting}) + @{inventorycarried29} + (((@{inventoryqty29} - 1) * @{inventorycarried29}) * @{weight_unit_setting}) + @{inventorycarried30} + (((@{inventoryqty30} - 1) * @{inventorycarried30}) * @{weight_unit_setting}) + @{inventorycarried31} + (((@{inventoryqty31} - 1) * @{inventorycarried31}) * @{weight_unit_setting}) + @{inventorycarried32} + (((@{inventoryqty32} - 1) * @{inventorycarried32}) * @{weight_unit_setting}) + @{inventorycarried33} + (((@{inventoryqty33} - 1) * @{inventorycarried33}) * @{weight_unit_setting}) + @{inventorycarried34} + (((@{inventoryqty34} - 1) * @{inventorycarried34}) * @{weight_unit_setting}) + @{inventorycarried35} + (((@{inventoryqty35} - 1) * @{inventorycarried35}) * @{weight_unit_setting}) + @{inventorycarried36} + (((@{inventoryqty36} - 1) * @{inventorycarried36}) * @{weight_unit_setting}) + @{inventorycarried37} + (((@{inventoryqty37} - 1) * @{inventorycarried37}) * @{weight_unit_setting}) + @{inventorycarried38} + (((@{inventoryqty38} - 1) * @{inventorycarried38}) * @{weight_unit_setting}) + @{inventorycarried39} + (((@{inventoryqty39} - 1) * @{inventorycarried39}) * @{weight_unit_setting}) + @{inventorycarried40} + (((@{inventoryqty40} - 1) * @{inventorycarried40}) * @{weight_unit_setting}))" 
    )
