h1.hdg Inventory <i.sheet-pictos O  

.sheet-grid
    .sheet-grid__cell.sheet-grid__cell--1-4 label Weight entered in each row below is :  
    .sheet-grid__cell.sheet-grid__cell--1-2 
        <select name="attr_weight_unit_setting 
            option(value="0" selected The total weight of the row (ignoring quantity) 
            option(value="1 Weight per single item of the row (total weight of the row = quantity * weight) 
         
     
 

input(type="radio" name="attr_inventorytab".sheet-inventorytab sheet-inventorytab1" value="1" title="Page 1" checked="checked") 
<span.sheet-inventorytab sheet-inventorytab1 Page 1 
input(type="radio" name="attr_inventorytab".sheet-inventorytab sheet-inventorytab2" value="2" title="Page 2") 
<span.sheet-inventorytab sheet-inventorytab2 Page 2 
input(type="radio" name="attr_inventorytab".sheet-inventorytab sheet-inventorytab3" value="3" title="Page 3") 
<span.sheet-inventorytab sheet-inventorytab3 Page 3 
input(type="radio" name="attr_inventorytab".sheet-inventorytab sheet-inventorytab4" value="4" title="Page 4") 
<span.sheet-inventorytab sheet-inventorytab4 Page 4 
input(type="radio" name="attr_inventorytab".sheet-inventorytab sheet-inventorytab99" value="99" title="Show All") 
<span.sheet-inventorytab sheet-inventorytab99 Show All 
<span.sheet-spacer  


// BEGIN AUTO GENERATED CONTENT

// BEGIN new inventory page
.sheet-inventory-page1 

    .sheet-grid.sheet-grid--sub 
        .sheet-grid__cell.sheet-grid__cell--1-15 label Row # 
        .sheet-grid__cell.sheet-grid__cell--1-15 label Carried? 
        .sheet-grid__cell.sheet-grid__cell--1-15 label Qty 
        .sheet-grid__cell.sheet-grid__cell--4-15 label Name 
        .sheet-grid__cell.sheet-grid__cell--2-15 label Weight 
        .sheet-grid__cell.sheet-grid__cell--6-15 label Descripton 
     

    // BEGIN inventory row
    .sheet-inventory-row1 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 1 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried1" value="@{inventoryweight1}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty1" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname1  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight1" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription1  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row2 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 2 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried2" value="@{inventoryweight2}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty2" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname2  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight2" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription2  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row3 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 3 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried3" value="@{inventoryweight3}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty3" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname3  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight3" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription3  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row4 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 4 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried4" value="@{inventoryweight4}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty4" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname4  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight4" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription4  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row5 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 5 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried5" value="@{inventoryweight5}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty5" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname5  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight5" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription5  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row6 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 6 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried6" value="@{inventoryweight6}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty6" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname6  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight6" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription6  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row7 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 7 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried7" value="@{inventoryweight7}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty7" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname7  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight7" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription7  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row8 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 8 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried8" value="@{inventoryweight8}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty8" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname8  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight8" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription8  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row9 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 9 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried9" value="@{inventoryweight9}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty9" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname9  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight9" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription9  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row10 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 10 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried10" value="@{inventoryweight10}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty10" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname10  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight10" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription10  
         

     

    // END inventory row
 
// END inventory page            // BEGIN new inventory page
.sheet-inventory-page2 

    .sheet-grid.sheet-grid--sub 
        .sheet-grid__cell.sheet-grid__cell--1-15 label Row # 
        .sheet-grid__cell.sheet-grid__cell--1-15 label Carried? 
        .sheet-grid__cell.sheet-grid__cell--1-15 label Qty 
        .sheet-grid__cell.sheet-grid__cell--4-15 label Name 
        .sheet-grid__cell.sheet-grid__cell--2-15 label Weight 
        .sheet-grid__cell.sheet-grid__cell--6-15 label Descripton 
     

    // BEGIN inventory row
    .sheet-inventory-row11 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 11 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried11" value="@{inventoryweight11}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty11" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname11  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight11" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription11  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row12 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 12 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried12" value="@{inventoryweight12}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty12" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname12  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight12" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription12  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row13 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 13 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried13" value="@{inventoryweight13}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty13" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname13  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight13" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription13  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row14 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 14 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried14" value="@{inventoryweight14}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty14" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname14  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight14" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription14  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row15 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 15 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried15" value="@{inventoryweight15}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty15" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname15  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight15" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription15  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row16 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 16 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried16" value="@{inventoryweight16}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty16" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname16  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight16" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription16  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row17 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 17 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried17" value="@{inventoryweight17}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty17" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname17  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight17" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription17  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row18 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 18 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried18" value="@{inventoryweight18}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty18" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname18  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight18" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription18  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row19 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 19 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried19" value="@{inventoryweight19}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty19" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname19  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight19" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription19  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row20 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 20 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried20" value="@{inventoryweight20}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty20" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname20  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight20" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription20  
         

     

    // END inventory row
 
// END inventory page            // BEGIN new inventory page
.sheet-inventory-page3 

    .sheet-grid.sheet-grid--sub 
        .sheet-grid__cell.sheet-grid__cell--1-15 label Row # 
        .sheet-grid__cell.sheet-grid__cell--1-15 label Carried? 
        .sheet-grid__cell.sheet-grid__cell--1-15 label Qty 
        .sheet-grid__cell.sheet-grid__cell--4-15 label Name 
        .sheet-grid__cell.sheet-grid__cell--2-15 label Weight 
        .sheet-grid__cell.sheet-grid__cell--6-15 label Descripton 
     

    // BEGIN inventory row
    .sheet-inventory-row21 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 21 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried21" value="@{inventoryweight21}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty21" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname21  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight21" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription21  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row22 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 22 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried22" value="@{inventoryweight22}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty22" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname22  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight22" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription22  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row23 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 23 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried23" value="@{inventoryweight23}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty23" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname23  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight23" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription23  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row24 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 24 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried24" value="@{inventoryweight24}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty24" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname24  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight24" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription24  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row25 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 25 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried25" value="@{inventoryweight25}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty25" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname25  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight25" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription25  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row26 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 26 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried26" value="@{inventoryweight26}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty26" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname26  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight26" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription26  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row27 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 27 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried27" value="@{inventoryweight27}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty27" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname27  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight27" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription27  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row28 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 28 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried28" value="@{inventoryweight28}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty28" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname28  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight28" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription28  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row29 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 29 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried29" value="@{inventoryweight29}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty29" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname29  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight29" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription29  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row30 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 30 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried30" value="@{inventoryweight30}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty30" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname30  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight30" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription30  
         

     

    // END inventory row
 
// END inventory page            // BEGIN new inventory page
.sheet-inventory-page4 

    .sheet-grid.sheet-grid--sub 
        .sheet-grid__cell.sheet-grid__cell--1-15 label Row # 
        .sheet-grid__cell.sheet-grid__cell--1-15 label Carried? 
        .sheet-grid__cell.sheet-grid__cell--1-15 label Qty 
        .sheet-grid__cell.sheet-grid__cell--4-15 label Name 
        .sheet-grid__cell.sheet-grid__cell--2-15 label Weight 
        .sheet-grid__cell.sheet-grid__cell--6-15 label Descripton 
     

    // BEGIN inventory row
    .sheet-inventory-row31 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 31 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried31" value="@{inventoryweight31}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty31" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname31  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight31" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription31  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row32 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 32 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried32" value="@{inventoryweight32}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty32" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname32  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight32" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription32  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row33 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 33 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried33" value="@{inventoryweight33}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty33" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname33  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight33" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription33  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row34 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 34 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried34" value="@{inventoryweight34}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty34" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname34  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight34" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription34  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row35 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 35 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried35" value="@{inventoryweight35}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty35" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname35  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight35" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription35  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row36 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 36 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried36" value="@{inventoryweight36}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty36" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname36  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight36" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription36  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row37 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 37 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried37" value="@{inventoryweight37}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty37" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname37  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight37" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription37  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row38 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 38 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried38" value="@{inventoryweight38}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty38" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname38  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight38" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription38  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row39 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 39 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried39" value="@{inventoryweight39}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty39" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname39  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight39" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription39  
         

     

    // END inventory row

    // BEGIN inventory row
    .sheet-inventory-row40 

        .sheet-grid sheet-grey-row 
            .sheet-grid__cell.sheet-grid__cell--1-15 sheet-inventory-row-number 40 
            .sheet-grid__cell.sheet-grid__cell--1-15 input(class="tick" type="checkbox" name="attr_inventorycarried40" value="@{inventoryweight40}" checked="checked"  
            .sheet-grid__cell.sheet-grid__cell--1-15 input(type="number" name="attr_inventoryqty40" value="1" min="0" step="1  
            .sheet-grid__cell.sheet-grid__cell--4-15 input(type="text" name="attr_inventoryname40  
            .sheet-grid__cell.sheet-grid__cell--2-15 input(type="number" name="attr_inventoryweight40" value="0" step="0.01  
            .sheet-grid__cell.sheet-grid__cell--6-15 input(type="text" name="attr_inventorydescription40  
         

     

    // END inventory row
 
// END inventory pageinput(type="hidden" name="attr_inventory_weight_calc" value="(@{inventorycarried1} + (((@{inventoryqty1} - 1) * @{inventorycarried1}) * @{weight_unit_setting}) + @{inventorycarried2} + (((@{inventoryqty2} - 1) * @{inventorycarried2}) * @{weight_unit_setting}) + @{inventorycarried3} + (((@{inventoryqty3} - 1) * @{inventorycarried3}) * @{weight_unit_setting}) + @{inventorycarried4} + (((@{inventoryqty4} - 1) * @{inventorycarried4}) * @{weight_unit_setting}) + @{inventorycarried5} + (((@{inventoryqty5} - 1) * @{inventorycarried5}) * @{weight_unit_setting}) + @{inventorycarried6} + (((@{inventoryqty6} - 1) * @{inventorycarried6}) * @{weight_unit_setting}) + @{inventorycarried7} + (((@{inventoryqty7} - 1) * @{inventorycarried7}) * @{weight_unit_setting}) + @{inventorycarried8} + (((@{inventoryqty8} - 1) * @{inventorycarried8}) * @{weight_unit_setting}) + @{inventorycarried9} + (((@{inventoryqty9} - 1) * @{inventorycarried9}) * @{weight_unit_setting}) + @{inventorycarried10} + (((@{inventoryqty10} - 1) * @{inventorycarried10}) * @{weight_unit_setting}) + @{inventorycarried11} + (((@{inventoryqty11} - 1) * @{inventorycarried11}) * @{weight_unit_setting}) + @{inventorycarried12} + (((@{inventoryqty12} - 1) * @{inventorycarried12}) * @{weight_unit_setting}) + @{inventorycarried13} + (((@{inventoryqty13} - 1) * @{inventorycarried13}) * @{weight_unit_setting}) + @{inventorycarried14} + (((@{inventoryqty14} - 1) * @{inventorycarried14}) * @{weight_unit_setting}) + @{inventorycarried15} + (((@{inventoryqty15} - 1) * @{inventorycarried15}) * @{weight_unit_setting}) + @{inventorycarried16} + (((@{inventoryqty16} - 1) * @{inventorycarried16}) * @{weight_unit_setting}) + @{inventorycarried17} + (((@{inventoryqty17} - 1) * @{inventorycarried17}) * @{weight_unit_setting}) + @{inventorycarried18} + (((@{inventoryqty18} - 1) * @{inventorycarried18}) * @{weight_unit_setting}) + @{inventorycarried19} + (((@{inventoryqty19} - 1) * @{inventorycarried19}) * @{weight_unit_setting}) + @{inventorycarried20} + (((@{inventoryqty20} - 1) * @{inventorycarried20}) * @{weight_unit_setting}) + @{inventorycarried21} + (((@{inventoryqty21} - 1) * @{inventorycarried21}) * @{weight_unit_setting}) + @{inventorycarried22} + (((@{inventoryqty22} - 1) * @{inventorycarried22}) * @{weight_unit_setting}) + @{inventorycarried23} + (((@{inventoryqty23} - 1) * @{inventorycarried23}) * @{weight_unit_setting}) + @{inventorycarried24} + (((@{inventoryqty24} - 1) * @{inventorycarried24}) * @{weight_unit_setting}) + @{inventorycarried25} + (((@{inventoryqty25} - 1) * @{inventorycarried25}) * @{weight_unit_setting}) + @{inventorycarried26} + (((@{inventoryqty26} - 1) * @{inventorycarried26}) * @{weight_unit_setting}) + @{inventorycarried27} + (((@{inventoryqty27} - 1) * @{inventorycarried27}) * @{weight_unit_setting}) + @{inventorycarried28} + (((@{inventoryqty28} - 1) * @{inventorycarried28}) * @{weight_unit_setting}) + @{inventorycarried29} + (((@{inventoryqty29} - 1) * @{inventorycarried29}) * @{weight_unit_setting}) + @{inventorycarried30} + (((@{inventoryqty30} - 1) * @{inventorycarried30}) * @{weight_unit_setting}) + @{inventorycarried31} + (((@{inventoryqty31} - 1) * @{inventorycarried31}) * @{weight_unit_setting}) + @{inventorycarried32} + (((@{inventoryqty32} - 1) * @{inventorycarried32}) * @{weight_unit_setting}) + @{inventorycarried33} + (((@{inventoryqty33} - 1) * @{inventorycarried33}) * @{weight_unit_setting}) + @{inventorycarried34} + (((@{inventoryqty34} - 1) * @{inventorycarried34}) * @{weight_unit_setting}) + @{inventorycarried35} + (((@{inventoryqty35} - 1) * @{inventorycarried35}) * @{weight_unit_setting}) + @{inventorycarried36} + (((@{inventoryqty36} - 1) * @{inventorycarried36}) * @{weight_unit_setting}) + @{inventorycarried37} + (((@{inventoryqty37} - 1) * @{inventorycarried37}) * @{weight_unit_setting}) + @{inventorycarried38} + (((@{inventoryqty38} - 1) * @{inventorycarried38}) * @{weight_unit_setting}) + @{inventorycarried39} + (((@{inventoryqty39} - 1) * @{inventorycarried39}) * @{weight_unit_setting}) + @{inventorycarried40} + (((@{inventoryqty40} - 1) * @{inventorycarried40}) * @{weight_unit_setting}))" 

// END AUTO GENERATED CONTENT
